# MySQL com Python

O [MySQL](https://www.mysql.com/) é um dos [sistemas de gerenciamento de banco de dados](https://en.wikipedia.org/wiki/Database#Database_management_system) mais populares do mercado atualmente. Ele ficou em segundo lugar apenas para o Oracle DBMS no [DB-Engines Ranking](https://db-engines.com/en/ranking) deste ano. Como a maioria dos aplicativos de software precisa interagir com os dados de alguma forma, linguagens de programação como Python fornecem ferramentas para armazenar e acessar essas fontes de dados.

[SQL](https://en.wikipedia.org/wiki/SQL) significa **Structured Query Language** e é uma linguagem de domínio-específico, amplamente usada para gerenciar bancos de dados relacionais. Você pode ter ouvido falar de diferentes tipos de sistemas de gerenciamento de banco de dados baseados em SQL. Os mais populares incluem: MySQL, PostgreSQL, SQLite e SQL Server. Todos esses bancos de dados são compatíveis com os padrões SQL, mas com diferentes graus de conformidade.

Sendo de código aberto desde seu início em 1995, o MySQL rapidamente se tornou um líder de mercado entre as soluções SQL. O MySQL também faz parte do ecossistema Oracle. Embora sua funcionalidade principal seja totalmente gratuita, também existem alguns complementos pagos.

## Instalando o MySQL Server e MySQL Connector/Python

Agora, para começar a trabalhar neste tutorial, você precisa configurar duas coisas: 

- Um **servidor MySQL** 
- Um **conector MySQL** 

O [servidor MySQL](https://dev.mysql.com/doc/refman/8.0/en/) fornecerá todos os serviços necessários para lidar com seu banco de dados. Assim que o servidor estiver instalado e funcionando, você pode conectar seu aplicativo Python a ele usando o [MySQL Connector/Python](https://dev.mysql.com/doc/connector-python/en/).

### Instalando o Servidor MySQL

A [documentação oficial](https://dev.mysql.com/doc/refman/5.7/en/installing.html) detalha a maneira recomendada de baixar e instalar o servidor MySQL. Você encontrará instruções para todos os sistemas operacionais populares, incluindo Windows, macOS, Solaris, Linux e muitos mais.

### Instalando o MySQL Connector/Python

Um [driver de banco de dados](https://docs.microsoft.com/en-us/sql/odbc/reference/dbms-based-drivers) é um software que permite que um aplicativo se conecte e interaja com um sistema de banco de dados. Linguagens de programação como Python precisam de um driver especial antes de poderem se comunicar com um banco de dados de um fornecedor específico.

Esses drivers são normalmente obtidos como módulos de terceiros. A API de banco de dados Python (DB-API) define a interface padrão com a qual todos os drivers de banco de dados Python devem estar em conformidade. Esses detalhes estão documentados no [PEP 249](https://www.python.org/dev/peps/pep-0249/). Todos os drivers de banco de dados Python, como sqlite3 para SQLite, [psycopg](https://www.psycopg.org/docs/) para PostgreSQL e [MySQL Connector/Python](https://github.com/mysql/mysql-connector-python) para MySQL, seguem essas regras de implementação.

**Observação**: a documentação oficial do MySQL usa o termo **connector** em vez de driver. Tecnicamente, os conectores estão associados apenas à conexão com um banco de dados, não à interação com ele. No entanto, o termo é freqüentemente usado para todo o módulo de acesso ao banco de dados que compreende o conector e o driver.

Muitas linguagens de programação populares têm sua própria API de banco de dados. Por exemplo, Java tem a API [Java Database Connectivity (JDBC)](https://docs.oracle.com/javase/8/docs/technotes/guides/jdbc/). Se você precisar conectar um aplicativo Java a um banco de dados MySQL, precisará usar o conector MySQL JDBC, que segue a API JDBC.

Da mesma forma, em Python, você precisa instalar um conector Python MySQL para interagir com um banco de dados MySQL. Muitos pacotes seguem os padrões DB-API, mas o mais popular entre eles é o MySQL Connector/Python. Você pode obtê-lo com [pip](https://realpython.com/what-is-pip/):

```
pip install mysql-connector-python
```

Para testar se a instalação foi bem-sucedida, podemos executar o seguinte comando:

In [1]:
import mysql.connector

## Estabelecendo uma Conexão com o Servidor MySQL

MySQL é um sistema de gerenciamento de banco de dados baseado em servidor. 

Um servidor pode conter vários bancos de dados. Para interagir com um banco de dados, você deve primeiro estabelecer uma conexão com o servidor. O fluxo de trabalho geral de um programa Python que interage com um banco de dados baseado em MySQL é o seguinte:

1. Conecte-se ao servidor MySQL.
2. Crie um novo banco de dados.
3. Conecte-se ao banco de dados recém-criado ou um outro existente.
4. Execute uma consulta SQL e obtenha os resultados (Criar tabelas, inserir, selecionar e atualizar dados).
5. Informe o banco de dados se alguma alteração for feita em uma tabela.
6. Feche a conexão com o servidor MySQL.

Este é um fluxo de trabalho genérico que pode variar dependendo do aplicativo individual. Mas seja qual for o aplicativo, a primeira etapa é conectar seu banco de dados ao seu aplicativo.

### Conectando

O primeiro passo para interagir com um servidor MySQL é estabelecer uma conexão. Para fazer isso, você precisa do método **[connect()](https://dev.mysql.com/doc/connector-python/en/connector-python-api-mysql-connector-connect.html)** do módulo **mysql.connector**. 

Esta função recebe parâmetros como **host**, **usuário** e **senha** e retorna um objeto **MySQLConnection**. 

Você pode receber essas credenciais como input do usuário e passá-las para **connect()**:

In [10]:
from getpass import getpass
from mysql.connector import connect, Error

user = input('Informe o usuário: ')
password = getpass('Informe a senha: ')

try: 
    connection = connect(host="localhost", user=user, password=password)
    print(connection)
except Error as e:
    print(e)

Informe o usuário:  root
Informe a senha:  ·············

<mysql.connector.connection.MySQLConnection object at 0x7f8ba87027d0>

Agora você estabeleceu uma conexão entre o seu programa e o servidor MySQL, mas ainda precisa criar um novo banco de dados ou conectar-se a um banco de dados existente dentro do servidor.

### Criando um Novo Banco de Dados

Na última seção, você estabeleceu uma conexão com o servidor MySQL. 

Para criar um novo banco de dados, você precisa executar uma instrução SQL:

```sql
CREATE DATABASE livros_db;
```

A instrução acima criará um novo banco de dados com o nome **livros_db**.

Para executar uma consulta SQL em Python, você precisará usar um [cursor](https://en.wikipedia.org/wiki/Cursor_(databases)), que abstrai o acesso aos registros do banco de dados. MySQL Connector/Python fornece a classe [MySQLCursor](https://dev.mysql.com/doc/connector-python/en/connector-python-api-mysqlcursor.html), que instancia objetos que podem executar consultas MySQL em Python. Uma instância da classe MySQLCursor também é chamada de **cursor**.

Objetos cursor fazem uso de um objeto MySQLConnection para interagir com seu servidor MySQL. Para criar um cursor, use o método **cursor()** da sua variável de **connection**:

In [11]:
cursor = connection.cursor()
print(cursor)

MySQLCursor: (Nothing executed yet)

O código acima fornece uma instância da classe **MySQLCursor**.

Uma consulta que precisa ser executada é enviada para **cursor.execute()** em formato de string. Nesta ocasião específica, você enviará a consulta `CREATE DATABASE` para **cursor.execute()**:

In [13]:
user = input('Informe o usuário: ')
password = getpass('Informe a senha: ')

try: 
    connection = connect(host="localhost", user=user, password=password)
    create_db_query = "CREATE DATABASE avaliacoes_filmes"
    cursor = connection.cursor()
    cursor.execute(create_db_query)
except Error as e:
    print(e)

Informe o usuário:  root
Informe a senha:  ·············

Após executar o código acima, você terá um novo banco de dados chamado **avaliacoes_filmes** em seu servidor MySQL.

A consulta **CREATE DATABASE** é armazenada como uma string na variável **create_db_query** e então passada para **cursor.execute()** para execução. 

Você pode receber um erro aqui se um banco de dados com o mesmo nome já existir em seu servidor. Para confirmar isso, você pode exibir o nome de todos os bancos de dados em seu servidor. Usando o mesmo objeto **MySQLConnection** anterior, execute a instrução `SHOW DATABASES`:

In [19]:
user = input('Informe o usuário: ')
password = getpass('Informe a senha: ')

try: 
    connection = connect(host="localhost", user=user, password=password)
    show_db_query = "SHOW DATABASES"
    cursor = connection.cursor()
    cursor.execute(show_db_query)
    for db in cursor:
        print(db)
except Error as e:
    print(e)

Informe o usuário:  root
Informe a senha:  ·············

('information_schema',)
('avaliacoes_filmes',)
('banco',)
('mysql',)
('performance_schema',)
('sys',)
('wordpress',)

O código acima imprime os nomes de todos os bancos de dados atualmente em seu servidor MySQL. 

O comando `SHOW DATABASES` também produz alguns bancos de dados que você não criou em seu servidor, como **information_schema**, **performance_schema** e assim por diante. Esses bancos de dados são gerados automaticamente pelo servidor MySQL e fornecem acesso a uma variedade de metadados de banco de dados e configurações do servidor MySQL.

Você criou um novo banco de dados nesta seção executando a instrução `CREATE DATABASE`. Na próxima seção, você verá como se conectar a um banco de dados que já existe.

### Conectando-se a um Banco de Dados Existente

Na última seção, você criou um novo banco de dados chamado **avaliacoes_filmes**. No entanto, você ainda não se conectou a ele. Em muitas situações, você já terá um banco de dados MySQL que deseja conectar ao seu aplicativo Python.

Você pode fazer isso usando a mesma função **connect()** usada anteriormente, enviando um parâmetro adicional chamado banco de dados:

In [21]:
try: 
    connection = connect(host="localhost", user=user, password=password, database="avaliacoes_filmes")
    print(connection)
except Error as e:
    print(e)

<mysql.connector.connection.MySQLConnection object at 0x7f8ba89a86d0>

O código acima é muito semelhante ao script de conexão que você usou anteriormente. A única mudança aqui é o parâmetro **database** adicional, onde o nome de seu banco de dados é passado para **connect()**. Depois de executar este script, você será conectado ao banco de dados **avaliacoes_filmes**.

### Criando, Alterando e Eliminando uma Tabela

Nesta seção, você aprenderá a realizar algumas consultas [DDL](https://en.wikipedia.org/wiki/Data_definition_language) básicas, como **CREATE**, **DROP** e **ALTER** com Python.

Você também criará todas as tabelas necessárias para o banco de dados e aprenderá a realizar modificações nessas tabelas posteriormente.

#### Definindo o Esquema de Banco de Dados

Começamos criando um esquema de banco de dados para um sistema de Avaliações de Filme. O banco de dados será composto por três tabelas:

1. **Filmes**: contém informações gerais sobre filmes e possui os seguintes atributos:
    - id
    - título
    - ano_lançamento
    - gênero

2. **Revisores**: contém informações sobre pessoas que postaram comentários ou avaliações dos filmes e possui os seguintes atributos:
    - id
    - nome
    - sobrenome
 
3. **Avaliações**: contém informações sobre as avaliações que foram postadas e possui os seguintes atributos:
    - filme_id (chave estrangeira)
    - revisor_id (chave estrangeira)
    - avaliação

Esteja ciente que um sistema de classificação de filmes do mundo real, como o [IMDb](https://www.imdb.com/), precisaria armazenar vários outros atributos, como e-mails, listas de elenco de filmes e assim por diante. Se desejar, você pode adicionar mais tabelas e atributos a este banco de dados.

A imagem abaixo mostra o esquema do banco de dados:

![img](https://i.ibb.co/RHR3zCL/scheme.png)

As tabelas neste banco de dados estão relacionadas entre si. **filmes** e **revisores** terão uma relação muitos para muitos, pois um filme pode ser revisado por vários revisores e um revisor pode revisar vários filmes. A tabela de **avaliações** conecta a tabela de filmes com a tabela de revisores.

#### Criando Tabelas usando a Instrução CREATE TABLE

Para criar uma nova tabela no MySQL, você precisa usar a instrução `CREATE TABLE`. 

A seguinte consulta MySQL criará a tabela **filmes** para seu banco de dados **avaliacoes_filmes**:

```sql
CREATE TABLE filmes(
    id INT AUTO_INCREMENT PRIMARY KEY,
    titulo VARCHAR(100),
    ano_lancamento YEAR(4),
    genero VARCHAR(100)
);
```

Para criar uma nova tabela, você precisa passar esta consulta para **cursor.execute()**, que aceita uma consulta MySQL e executa a consulta no banco de dados MySQL conectado:

In [23]:
try: 
    connection = connect(host="localhost", user=user, password=password, database="avaliacoes_filmes")
    create_filmes_table_query = """
    CREATE TABLE filmes(
        id INT AUTO_INCREMENT PRIMARY KEY,
        titulo VARCHAR(100),
        ano_lancamento YEAR(4),
        genero VARCHAR(100)
    )
    """
    cursor = connection.cursor()
    cursor.execute(create_filmes_table_query)
    connection.commit()
except Error as e:
    print(e)

Agora você tem a tabela de **filmes** em seu banco de dados. Você passa **create_filmes_table_query** para **cursor.execute()**, que realiza a execução necessária.

Além disso, observe a instrução **connection.commit()** no final do código. Por padrão, seu conector MySQL não confirma transações automaticamente. No MySQL, as modificações mencionadas em uma transação ocorrem apenas quando você usa um comando **COMMIT** no final. Sempre chame este método após cada transação para realizar alterações na tabela real.

Como fez com a tabela de filmes, execute o seguinte script para criar a tabela de **revisores**:

In [24]:
try: 
    connection = connect(host="localhost", user=user, password=password, database="avaliacoes_filmes")
    create_revisores_table_query = """
    CREATE TABLE revisores (
        id INT AUTO_INCREMENT PRIMARY KEY,
        nome VARCHAR(100),
        sobrenome VARCHAR(100)
    )
    """
    cursor = connection.cursor()
    cursor.execute(create_revisores_table_query)
    connection.commit()
except Error as e:
    print(e)

Finalmente, você pode criar a tabela de **avaliações** usando o seguinte script:

In [26]:
try: 
    connection = connect(host="localhost", user=user, password=password, database="avaliacoes_filmes")
    create_avaliacoes_table_query = """
    CREATE TABLE avaliacoes (
        filme_id INT,
        revisor_id INT,
        avaliacao DECIMAL(2,1),
        FOREIGN KEY(filme_id) REFERENCES filmes(id),
        FOREIGN KEY(revisor_id) REFERENCES revisores(id),
        PRIMARY KEY(filme_id, revisor_id)
    )
    """
    cursor = connection.cursor()
    cursor.execute(create_avaliacoes_table_query)
    connection.commit()
except Error as e:
    print(e)

A implementação de relacionamentos de chave estrangeira no MySQL é ligeiramente diferente e limitada em [comparação com o SQL padrão](https://dev.mysql.com/doc/mysql-reslimits-excerpt/8.0/en/ansi-diff-foreign-keys.html). No MySQL, o pai e o filho na restrição de chave estrangeira devem usar o mesmo mecanismo de armazenamento (**storage engine**).

Um mecanismo de armazenamento é o componente de software subjacente que um sistema de gerenciamento de banco de dados usa para executar operações SQL. No MySQL, os mecanismos de armazenamento vêm em dois sabores diferentes:

1. **Transactional storage engines** são seguros para transações e permitem reverter transações usando comandos simples como **[rollback](https://dev.mysql.com/doc/refman/8.0/en/innodb-autocommit-commit-rollback.html)**. Muitos motores MySQL populares, incluindo [InnoDB](https://dev.mysql.com/doc/refman/8.0/en/innodb-storage-engine.html) e [NDB](https://dev.mysql.com/doc/refman/8.0/en/mysql-cluster.html), pertencem a esta categoria.

2. **Nontransactional storage engines** dependem de código manual elaborado para desfazer instruções confirmadas em um banco de dados. [MyISAM](https://dev.mysql.com/doc/refman/8.0/en/myisam-storage-engine.html), [MEMORY](https://dev.mysql.com/doc/refman/8.0/en/memory-storage-engine.html) e muitos outros mecanismos MySQL são nontransactional.

InnoDB é o mecanismo de armazenamento padrão e mais popular. Ele ajuda a manter a integridade dos dados, oferecendo suporte a restrições de chave estrangeira. Isso significa que qualquer operação [CRUD](https://en.wikipedia.org/wiki/Create,_read,_update_and_delete) em uma chave estrangeira é verificada para garantir que não leve a inconsistências em tabelas diferentes.

Além disso, observe que a tabela de **avaliações** usa as colunas **filme_id** e **revisor_id**, ambas chaves estrangeiras, juntamente com a chave primária. Esta etapa garante que um revisor não possa avaliar o mesmo filme duas vezes.

#### Mostrando um Esquema de Tabela usando a Instrução DESCRIBE

Agora que você criou todas as três tabelas, é possível examinar seu esquema usando a seguinte instrução SQL:

```sql
DESCRIBE <nome_tabela>;
```

Para obter alguns resultados do objeto cursor, você precisa usar **cursor.fetchall()**. Este método busca todas as linhas da última instrução executada. Supondo que você já tenha o objeto **MySQLConnection** na variável de **connection**, você pode imprimir todos os resultados obtidos por **cursor.fetchall()**:

In [28]:
try: 
    connection = connect(host="localhost", user=user, password=password, database="avaliacoes_filmes")
    show_table_query = "DESCRIBE filmes"
    cursor = connection.cursor()
    cursor.execute(show_table_query)
    result = cursor.fetchall()
    for row in result:
        print(row)
except Error as e:
    print(e)

('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment')
('titulo', 'varchar(100)', 'YES', '', None, '')
('ano_lancamento', 'year(4)', 'YES', '', None, '')
('genero', 'varchar(100)', 'YES', '', None, '')

Depois de executar o código acima, você deve receber uma tabela contendo informações sobre todas as colunas da tabela **filmes**. Para cada coluna, você receberá detalhes como o tipo de dados da coluna, se a coluna é uma chave primária e assim por diante.

#### Modificando um Esquema de Tabela usando a Instrução ALTER

Na tabela de **filmes**, você tem uma coluna chamada **titulo**, que contém o titulo do filme. Você pode escrever a seguinte instrução MySQL para modificar o tipo de dados do atributo titulo de VARCHAR(100) para VARCHAR(150):

```sql
ALTER TABLE filmes MODIFY COLUMN titulo VARCHAR(150);
```

Depois de executar a instrução `ALTER TABLE`, você pode mostrar o esquema da tabela atualizado usando `DESCRIBE`:

In [29]:
try: 
    connection = connect(host="localhost", user=user, password=password, database="avaliacoes_filmes")
    alter_table_query = """
    ALTER TABLE filmes
    MODIFY COLUMN titulo VARCHAR(150)
    """
    show_table_query = "DESCRIBE filmes"
    cursor = connection.cursor()
    cursor.execute(alter_table_query)
    cursor.execute(show_table_query)
    result = cursor.fetchall()
    print("Esquema da tabela filme após alteração:")
    for row in result:
        print(row)
except Error as e:
    print(e)

Esquema da tabela filme após alteração:
('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment')
('titulo', 'varchar(150)', 'YES', '', None, '')
('ano_lancamento', 'year(4)', 'YES', '', None, '')
('genero', 'varchar(100)', 'YES', '', None, '')

Conforme mostrado no *output*, o atributo **titulo** agora é do tipo **VARCHAR(150)**. Observe também que, no código acima, você chama **cursor.execute()** duas vezes. Mas **cursor.fetchall()** busca linhas apenas da última consulta executada, que é **show_table_query**.

#### Excluindo Tabelas usando a Instrução DROP

Para deletar uma tabela, você precisa executar a instrução `DROP TABLE` no MySQL. Excluir uma tabela é um processo irreversível. Se você executar o código abaixo, precisará chamar a consulta `CREATE TABLE` novamente para usar a tabela de **avaliações** nas próximas seções.

Para deletar a tabela de avaliações, envie **drop_table_query** para **cursor.execute()**:

In [31]:
try: 
    connection = connect(host="localhost", user=user, password=password, database="avaliacoes_filmes")
    drop_table_query = "DROP TABLE avaliacoes"
    cursor = connection.cursor()
    cursor.execute(drop_table_query)
except Error as e:
    print(e)

1051 (42S02): Unknown table 'avaliacoes_filmes.avaliacoes'

Se você executar o código acima, terá excluído com sucesso a tabela de avaliações.

Como precisaremos dela para trabalhar, vamos então recriá-la:

In [32]:
try: 
    connection = connect(host="localhost", user=user, password=password, database="avaliacoes_filmes")
    create_avaliacoes_table_query = """
    CREATE TABLE avaliacoes (
        filme_id INT,
        revisor_id INT,
        avaliacao DECIMAL(2,1),
        FOREIGN KEY(filme_id) REFERENCES filmes(id),
        FOREIGN KEY(revisor_id) REFERENCES revisores(id),
        PRIMARY KEY(filme_id, revisor_id)
    )
    """
    cursor = connection.cursor()
    cursor.execute(create_avaliacoes_table_query)
    connection.commit()
except Error as e:
    print(e)

#### Inserindo Registros em Tabelas

Na última seção, você criou três tabelas em seu banco de dados: **filmes**, **revisores** e **avaliações**. 

Agora você precisa preencher essas tabelas com dados. Esta seção cobrirá duas maneiras diferentes de inserir registros no Conector MySQL para Python.

O primeiro método, **execute()**, funciona bem quando o número de registros é pequeno e os registros podem ser codificados permanentemente. O segundo método, **executemany()**, é mais popular e é mais adequado para cenários do mundo real.

##### Usando **execute()**

A primeira abordagem usa o mesmo método **cursor.execute()** que você usou até agora. Você escreve a consulta `INSERT INTO` em uma string e a passa para **cursor.execute()**. Você pode usar este método para inserir dados na tabela de filmes.

Para referência, a tabela de filmes possui quatro atributos:

- id 
- titulo
- ano_lancamento
- genero

Você não precisa adicionar dados para **id**, pois **AUTO_INCREMENT** calcula automaticamente o **id** para você. O seguinte script insere registros na tabela de filmes:

In [33]:
try: 
    connection = connect(host="localhost", user=user, password=password, database="avaliacoes_filmes")
    insert_movies_query = """
    INSERT INTO filmes (titulo, ano_lancamento, genero)
    VALUES
        ("Forrest Gump", 1994, "Drama"),
        ("Gladiator", 2000, "Action"),
        ("Titanic", 1997, "Romance"),
        ("The Godfather", 1972, "Crime"),
        ("Inception", 2010, "Adventure"),
        ("Pulp Fiction", 1994, "Crime"),
        ("The Matrix", 1999, "Cyberpunk"),
        ("Johnny Mnemonic", 1995, "Cyberpunk"),
        ("Dark City", 1998, "Science Fiction"),
        ("They Live", 1988, "Science Fiction"),
        ("The Truman Show", 1998, "Comedy Drama"),
        ("Brazil", 1985, "Black Comedy"),
        ("THX 1138", 1971, "Science Fiction"),
        ("Andrei Rublev", 1966, "Historical Drama"),
        ("The Thirteenth Floor", 1999, "Science Fiction"),
        ("2001: A Space Odyssey", 1968, "Science Fiction")
    """
    cursor = connection.cursor()
    cursor.execute(insert_movies_query)
    connection.commit()
except Error as e:
    print(e)

A tabela de filmes agora está carregada com 16 registros. 

O código chama **connection.commit()** no final. É crucial chamar **commit()** após realizar quaisquer modificações em uma tabela.

##### Usando **executemany()**

A abordagem anterior é mais adequada quando o número de registros é bastante pequeno e você pode escrever esses registros diretamente no código. Mas isso raramente é verdade. Freqüentemente, você terá esses dados armazenados em algum outro arquivo ou os dados serão gerados por um script diferente e precisarão ser adicionados ao banco de dados MySQL.

É aqui que **executemany()** se torna útil. Ele aceita dois parâmetros:

1. Uma consulta que contém marcadores de posição (**placeholders**) para os registros que precisam ser inseridos.
2. Uma lista que contém todos os registros que você deseja inserir.

O exemplo a seguir insere registros para a tabela de revisores:

In [34]:
try: 
    connection = connect(host="localhost", user=user, password=password, database="avaliacoes_filmes")
    insert_revisores_query = """
    INSERT INTO revisores
    (nome, sobrenome)
    VALUES (%s, %s)
    """
    registros_revisores = [
        ("Chaitanya", "Baweja"),
        ("Mary", "Cooper"),
        ("John", "Wayne"),
        ("Thomas", "Stoneman"),
        ("Penny", "Hofstadter"),
        ("Mitchell", "Marsh"),
        ("Wyatt", "Skaggs"),
        ("Andre", "Veiga"),
        ("Sheldon", "Cooper"),
        ("Kimbra", "Masters"),
        ("Kat", "Dennings"),
        ("Bruce", "Wayne"),
        ("Domingo", "Cortes"),
        ("Rajesh", "Koothrappali"),
        ("Ben", "Glocker"),
        ("Mahinder", "Dhoni"),
        ("Akbar", "Khan"),
        ("Howard", "Wolowitz"),
        ("Pinkie", "Petit"),
        ("Gurkaran", "Singh"),
        ("Amy", "Farah Fowler"),
        ("Marlon", "Crafford"),
    ]
    cursor = connection.cursor()
    cursor.executemany(insert_revisores_query, registros_revisores)
    connection.commit()
except Error as e:
    print(e)

No script acima, você passa a consulta e a lista de registros como argumentos para **executemany()**. Esses registros podem ter sido obtidos de um arquivo ou do usuário e armazenados na lista **registros_revisores**.

O código usa **%s** como um espaço reservado para as duas strings que tiveram que ser inseridas em **insert_revisores_query**. Os marcadores de posição atuam como especificadores de formato e ajudam a reservar um lugar para uma variável dentro de uma string. A variável especificada é então adicionada a este local durante a execução.

Da mesma forma, você pode usar **executemany()** para inserir registros na tabela de avaliacoes:

In [37]:
try: 
    connection = connect(host="localhost", user=user, password=password, database="avaliacoes_filmes")
    insert_avaliacoes_query = """
    INSERT INTO avaliacoes
    (avaliacao, filme_id, revisor_id)
    VALUES (%s, %s, %s)
    """
    registros_avaliacoes = [
        (6.4, 1, 5), (5.6, 2, 1), (6.3, 3, 14), (5.1, 4, 17),
        (5.0, 5, 5), (6.5, 6, 5), (8.5, 7, 13), (9.7, 8, 4),
        (8.5, 9, 12), (9.9, 10, 9), (8.7, 11, 14), (9.9, 12, 10),
        (5.1, 13, 6), (5.4, 14, 16), (6.2, 15, 20), (7.3, 16, 19)
    ]
    cursor = connection.cursor()
    cursor.executemany(insert_avaliacoes_query, registros_avaliacoes)
    connection.commit()
except Error as e:
    print(e)

Todas as três tabelas agora são preenchidas com dados. Agora você tem um banco de dados de **avaliações de filmes** totalmente funcional. A próxima etapa é entender como interagir com esse banco de dados.

### Lendo Registros do Banco de Dados

Até agora, você construiu seu banco de dados. Agora é hora de realizar algumas consultas nele e encontrar algumas propriedades interessantes deste conjunto de dados. Nesta seção, você aprenderá a ler registros de tabelas de banco de dados usando a instrução [SELECT](https://dev.mysql.com/doc/refman/8.0/en/select.html).

#### Lendo Registros usando a Instrução SELECT

Para recuperar registros, você precisa enviar uma consulta **SELECT** para **cursor.execute()**. Em seguida, você usa **cursor.fetchall()** para extrair a tabela recuperada na forma de uma lista de linhas ou registros.

Tente escrever uma consulta MySQL para selecionar todos os registros da tabela de filmes e enviá-la para **execute()**:

In [39]:
try: 
    connection = connect(host="localhost", user=user, password=password, database="avaliacoes_filmes")
    select_filmes_query = "SELECT * FROM filmes LIMIT 5"
    cursor = connection.cursor()
    cursor.execute(select_filmes_query)
    result = cursor.fetchall()
    for row in result:
        print(row)
except Error as e:
    print(e)

(1, 'Forrest Gump', 1994, 'Drama')
(2, 'Gladiator', 2000, 'Action')
(3, 'Titanic', 1997, 'Romance')
(4, 'The Godfather', 1972, 'Crime')
(5, 'Inception', 2010, 'Adventure')

A variável de **result** contém os registros retornados do uso de **fetchall()**. É uma lista de tuplas que representam registros individuais da tabela.

Na consulta acima, você usa a cláusula **LIMIT** para restringir o número de linhas que são recebidas da instrução **SELECT**. Os desenvolvedores geralmente usam LIMIT para executar a paginação ao lidar com grandes volumes de dados.

No MySQL, a cláusula **LIMIT** aceita um ou dois argumentos numéricos não negativos. Ao usar um argumento, você especifica o número máximo de linhas a serem retornadas. Como sua consulta inclui **LIMIT** 5, apenas os 5 primeiros registros são buscados.

Ao usar os dois argumentos, você também pode especificar o **offset** da primeira linha a ser retornada:

```sql
SELECT * FROM movies LIMIT 2,5;
```

O primeiro argumento especifica um deslocamento de 2 e o segundo argumento restringe o número de linhas retornadas a 5. A consulta acima retornará as linhas 3 a 7.

Você também pode consultar apenas as colunas que deseja selecionar:

In [41]:
try: 
    connection = connect(host="localhost", user=user, password=password, database="avaliacoes_filmes")
    select_filmes_query = "SELECT titulo, ano_lancamento FROM filmes LIMIT 2,5"
    cursor = connection.cursor()
    cursor.execute(select_filmes_query)
    result = cursor.fetchall()
    for row in result:
        print(row)
except Error as e:
    print(e)

('Titanic', 1997)
('The Godfather', 1972)
('Inception', 2010)
('Pulp Fiction', 1994)
('The Matrix', 1999)

Agora, o código emite valores apenas das duas colunas especificadas: **titulo** e **ano_lancamento**.

#### Filtrando Resultados usando a Cláusula WHERE

Você pode filtrar os registros da tabela por critérios específicos usando a cláusula **WHERE**. 

Por exemplo, para recuperar todos os filmes que foram lançados depois dos anos 90, você pode executar a seguinte consulta:

```sql
SELECT titulo, ano_lancamento
FROM filmes
WHERE ano_lancamento > 1990;
```

Você também pode usar a cláusula **ORDER BY** na última consulta para ordenar os resultados do maior para o menor ano:

In [42]:
try: 
    connection = connect(host="localhost", user=user, password=password, database="avaliacoes_filmes")
    select_filmes_query = """
    SELECT titulo, ano_lancamento
    FROM filmes
    WHERE ano_lancamento > 1990
    ORDER BY ano_lancamento DESC
    """
    cursor = connection.cursor()
    cursor.execute(select_filmes_query)
    for filme in cursor.fetchall():
        print(filme)
except Error as e:
    print(e)

('Inception', 2010)
('Gladiator', 2000)
('The Matrix', 1999)
('The Thirteenth Floor', 1999)
('Dark City', 1998)
('The Truman Show', 1998)
('Titanic', 1997)
('Johnny Mnemonic', 1995)
('Forrest Gump', 1994)
('Pulp Fiction', 1994)

O MySQL oferece uma infinidade de [operações de formatação de strings](https://dev.mysql.com/doc/refman/8.0/en/string-functions.html) como **CONCAT** para concatenar strings. Freqüentemente, os sites mostram o título do filme junto com o ano de lançamento para evitar confusão. Para recuperar os títulos dos cinco filmes mais recentes, concatenados com seus gêneros, você pode escrever a seguinte consulta:

In [44]:
try: 
    connection = connect(host="localhost", user=user, password=password, database="avaliacoes_filmes")
    select_filmes_query = """
    SELECT CONCAT(titulo, " (", ano_lancamento, ")"), genero
    FROM filmes
    WHERE ano_lancamento > 1990
    ORDER BY ano_lancamento DESC
    LIMIT 5
    """
    cursor = connection.cursor()
    cursor.execute(select_filmes_query)
    for filme in cursor.fetchall():
        print(filme)
except Error as e:
    print(e)

('Inception (2010)', 'Adventure')
('Gladiator (2000)', 'Action')
('The Thirteenth Floor (1999)', 'Science Fiction')
('The Matrix (1999)', 'Cyberpunk')
('Dark City (1998)', 'Science Fiction')

Se você não quiser usar a cláusula **LIMIT** e você não precisa buscar todos os registros, o objeto **cursor** também terá os métodos **fetchone()** e **fetchmany()**:

- **fetchone()** recupera a próxima linha do resultado, como uma tupla, ou None se não houver mais linhas disponíveis.
- **fetchmany()** recupera o próximo conjunto de linhas do resultado como uma lista de tuplas. Ele tem um argumento **size**, cujo padrão é 1, que você pode usar para especificar o número de linhas que precisa buscar. Se não houver mais linhas disponíveis, o método retornará uma lista vazia.

Tente recuperar os títulos dos cinco filmes mais recentes concatenados com seus anos de lançamento e gênero novamente, mas desta vez use **fetchmany()**:

In [46]:
try: 
    connection = connect(host="localhost", user=user, password=password, database="avaliacoes_filmes")
    select_filmes_query = """
    SELECT CONCAT(titulo, " (", ano_lancamento, ")"), genero
    FROM filmes
    WHERE ano_lancamento > 1990
    ORDER BY ano_lancamento DESC
    """
    cursor = connection.cursor()
    cursor.execute(select_filmes_query)
    for filme in cursor.fetchmany(size=5):
        print(filme)
    cursor.fetchall()
except Error as e:
    print(e)

('Inception (2010)', 'Adventure')
('Gladiator (2000)', 'Action')
('The Matrix (1999)', 'Cyberpunk')
('The Thirteenth Floor (1999)', 'Science Fiction')
('Dark City (1998)', 'Science Fiction')

O *output* com **fetchmany()** é semelhante ao que você recebeu quando usou a cláusula **LIMIT**. Você deve ter notado a chamada adicional **cursor.fetchall()** no final. Faça isso para limpar todos os resultados restantes que não foram lidos por **fetchmany()**.

É necessário limpar todos os resultados não lidos antes de executar qualquer outra instrução na mesma conexão. Caso contrário, uma exceção InternalError: Unread result found será levantada.

#### Lidando com várias Tabelas usando a Instrução JOIN

Se você achou as consultas na última seção bastante diretas, não se preocupe. Você pode tornar suas consultas **SELECT** tão complexas quanto desejar usando os mesmos métodos da última seção.

Vejamos algumas consultas **JOIN** um pouco mais complexas. Se você deseja descobrir o nome dos cinco filmes mais bem avaliados em seu banco de dados, pode executar a seguinte consulta:

In [47]:
try: 
    connection = connect(host="localhost", user=user, password=password, database="avaliacoes_filmes")
    select_filmes_query = """
    SELECT titulo, AVG(avaliacao) as avaliacao_media
    FROM avaliacoes
    INNER JOIN filmes
        ON filmes.id = avaliacoes.filme_id
    GROUP BY filme_id
    ORDER BY avaliacao_media DESC
    LIMIT 5
    """
    cursor = connection.cursor()
    cursor.execute(select_filmes_query)
    for filme in cursor.fetchall():
        print(filme)
except Error as e:
    print(e)

('They Live', Decimal('9.90000'))
('Brazil', Decimal('9.90000'))
('Johnny Mnemonic', Decimal('9.70000'))
('The Truman Show', Decimal('8.70000'))
('The Matrix', Decimal('8.50000'))

Como mostrado acima, **They Live** e **Brazil** estão empatados como os filmes de melhor avaliação em seu banco de dados **avaliacoes_filmes**.

Lembre que esses dados são apenas ilustrativos e não reais.

Para encontrar o nome do revisor que deu mais avaliações, escreva a seguinte consulta:

In [48]:
try: 
    connection = connect(host="localhost", user=user, password=password, database="avaliacoes_filmes")
    select_filmes_query = """
    SELECT CONCAT(nome, " ", sobrenome), COUNT(*) as num
    FROM revisores
    INNER JOIN avaliacoes
        ON revisores.id = avaliacoes.revisor_id
    GROUP BY revisor_id
    ORDER BY num DESC
    LIMIT 1
    """
    cursor = connection.cursor()
    cursor.execute(select_filmes_query)
    for filme in cursor.fetchall():
        print(filme)
except Error as e:
    print(e)

('Penny Hofstadter', 3)

**Penny Hofstadter** é a revisora mais frequente neste banco de dados. Como visto acima, não importa o quão complicada seja a consulta, porque ela é, em última análise, tratada pelo servidor MySQL. Seu processo de execução de uma consulta sempre permanecerá o mesmo: passe a consulta para **cursor.execute()** e busque os resultados usando **fetchall()**.

### Atualizando e Excluindo Registros do Banco de Dados

Nesta seção, você atualizará e excluirá registros do banco de dados. Ambas as operações podem ser executadas em um único registro ou em vários registros da tabela. Você selecionará as linhas que precisam ser modificadas usando a cláusula **WHERE**.

#### Instrução UPDATE

Uma das revisoras de seu banco de dados, Amy Farah Fowler, agora é casada com Sheldon Cooper. O sobrenome dela agora mudou para Cooper, então você precisa atualizar seu banco de dados de acordo. Para atualizar os registros, o MySQL usa a instrução **UPDATE**:

In [49]:
try: 
    connection = connect(host="localhost", user=user, password=password, database="avaliacoes_filmes")
    update_query = """
    UPDATE
        revisores
    SET
        sobrenome = "Cooper"
    WHERE
        nome = "Amy"
    """
    cursor = connection.cursor()
    cursor.execute(update_query)
    connection.commit()
except Error as e:
    print(e)

O código acima passa a consulta de atualização para **cursor.execute()** e **commit()** traz as alterações necessárias para a tabela **revisores**.

**Observação**: Na consulta **UPDATE**, a cláusula **WHERE** ajuda a especificar os registros que precisam ser atualizados. Se você não usar **WHERE**, todos os registros serão atualizados!

#### Instrução DELETE

A exclusão de registros funciona de forma muito semelhante à atualização de registros. Use a instrução **DELETE** para remover os registros selecionados.

**Observação**: a exclusão é um processo irreversível. Se você não usar a cláusula **WHERE**, todos os registros da tabela especificada serão excluídos. Você precisará executar a consulta **INSERT INTO** novamente para recuperar os registros excluídos.

É recomendável que você primeiro execute uma consulta **SELECT** com o mesmo filtro para certificar-se de que está excluindo os registros corretos. Por exemplo, para remover todas as avaliações fornecidas por `revisor_id = 5`, você deve primeiro executar a consulta **SELECT** correspondente:

In [74]:
try: 
    connection = connect(host="localhost", user=user, password=password, database="avaliacoes_filmes")
    select_movies_query = """
    SELECT revisor_id, filme_id FROM avaliacoes
    WHERE revisor_id = 5
    """
    cursor = connection.cursor()
    cursor.execute(select_movies_query)
    for filme in cursor.fetchall():
        print(filme)
except Error as e:
    print(e)

(5, 1)
(5, 5)
(5, 6)

O trecho de código acima gera o **revisor_id** e o **filme_id** para registros na tabela de **avaliações**, onde `revisor_id = 5`. Depois de confirmar que esses são os registros que você precisa excluir, você pode executar uma consulta **DELETE** com o mesmo filtro:

In [75]:
try: 
    connection = connect(host="localhost", user=user, password=password, database="avaliacoes_filmes")
    delete_query = """
    DELETE FROM avaliacoes WHERE revisor_id = 5
    """
    cursor = connection.cursor()
    cursor.execute(delete_query)
    connection.commit()
except Error as e:
    print(e)

Com esta consulta, você remove todas as avaliações feitas pelo revisor com `revisor_id = 5` da tabela de **avaliações**.

Podemos confirmar que elas se foram com uma novamente consulta **SELECT**:

In [76]:
try: 
    connection = connect(host="localhost", user=user, password=password, database="avaliacoes_filmes")
    select_movies_query = """
    SELECT revisor_id, filme_id FROM avaliacoes
    WHERE revisor_id = 5
    """
    cursor = connection.cursor()
    cursor.execute(select_movies_query)
    for filme in cursor.fetchall():
        print(filme)
except Error as e:
    print(e)

Neste tutorial, você viu como usar o MySQL Connector/Python para integrar um banco de dados MySQL ao seu aplicativo Python.

Para mais detalhes, cheque as referências. Bons estudos!

## Referências

- [Python-MySQL](https://realpython.com/python-mysql/)
- [Python MySQL](https://www.w3schools.com/python/python_mysql_getstarted.asp)