# SQLAlchemy

**[SQLAlchemy](https://www.sqlalchemy.org/)** é o kit de ferramentas Python SQL e [Object Relational Mapper](https://en.wikipedia.org/wiki/Object%E2%80%93relational_mapping) que oferece aos desenvolvedores de aplicações todo o poder e flexibilidade do SQL.

SQLAlchemy é uma biblioteca que facilita a comunicação entre programas Python e bancos de dados. Na maioria das vezes, essa biblioteca é usada como uma ferramenta Object Relational Mapper (ORM) que converte classes Python em tabelas em bancos de dados relacionais e converte automaticamente chamadas de função em instruções SQL. SQLAlchemy fornece uma interface padrão que permite aos desenvolvedores criar um código independente de banco de dados para se comunicar com uma ampla variedade de mecanismos de banco de dados.

Antes de mergulhar nos recursos ORM fornecidos pelo SQLAlchemy, precisamos aprender como funciona o seu núcleo. As seções a seguir apresentarão **conceitos importantes** que todo desenvolvedor Python precisa entender antes de lidar com os aplicativos SQLAlchemy.

## Python DBAPI

O **Python DBAPI** (um acrônimo para DataBase API) foi criado para especificar como os módulos Python que se integram com bancos de dados devem expor suas interfaces. Apesar de não interagirmos com essa API diretamente - usaremos SQLAlchemy como uma fachada para ela - é bom saber que ela define como funções comuns como `connect`, `close`, `commit` e `rollback` devem se comportar. Conseqüentemente, sempre que usarmos um módulo Python que atenda à essa especificação, podemos ter certeza de que encontraremos essas funções e que se comportarão conforme o esperado.

## SQLAlchemy Engines

Sempre que quisermos usar SQLAlchemy para interagir com um banco de dados, precisamos criar um **Engine**. 

**Engines**, no SQLAlchemy, são usados para gerenciar dois fatores cruciais: **Pools** e **Dialects**. As duas seções a seguir irão explicar o que são esses dois conceitos, mas por enquanto é suficiente dizer que SQLAlchemy os usa para interagir com funções DBAPI.

Como SQLAlchemy depende da especificação DBAPI para interagir com bancos de dados, os sistemas de gerenciamento de banco de dados mais comuns disponíveis são suportados. **PostgreSQL**, **MySQL**, **Oracle**, **Microsoft SQL Server** e **SQLite** são exemplos de mecanismos que podemos usar junto com o SQLAlchemy.

Para saber mais sobre as opções disponíveis para criar engines SQLAlchemy, dê uma olhada na [documentação oficial](https://docs.sqlalchemy.org/en/14/core/engines.html).

## SQLAlchemy Connection Pools

O pool de conexões é uma das implementações mais tradicionais do [padrão de pool de objetos](https://sourcemaking.com/design_patterns/object_pool). Os pools de objetos são usados como caches de objetos pré-inicializados prontos para uso. Ou seja, em vez de perder tempo para criar objetos que são frequentemente necessários (como conexões com bancos de dados), o programa busca um objeto existente no pool, usa-o como desejado e o coloca de volta quando terminar.

A principal razão pela qual os programas tiram proveito desse padrão de design é para melhorar o desempenho. No caso de conexões de banco de dados, abrir e manter novas é caro, demorado e desperdiça recursos. Além disso, esse padrão permite um gerenciamento mais fácil do número de conexões que um aplicativo pode utilizar simultaneamente.

Existem [várias implementações](https://docs.sqlalchemy.org/en/14/core/pooling.html#api-documentation-available-pool-implementations) do padrão de pool de conexão disponível no SQLAlchemy. Por exemplo, criar um Engine por meio da função **create_engine()** geralmente gera um **QueuePool**. Esse tipo de pool vem configurado com alguns padrões razoáveis, como um tamanho máximo de pool de 5 conexões.

Como os programas prontos para produção precisam substituir esses padrões (para ajustar os pools de acordo com suas necessidades), a maioria das diferentes implementações de pools de conexão fornece um conjunto semelhante de opções de configuração. A lista a seguir mostra as opções mais comuns com suas descrições:

- **pool_size**: define o número de conexões que o pool tratará.
- **max_overflow**: especifica quantas conexões excedentes (em relação a **pool_size**) o pool suporta.
- **pool_recycle**: configura a idade máxima (em segundos) das conexões no pool.
- **pool_timeout**: identifica quantos segundos o programa aguardará antes de desistir de obter uma conexão do pool.

Para saber mais sobre pools de conexão no SQLAlchemy, verifique a [documentação oficial](https://docs.sqlalchemy.org/en/14/core/pooling.html).

## SQLAlchemy Dialects

Como SQLAlchemy é uma fachada que permite aos desenvolvedores Python criar aplicativos que se comunicam com diferentes mecanismos de banco de dados por meio da mesma API, precisamos fazer uso de dialetos. A maioria dos bancos de dados relacionais populares disponíveis segue o padrão **[SQL (Structured Query Language)](https://en.wikipedia.org/wiki/SQL)**, mas também introduz variações proprietárias. Essas variações são as únicas responsáveis pela existência dos dialetos.

Por exemplo, digamos que desejamos buscar as dez primeiras linhas de uma tabela chamada **pessoas**. Se nossos dados estivessem sendo mantidos por um mecanismo de banco de dados Microsoft SQL Server, SQLAlchemy precisaria emitir a seguinte consulta:

```sql
SELECT TOP 10 * FROM people;
```

Mas, se nossos dados persistissem na instância do MySQL, o SQLAlchemy precisaria emitir:

```sql
SELECT * FROM people LIMIT 10;
```

Portanto, para saber exatamente qual consulta emitir, o SQLAlchemy precisa estar ciente do tipo de banco de dados com o qual está lidando. Isso é exatamente o que os dialetos fazem. Eles tornam o SQLAlchemy ciente do dialeto de que ele precisa para falar.

Em seu núcleo, SQLAlchemy inclui a seguinte lista de dialetos:

- [Firebird](https://docs.sqlalchemy.org/en/14/dialects/firebird.html)
- [Microsoft SQL Server](https://docs.sqlalchemy.org/en/14/dialects/mssql.html)
- [MySQL](https://docs.sqlalchemy.org/en/14/dialects/mysql.html)
- [Oracle](https://docs.sqlalchemy.org/en/14/dialects/oracle.html)
- [PostgreSQL](https://docs.sqlalchemy.org/en/14/dialects/postgresql.html)
- [SQLite](https://docs.sqlalchemy.org/en/14/dialects/sqlite.html)
- [Sybase](http://docs.sqlalchemy.org/en/latest/dialects/sybase.html)

Verifique a [documentação oficial](https://docs.sqlalchemy.org/en/14/dialects/) sobre os dialetos SQLAlchemy para saber mais.

## SQLAlchemy ORM

**ORM**, que significa **Object Relational Mapper**, é a especialização do padrão de design [Data Mapper](https://martinfowler.com/eaaCatalog/dataMapper.html) que aborda bancos de dados relacionais como MySQL, Oracle e PostgreSQL. 

Conforme explicado por Martin Fowler no artigo, os mapeadores são responsáveis por mover dados entre objetos e um banco de dados, mantendo-os independentes um do outro. Como linguagens de programação orientadas a objetos e bancos de dados relacionais estruturam dados de maneiras diferentes, precisamos de um código específico para traduzir de um esquema para o outro.

Por exemplo, em uma linguagem de programação como Python, podemos criar uma classe **Produto** e uma classe **Pedido** para relacionar quantas instâncias forem necessárias de uma classe para outra (ou seja, Produto pode conter uma lista de instâncias de Pedido e vice-versa). Porém, em bancos de dados relacionais, precisamos de três entidades (tabelas), uma para persistir produtos, outra para persistir pedidos e uma terceira para relacionar (por meio de [chave estrangeira](https://en.wikipedia.org/wiki/Foreign_key)) produtos e pedidos.

## Tipos de Dados SQLAlchemy

Ao usar o SQLAlchemy, podemos ter certeza de que obteremos suporte para os tipos de dados mais comuns encontrados em bancos de dados relacionais. Por exemplo, booleanos, datas, horas, strings e valores numéricos são apenas um subconjunto dos tipos para os quais SQLAlchemy fornece abstrações. Além desses tipos básicos, SQLAlchemy inclui suporte para alguns tipos específicos de fornecedores (como JSON) e também permite que os desenvolvedores criem tipos personalizados e redefinam os existentes.

Para entender como usamos os tipos de dados SQLAlchemy para mapear propriedades de classes Python em colunas de uma tabela de banco de dados de relacionamento, vamos analisar o seguinte exemplo:

```python
class Produto(Base):
    __tablename__ = 'produtos'
    id = Column(Integer, primary_key=True)
    titulo = Column('titulo', String(32))
    em_estoque = Column('em_estoque', Boolean)
    quantidade = Column('quantidade', Integer)
    preco = Column('preco', Numeric)
```

No trecho de código acima, estamos definindo uma classe chamada **Produto** que possui seis propriedades. Vamos olhar o que essas propriedades fazem:

- A propriedade **__tablename__** informa ao SQLAlchemy que as linhas da tabela de produtos devem ser mapeadas para esta classe.
- A propriedade **id** identifica que esta é a primary_key na tabela e que seu tipo é Integer.
- A propriedade **titulo** indica que uma coluna da tabela possui o mesmo nome da propriedade e que seu tipo é String.
- A propriedade **em_estoque** indica que uma coluna da tabela possui o mesmo nome da propriedade e que seu tipo é Boolean.
- A propriedade **quantidade** indica que uma coluna da tabela possui o mesmo nome da propriedade e que seu tipo é Integer.
- A propriedade **preco** indica que uma coluna da tabela possui o mesmo nome da propriedade e que seu tipo é Numeric.

Observe que (geralmente) bancos de dados relacionais não têm tipos de dados com esses nomes exatos. SQLAlchemy usa esses tipos como representações genéricas para quais bancos de dados suportam e usam o dialeto configurado para entender para quais tipos eles se traduzem. Por exemplo, em um banco de dados PostgreSQL, o **titulo** seria mapeado para uma coluna **varchar**.

## Checando a Versão do sqlalchemy

A seguir vamos verificar qual versão da biblioteca SQLAlchemy estamos usando:

In [1]:
import sqlalchemy

sqlalchemy.__version__

'1.4.7'

## Conectando

Para este tutorial, usaremos um banco de dados SQLite. Para conectar, usamos **create_engine()**:

In [2]:
from sqlalchemy import create_engine

engine = create_engine('sqlite:///banco.db', echo=True)

A flag echo é um atalho para configurar o **logging** do SQLAlchemy, que é realizado por meio do módulo **[logging](https://docs.python.org/3/library/logging.html)** padrão do Python. Com ele habilitado, veremos todo o SQL gerado produzido.

O valor de retorno de **create_engine()** é uma instância de **Engine** e representa a interface principal para o banco de dados, adaptada por meio de um dialeto que trata dos detalhes do banco de dados e DBAPI em uso. Nesse caso, o dialeto SQLite interpretará as instruções para o módulo **[sqlite3](https://docs.python.org/3/library/sqlite3.html)** embutido no Python.

Na primeira vez que um método como **Engine.execute()** ou **Engine.connect()** é chamado, o engine estabelece uma conexão DBAPI real com o banco de dados, que é então usado para emitir o SQL. Ao usar o ORM, normalmente não usamos o Engine diretamente depois de criado; em vez disso, ele é usado nos bastidores pelo ORM, como veremos em breve.

## Declarando um Mapping

Ao usar o ORM, o processo de configuração começa descrevendo as tabelas do banco de dados com as quais estaremos lidando e, em seguida, definindo nossas próprias classes que serão mapeadas para essas tabelas. No SQLAlchemy moderno, essas duas tarefas geralmente são executadas juntas, usando um sistema conhecido como [Declarative Extensions](https://docs.sqlalchemy.org/en/14/orm/extensions/declarative/index.html), que nos permite criar classes que incluem diretivas para descrever a tabela real do banco de dados para a qual serão mapeados.

As classes mapeadas usando o sistema Declarativo são definidas em termos de uma classe base que mantém um catálogo de classes e tabelas relativas a essa base - isso é conhecido como **declarative base class**. Nosso aplicativo normalmente terá apenas uma instância dessa base em um módulo comumente importado. Criamos a classe base usando a função **declarative_base()**, da seguinte maneira:

In [3]:
from sqlalchemy.orm import declarative_base

Base = declarative_base()

Agora que temos uma “base”, podemos definir qualquer número de classes mapeadas em termos dela. 

Começaremos com apenas uma única tabela chamada **Usuários**, que armazenará os registros dos usuários finais que usam nosso aplicativo. Uma nova classe chamada **Usuário** será a classe para a qual mapearemos esta tabela. Dentro da classe, definimos detalhes sobre a tabela para a qual iremos mapear, principalmente o nome da tabela e os nomes e tipos de dados das colunas:

In [4]:
from sqlalchemy import Column, Integer, String

class Usuário(Base):
    __tablename__ = 'usuários'

    id = Column(Integer, primary_key=True)
    nome = Column(String)
    sobrenome = Column(String)
    apelido = Column(String)

    def __repr__(self):
        return f"<Usuário(nome='{self.nome}', apelido='{self.apelido}')>"

Uma classe que usa Declarativo precisa no mínimo de um atributo **__tablename__** e pelo menos uma coluna que faz parte de uma **chave primária**. 

SQLAlchemy nunca faz suposições sobre a tabela à qual uma classe se refere, incluindo que ela não possui convenções para nomes, tipos de dados ou restrições. Mas isso não significa que o boilerplate seja necessário; em vez disso, você é encorajado a criar suas próprias convenções automatizadas usando funções auxiliares e classes mixin, que são descritas em detalhes em [Mixin and Custom Base Classes](https://docs.sqlalchemy.org/en/14/orm/extensions/declarative/mixins.html#declarative-mixins).

Quando nossa classe é construída, Declarative substitui todos os objetos Column por acessadores Python especiais conhecidos como [descriptors](https://docs.sqlalchemy.org/en/14/glossary.html#term-descriptors); este é um processo conhecido como instrumentação. A classe mapeada “instrumentada” nos fornecerá os meios para fazer referência à nossa tabela em um contexto SQL, bem como para persistir e carregar os valores das colunas do banco de dados.

Fora do que o processo de mapeamento faz para nossa classe, a classe permanece de outra forma principalmente uma classe Python normal, para a qual podemos definir qualquer número de atributos e métodos comuns necessários para nosso aplicativo.

## Criando um Schema

Com nossa classe **Usuário** construída por meio do sistema Declarativo, definimos informações sobre nossa tabela, conhecidas como metadados de tabela. O objeto usado por SQLAlchemy para representar essas informações para uma tabela específica é chamado de objeto [Table](https://docs.sqlalchemy.org/en/14/core/metadata.html#sqlalchemy.schema.Table), e aqui o Declarative fez um para nós. 

Podemos ver esse objeto inspecionando o atributo **__table__**:

In [5]:
Usuário.__table__

Table('usuários', MetaData(), Column('id', Integer(), table=<usuários>, primary_key=True, nullable=False), Column('nome', String(), table=<usuários>), Column('sobrenome', String(), table=<usuários>), Column('apelido', String(), table=<usuários>), schema=None)

Quando declaramos nossa classe, Declarative usou uma metaclasse Python para realizar atividades adicionais uma vez que a declaração da classe foi concluída; dentro dessa fase, ele criou um objeto **Table** de acordo com nossas especificações e o associou à classe construindo um objeto [Mapper](https://docs.sqlalchemy.org/en/14/orm/mapping_api.html#sqlalchemy.orm.Mapper). Este objeto é um objeto de bastidores com o qual normalmente não precisamos lidar diretamente (embora ele possa fornecer muitas informações sobre o nosso mapeamento quando precisamos).

O objeto **Table** é membro de uma coleção maior conhecida como [MetaData](https://docs.sqlalchemy.org/en/14/core/metadata.html#sqlalchemy.schema.MetaData). Ao usar Declarative, este objeto está disponível usando o atributo **.metadata** de nossa classe base declarativa.

O **MetaData** é um registro que inclui a capacidade de emitir um conjunto limitado de comandos de geração de esquema para o banco de dados. Como nosso banco de dados SQLite não tem realmente uma tabela de **usuários** presente, podemos usar MetaData para emitir instruções **CREATE TABLE** para o banco de dados para todas as tabelas que ainda não existem. 

Abaixo, chamamos o método **MetaData.create_all()**, passando em nosso Engine como uma fonte de conectividade de banco de dados. Veremos que comandos especiais são emitidos primeiro para verificar a presença da tabela de usuários e, em seguida, a instrução **CREATE TABLE** real:

In [6]:
Base.metadata.create_all(engine)

2021-06-01 23:01:49,344 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-06-01 23:01:49,345 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("usuários")
2021-06-01 23:01:49,346 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-06-01 23:01:49,348 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("usuários")
2021-06-01 23:01:49,349 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-06-01 23:01:49,351 INFO sqlalchemy.engine.Engine
CREATE TABLE "usuários" (
	id INTEGER NOT NULL,
	nome VARCHAR,
	sobrenome VARCHAR,
	apelido VARCHAR,
	PRIMARY KEY (id)
)


2021-06-01 23:01:49,352 INFO sqlalchemy.engine.Engine [no key 0.00098s] ()
2021-06-01 23:01:49,549 INFO sqlalchemy.engine.Engine COMMIT

## Criando uma Instância da Classe Mapeada

Com os mapeamentos concluídos, vamos agora criar e inspecionar um objeto **Usuário**:

In [7]:
user = Usuário(nome='Gabriel', sobrenome='Felippe', apelido='Akira')
print(f'Nome: {user.nome}, Sobrenome: {user.sobrenome}, Apelido: {user.apelido}')

Nome: Gabriel, Sobrenome: Felippe, Apelido: Akira

Mesmo que não o tenhamos especificado no construtor, o atributo **id** ainda produz um valor de **None** quando o acessamos (em oposição ao comportamento normal do Python de lançar **AttributeError** para um atributo indefinido). 

A instrumentação SQLAlchemy normalmente produz este valor padrão para atributos mapeados em coluna quando acessado pela primeira vez. Para aqueles atributos em que realmente atribuímos um valor, o sistema de instrumentação está rastreando essas atribuições para uso em uma eventual instrução **INSERT** a ser emitida para o banco de dados.

## Criando uma Session

Agora estamos prontos para começar a conversar com o banco de dados.

O "handle" do ORM para o banco de dados é a **[Session](https://docs.sqlalchemy.org/en/14/orm/session_api.html#sqlalchemy.orm.Session)**. Quando configuramos o aplicativo pela primeira vez, no mesmo nível de nossa instrução **create_engine()**, definimos uma classe Session que servirá como uma fábrica para novos objetos Session:

In [8]:
from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind=engine)

Esta classe de **Session** feita sob medida criará novos objetos **Session** que são vinculados ao nosso banco de dados.

## Adicionando e Atualizando Objetos

Para persistir nosso objeto **Usuário**, nós usamos **Session.add()** para nossa **Session**:

In [9]:
session = Session()
session.add(user)

Neste ponto, dizemos que a instância está **pendente**; nenhum SQL ainda foi emitido e o objeto ainda não foi representado por uma linha no banco de dados. A session emitirá o SQL para persistir **Gabriel** assim que for necessário, usando um processo conhecido como **flush**. Se consultarmos o banco de dados por **Gabriel**, todas as informações pendentes serão liberadas primeiro e a consulta será emitida imediatamente depois.

Por exemplo, a seguir criamos um novo objeto **[Query](https://docs.sqlalchemy.org/en/14/orm/query.html#sqlalchemy.orm.Query)** que carrega instâncias de Usuário. Nós “filtramos por” o atributo de **nome** 'Gabriel' e indicamos que gostaríamos apenas do primeiro resultado na lista completa de linhas. 

Uma instância de usuário é retornada que é equivalente àquela que adicionamos:

In [10]:
our_user = session.query(Usuário).filter_by(nome='Gabriel').first()

2021-06-01 23:01:49,898 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-06-01 23:01:49,901 INFO sqlalchemy.engine.Engine INSERT INTO "usuários" (nome, sobrenome, apelido) VALUES (?, ?, ?)
2021-06-01 23:01:49,902 INFO sqlalchemy.engine.Engine [generated in 0.00128s] ('Gabriel', 'Felippe', 'Akira')
2021-06-01 23:01:49,919 INFO sqlalchemy.engine.Engine SELECT "usuários".id AS "usuários_id", "usuários".nome AS "usuários_nome", "usuários".sobrenome AS "usuários_sobrenome", "usuários".apelido AS "usuários_apelido"
FROM "usuários"
WHERE "usuários".nome = ?
 LIMIT ? OFFSET ?
2021-06-01 23:01:49,920 INFO sqlalchemy.engine.Engine [generated in 0.00142s] ('Gabriel', 1, 0)

In [11]:
print(our_user)

<Usuário(nome='Gabriel', apelido='Akira')>

Na verdade, a **Session** identificou que a linha retornada é a mesma linha já representada em seu mapa interno de objetos, então, na verdade, recebemos de volta a instância idêntica àquela que acabamos de adicionar:

In [12]:
our_user is user

True

O conceito ORM em ação aqui é conhecido como um [identity map](https://docs.sqlalchemy.org/en/14/glossary.html#term-identity-map) e garante que todas as operações em uma linha específica dentro de uma **Session** operem no mesmo conjunto de dados. Uma vez que um objeto com uma chave primária específica esteja presente na **Session**, todas as consultas SQL nessa **Session** sempre retornarão o mesmo objeto Python para aquela chave primária específica; ele também gerará um erro se for feita uma tentativa de colocar um segundo objeto já persistido com a mesma chave primária dentro da session.

Podemos adicionar mais objetos **Usuário** de uma vez usando **add_all()**:

In [13]:
session.add_all([
    Usuário(nome='Rafael', sobrenome='Salgado', apelido='Rafa'),
    Usuário(nome='Samuel', sobrenome='Pereira', apelido='Samu'),
    Usuário(nome='Maria', sobrenome='Oliveira', apelido='Mari')
])

Além disso, decidimos que o apelido atual de **Gabriel** não é tão bom, então podemos mudá-lo:

In [14]:
user.apelido = 'Biel'

A **Session** está prestando atenção. Ela sabe, por exemplo, que **Gabriel** foi modificado:

In [15]:
session.dirty

IdentitySet([<Usuário(nome='Gabriel', apelido='Biel')>])

E também sabe que três novos objetos **Usuário** estão pendentes:

In [16]:
session.new

IdentitySet([<Usuário(nome='Rafael', apelido='Rafa')>, <Usuário(nome='Samuel', apelido='Samu')>, <Usuário(nome='Maria', apelido='Mari')>])

Então dizemos à **Session** que gostaríamos de emitir todas as alterações restantes no banco de dados e confirmar a transação, que está em andamento desde o início. 

Fazemos isso através de **Session.commit()**. A **Session** emite a instrução **UPDATE** para a alteração do apelido em "Gabriel", bem como as instruções **INSERT** para os três novos objetos User que adicionamos:

In [17]:
session.commit()

2021-06-01 23:01:50,703 INFO sqlalchemy.engine.Engine UPDATE "usuários" SET apelido=? WHERE "usuários".id = ?
2021-06-01 23:01:50,707 INFO sqlalchemy.engine.Engine [generated in 0.00429s] ('Biel', 1)
2021-06-01 23:01:50,711 INFO sqlalchemy.engine.Engine INSERT INTO "usuários" (nome, sobrenome, apelido) VALUES (?, ?, ?)
2021-06-01 23:01:50,713 INFO sqlalchemy.engine.Engine [cached since 0.8115s ago] ('Rafael', 'Salgado', 'Rafa')
2021-06-01 23:01:50,715 INFO sqlalchemy.engine.Engine INSERT INTO "usuários" (nome, sobrenome, apelido) VALUES (?, ?, ?)
2021-06-01 23:01:50,716 INFO sqlalchemy.engine.Engine [cached since 0.8154s ago] ('Samuel', 'Pereira', 'Samu')
2021-06-01 23:01:50,718 INFO sqlalchemy.engine.Engine INSERT INTO "usuários" (nome, sobrenome, apelido) VALUES (?, ?, ?)
2021-06-01 23:01:50,720 INFO sqlalchemy.engine.Engine [cached since 0.8188s ago] ('Maria', 'Oliveira', 'Mari')
2021-06-01 23:01:50,724 INFO sqlalchemy.engine.Engine COMMIT

**Session.commit()** libera as alterações restantes no banco de dados e confirma a transação. Os recursos de conexão referenciados pela session agora são retornados ao connection pool. As operações subsequentes com esta session ocorrerão em uma nova transação, que irá readquirir novamente os recursos de conexão quando necessário.

Se olharmos para o atributo **id** de **Gabriel**, que antes era **None**, agora tem um valor:

In [18]:
print(user.id)

2021-06-01 23:01:50,928 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-06-01 23:01:50,934 INFO sqlalchemy.engine.Engine SELECT "usuários".id AS "usuários_id", "usuários".nome AS "usuários_nome", "usuários".sobrenome AS "usuários_sobrenome", "usuários".apelido AS "usuários_apelido"
FROM "usuários"
WHERE "usuários".id = ?
2021-06-01 23:01:50,942 INFO sqlalchemy.engine.Engine [generated in 0.00770s] (1,)
1

Após a **Session** inserir novas linhas no banco de dados, todos os identificadores recém-gerados e padrões gerados pelo banco de dados tornam-se disponíveis na instância, imediatamente ou por meio de carregamento no primeiro acesso. 

Nesse caso, toda a linha foi recarregada no acesso porque uma nova transação foi iniciada depois que emitimos **Session.commit()**. O SQLAlchemy, por padrão, atualiza os dados de uma transação anterior na primeira vez em que é acessado em uma nova transação, para que o estado mais recente esteja disponível. O nível de recarregamento é configurável conforme descrito em [Using the Session](https://docs.sqlalchemy.org/en/14/orm/session.html).

#### Estados de Objeto da Session

À medida que nosso objeto **Usuário** mudou de fora da **Session** para dentro da **Session** sem uma chave primária, para realmente ser inserido, ele mudou entre três dos cinco “estados de objeto” disponíveis - **transitório**, **pendente** e **persistente**.

## Rolling Back

Uma vez que a **Session** funciona dentro de uma transação, podemos reverter as alterações feitas também. Vamos fazer duas alterações que reverteremos; O nome de usuário de **user** é definido como **Gabriela**:

In [19]:
user.nome = 'Gabriela'

Também adicionaremos outro usuário incorreto, **fake_user**:

In [20]:
fake_user = Usuário(nome='José', sobrenome='Pedro', apelido='999')
session.add(fake_user)

Consultando a **session**, podemos ver que eles foram incluídos na transação atual:

In [21]:
session.query(Usuário).filter(Usuário.nome.in_(['Gabriela', 'José'])).all()

2021-06-01 23:01:51,262 INFO sqlalchemy.engine.Engine UPDATE "usuários" SET nome=? WHERE "usuários".id = ?
2021-06-01 23:01:51,271 INFO sqlalchemy.engine.Engine [generated in 0.00861s] ('Gabriela', 1)
2021-06-01 23:01:51,277 INFO sqlalchemy.engine.Engine INSERT INTO "usuários" (nome, sobrenome, apelido) VALUES (?, ?, ?)
2021-06-01 23:01:51,279 INFO sqlalchemy.engine.Engine [cached since 1.378s ago] ('José', 'Pedro', '999')
2021-06-01 23:01:51,286 INFO sqlalchemy.engine.Engine SELECT "usuários".id AS "usuários_id", "usuários".nome AS "usuários_nome", "usuários".sobrenome AS "usuários_sobrenome", "usuários".apelido AS "usuários_apelido"
FROM "usuários"
WHERE "usuários".nome IN (?, ?)
2021-06-01 23:01:51,287 INFO sqlalchemy.engine.Engine [generated in 0.00202s] ('Gabriela', 'José')

[<Usuário(nome='Gabriela', apelido='Biel')>,
 <Usuário(nome='José', apelido='999')>]

Revertendo (Rolling back), podemos ver que o nome de **user** voltou a ser **Gabriel**, e **fake_user** foi expulso da session:

In [22]:
session.rollback()

2021-06-01 23:01:51,383 INFO sqlalchemy.engine.Engine ROLLBACK

In [23]:
user.nome

2021-06-01 23:01:51,504 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-06-01 23:01:51,509 INFO sqlalchemy.engine.Engine SELECT "usuários".id AS "usuários_id", "usuários".nome AS "usuários_nome", "usuários".sobrenome AS "usuários_sobrenome", "usuários".apelido AS "usuários_apelido"
FROM "usuários"
WHERE "usuários".id = ?
2021-06-01 23:01:51,513 INFO sqlalchemy.engine.Engine [cached since 0.5789s ago] (1,)

'Gabriel'

In [24]:
fake_user in session

False

Emitir um **SELECT** ilustra as mudanças feitas no banco de dados:

In [25]:
session.query(Usuário).filter(Usuário.nome.in_(['Gabriel', 'José'])).all()

2021-06-01 23:01:51,735 INFO sqlalchemy.engine.Engine SELECT "usuários".id AS "usuários_id", "usuários".nome AS "usuários_nome", "usuários".sobrenome AS "usuários_sobrenome", "usuários".apelido AS "usuários_apelido"
FROM "usuários"
WHERE "usuários".nome IN (?, ?)
2021-06-01 23:01:51,740 INFO sqlalchemy.engine.Engine [cached since 0.455s ago] ('Gabriel', 'José')

## Querying

Um objeto [Query](https://docs.sqlalchemy.org/en/14/orm/query.html#sqlalchemy.orm.Query) é criado usando o método **query()** na **Session**.

Essa função recebe um número variável de argumentos, que podem ser qualquer combinação de classes e *class-instrumented descriptors*. 

Abaixo, indicamos uma Consulta (Query) que carrega as instâncias do **Usuário**. Quando avaliada em um contexto iterativo, a lista de objetos **Usuário** presentes é retornada:

In [26]:
for instance in session.query(Usuário).order_by(Usuário.id):
    print(instance.nome, instance.sobrenome)

2021-06-01 23:01:51,828 INFO sqlalchemy.engine.Engine SELECT "usuários".id AS "usuários_id", "usuários".nome AS "usuários_nome", "usuários".sobrenome AS "usuários_sobrenome", "usuários".apelido AS "usuários_apelido"
FROM "usuários" ORDER BY "usuários".id
2021-06-01 23:01:51,835 INFO sqlalchemy.engine.Engine [generated in 0.00719s] ()
Gabriel Felippe
Rafael Salgado
Samuel Pereira
Maria Oliveira

A **Query** também aceita **ORM-instrumented descriptors** como argumentos. 

Sempre que várias entidades de classe ou entidades baseadas em coluna são expressas como argumentos para a função **query()**, o resultado de retorno é expresso como tuplas:

In [27]:
for nome, sobrenome in session.query(Usuário.nome, Usuário.sobrenome):
    print(nome, sobrenome)

2021-06-01 23:01:51,948 INFO sqlalchemy.engine.Engine SELECT "usuários".nome AS "usuários_nome", "usuários".sobrenome AS "usuários_sobrenome"
FROM "usuários"
2021-06-01 23:01:51,954 INFO sqlalchemy.engine.Engine [generated in 0.00553s] ()
Gabriel Felippe
Rafael Salgado
Samuel Pereira
Maria Oliveira

As tuplas retornadas por Query são **named tuples**, fornecidas pela classe [Row](https://docs.sqlalchemy.org/en/14/core/connections.html#sqlalchemy.engine.Row) e podem ser tratadas como um objeto Python comum. 

Os nomes são iguais ao nome do atributo para um atributo e ao nome da classe para uma classe:

In [28]:
for row in session.query(Usuário, Usuário.nome).all():
    print(row.Usuário, row.nome)

2021-06-01 23:01:52,058 INFO sqlalchemy.engine.Engine SELECT "usuários".id AS "usuários_id", "usuários".nome AS "usuários_nome", "usuários".sobrenome AS "usuários_sobrenome", "usuários".apelido AS "usuários_apelido"
FROM "usuários"
2021-06-01 23:01:52,062 INFO sqlalchemy.engine.Engine [generated in 0.00439s] ()
<Usuário(nome='Gabriel', apelido='Biel')> Gabriel
<Usuário(nome='Rafael', apelido='Rafa')> Rafael
<Usuário(nome='Samuel', apelido='Samu')> Samuel
<Usuário(nome='Maria', apelido='Mari')> Maria

Você pode controlar os nomes de expressões de coluna individuais usando a construção [ColumnElement.label()](https://docs.sqlalchemy.org/en/14/core/sqlelement.html#sqlalchemy.sql.expression.ColumnElement.label), que está disponível em qualquer objeto derivado de [ColumnElement](https://docs.sqlalchemy.org/en/14/core/sqlelement.html#sqlalchemy.sql.expression.ColumnElement), bem como qualquer atributo de classe mapeado para um (como **Usuário.nome**):

In [29]:
for row in session.query(Usuário.nome.label('username')).all():
    print(row.username)

2021-06-01 23:01:52,156 INFO sqlalchemy.engine.Engine SELECT "usuários".nome AS username
FROM "usuários"
2021-06-01 23:01:52,158 INFO sqlalchemy.engine.Engine [generated in 0.00242s] ()
Gabriel
Rafael
Samuel
Maria

O nome dado a uma entidade completa, como **Usuário**, assumindo que várias entidades estão presentes na chamada para [Session.query()](https://docs.sqlalchemy.org/en/14/orm/session_api.html#sqlalchemy.orm.Session.query), pode ser controlado usando [aliased()](https://docs.sqlalchemy.org/en/14/orm/query.html#sqlalchemy.orm.aliased):

In [30]:
from sqlalchemy.orm import aliased

user_alias = aliased(Usuário, name='user_alias')

for row in session.query(user_alias, user_alias.nome).all():
    print(row.user_alias)

2021-06-01 23:01:52,284 INFO sqlalchemy.engine.Engine SELECT user_alias.id AS user_alias_id, user_alias.nome AS user_alias_nome, user_alias.sobrenome AS user_alias_sobrenome, user_alias.apelido AS user_alias_apelido
FROM "usuários" AS user_alias
2021-06-01 23:01:52,292 INFO sqlalchemy.engine.Engine [generated in 0.00915s] ()
<Usuário(nome='Gabriel', apelido='Biel')>
<Usuário(nome='Rafael', apelido='Rafa')>
<Usuário(nome='Samuel', apelido='Samu')>
<Usuário(nome='Maria', apelido='Mari')>

As operações básicas com Query incluem emitir **LIMIT** e **OFFSET**, mais convenientemente usando slices de array Python e normalmente em conjunto com **ORDER BY**:

In [31]:
for u in session.query(Usuário).order_by(Usuário.id)[1:3]:
    print(u)

2021-06-01 23:01:52,389 INFO sqlalchemy.engine.Engine SELECT "usuários".id AS "usuários_id", "usuários".nome AS "usuários_nome", "usuários".sobrenome AS "usuários_sobrenome", "usuários".apelido AS "usuários_apelido"
FROM "usuários" ORDER BY "usuários".id
 LIMIT ? OFFSET ?
2021-06-01 23:01:52,391 INFO sqlalchemy.engine.Engine [generated in 0.00127s] (2, 1)
<Usuário(nome='Rafael', apelido='Rafa')>
<Usuário(nome='Samuel', apelido='Samu')>

E a filtragem de resultados, que é realizada com **filter_by()**, que usa argumentos de palavra-chave:

In [32]:
for nome, in session.query(Usuário.nome).filter_by(sobrenome='Pereira'):
    print(nome)

2021-06-01 23:01:52,514 INFO sqlalchemy.engine.Engine SELECT "usuários".nome AS "usuários_nome"
FROM "usuários"
WHERE "usuários".sobrenome = ?
2021-06-01 23:01:52,517 INFO sqlalchemy.engine.Engine [generated in 0.00329s] ('Pereira',)
Samuel

Ou **filter()**, que usa construções de linguagem de expressão SQL mais flexíveis. 

Eles permitem que você use operadores Python regulares com os atributos de nível de classe em sua classe mapeada:

In [33]:
for nome, in session.query(Usuário.nome).filter(Usuário.sobrenome == 'Felippe'):
    print(nome)

2021-06-01 23:01:52,698 INFO sqlalchemy.engine.Engine SELECT "usuários".nome AS "usuários_nome"
FROM "usuários"
WHERE "usuários".sobrenome = ?
2021-06-01 23:01:52,699 INFO sqlalchemy.engine.Engine [cached since 0.1856s ago] ('Felippe',)
Gabriel

O objeto **Query** é totalmente **generative**, o que significa que a maioria das chamadas de método retorna um novo objeto Query ao qual outros critérios podem ser adicionados. 

Por exemplo, para consultar usuários chamados “Gabriel” com um sobrenome “Felippe”, você pode chamar **filter()** duas vezes, que une os critérios usando **AND**:

In [34]:
for usuário in session.query(Usuário).filter(Usuário.nome=='Gabriel').filter(Usuário.sobrenome=='Felippe'):
    print(usuário)

2021-06-01 23:01:52,874 INFO sqlalchemy.engine.Engine SELECT "usuários".id AS "usuários_id", "usuários".nome AS "usuários_nome", "usuários".sobrenome AS "usuários_sobrenome", "usuários".apelido AS "usuários_apelido"
FROM "usuários"
WHERE "usuários".nome = ? AND "usuários".sobrenome = ?
2021-06-01 23:01:52,876 INFO sqlalchemy.engine.Engine [generated in 0.00225s] ('Gabriel', 'Felippe')
<Usuário(nome='Gabriel', apelido='Biel')>

## Operadores de Filtro Comuns

A seguir temos um resumo de alguns dos operadores mais comuns usados em **filter()**:

#### ColumnOperators.__eq__():

In [35]:
for usuário in session.query(Usuário).filter(Usuário.nome == 'Gabriel'):
    print(usuário)

2021-06-01 23:01:53,102 INFO sqlalchemy.engine.Engine SELECT "usuários".id AS "usuários_id", "usuários".nome AS "usuários_nome", "usuários".sobrenome AS "usuários_sobrenome", "usuários".apelido AS "usuários_apelido"
FROM "usuários"
WHERE "usuários".nome = ?
2021-06-01 23:01:53,104 INFO sqlalchemy.engine.Engine [generated in 0.00280s] ('Gabriel',)
<Usuário(nome='Gabriel', apelido='Biel')>

#### ColumnOperators.__ne__():

In [36]:
for usuário in session.query(Usuário).filter(Usuário.nome != 'Gabriel'):
    print(usuário)

2021-06-01 23:01:53,242 INFO sqlalchemy.engine.Engine SELECT "usuários".id AS "usuários_id", "usuários".nome AS "usuários_nome", "usuários".sobrenome AS "usuários_sobrenome", "usuários".apelido AS "usuários_apelido"
FROM "usuários"
WHERE "usuários".nome != ?
2021-06-01 23:01:53,246 INFO sqlalchemy.engine.Engine [generated in 0.00425s] ('Gabriel',)
<Usuário(nome='Rafael', apelido='Rafa')>
<Usuário(nome='Samuel', apelido='Samu')>
<Usuário(nome='Maria', apelido='Mari')>

#### ColumnOperators.like():

In [37]:
for usuário in session.query(Usuário).filter(Usuário.sobrenome.like('%eira%')):
    print(usuário.nome, usuário.sobrenome)

2021-06-01 23:01:53,354 INFO sqlalchemy.engine.Engine SELECT "usuários".id AS "usuários_id", "usuários".nome AS "usuários_nome", "usuários".sobrenome AS "usuários_sobrenome", "usuários".apelido AS "usuários_apelido"
FROM "usuários"
WHERE "usuários".sobrenome LIKE ?
2021-06-01 23:01:53,357 INFO sqlalchemy.engine.Engine [generated in 0.00257s] ('%eira%',)
Samuel Pereira
Maria Oliveira

**Observação**: [ColumnOperators.like()](https://docs.sqlalchemy.org/en/14/core/sqlelement.html#sqlalchemy.sql.expression.ColumnOperators.like) renderiza o operador LIKE, que não diferencia maiúsculas de minúsculas em alguns back-ends e diferencia maiúsculas de minúsculas em outros. Para comparações sem distinção entre maiúsculas e minúsculas garantidas, use [ColumnOperators.ilike()](https://docs.sqlalchemy.org/en/14/core/sqlelement.html#sqlalchemy.sql.expression.ColumnOperators.ilike).

#### ColumnOperators.ilike() (case-insensitive LIKE):

In [38]:
for usuário in session.query(Usuário).filter(Usuário.sobrenome.ilike('%EiRa%')):
    print(usuário.nome, usuário.sobrenome)

2021-06-01 23:01:53,521 INFO sqlalchemy.engine.Engine SELECT "usuários".id AS "usuários_id", "usuários".nome AS "usuários_nome", "usuários".sobrenome AS "usuários_sobrenome", "usuários".apelido AS "usuários_apelido"
FROM "usuários"
WHERE lower("usuários".sobrenome) LIKE lower(?)
2021-06-01 23:01:53,523 INFO sqlalchemy.engine.Engine [generated in 0.00158s] ('%EiRa%',)
Samuel Pereira
Maria Oliveira

#### ColumnOperators.in_():

In [39]:
for usuário in session.query(Usuário).filter(Usuário.nome.in_(['Gabriel','Samuel','Maria'])):
    print(usuário.sobrenome)

2021-06-01 23:01:53,629 INFO sqlalchemy.engine.Engine SELECT "usuários".id AS "usuários_id", "usuários".nome AS "usuários_nome", "usuários".sobrenome AS "usuários_sobrenome", "usuários".apelido AS "usuários_apelido"
FROM "usuários"
WHERE "usuários".nome IN (?, ?, ?)
2021-06-01 23:01:53,631 INFO sqlalchemy.engine.Engine [cached since 2.346s ago] ('Gabriel', 'Samuel', 'Maria')
Felippe
Pereira
Oliveira

Também funciona com objetos query:

In [40]:
for usuário in session.query(Usuário).filter(Usuário.nome.in_(session.query(Usuário.nome).filter(Usuário.nome.like('%G%')))):
    print(usuário.nome)

2021-06-01 23:01:53,751 INFO sqlalchemy.engine.Engine SELECT "usuários".id AS "usuários_id", "usuários".nome AS "usuários_nome", "usuários".sobrenome AS "usuários_sobrenome", "usuários".apelido AS "usuários_apelido"
FROM "usuários"
WHERE "usuários".nome IN (SELECT "usuários".nome
FROM "usuários"
WHERE "usuários".nome LIKE ?)
2021-06-01 23:01:53,752 INFO sqlalchemy.engine.Engine [generated in 0.00120s] ('%G%',)
Gabriel

Use **tuple_()** para consultas compostas (multi-colunas):

In [41]:
from sqlalchemy import tuple_

for usuário in session.query(Usuário).filter(tuple_(Usuário.nome, Usuário.sobrenome).in_([('Gabriel','Felippe'),('Maria','Oliveira')])):
    print(usuário.apelido)

2021-06-01 23:01:53,874 INFO sqlalchemy.engine.Engine SELECT "usuários".id AS "usuários_id", "usuários".nome AS "usuários_nome", "usuários".sobrenome AS "usuários_sobrenome", "usuários".apelido AS "usuários_apelido"
FROM "usuários"
WHERE ("usuários".nome, "usuários".sobrenome) IN (VALUES (?, ?), (?, ?))
2021-06-01 23:01:53,879 INFO sqlalchemy.engine.Engine [generated in 0.00455s] ('Gabriel', 'Felippe', 'Maria', 'Oliveira')
Biel
Mari

#### ColumnOperators.not_in():

In [42]:
for usuário in session.query(Usuário).filter(~Usuário.nome.in_(['Gabriel','Rafael','Samuel'])):
    print(usuário)

2021-06-01 23:01:54,006 INFO sqlalchemy.engine.Engine SELECT "usuários".id AS "usuários_id", "usuários".nome AS "usuários_nome", "usuários".sobrenome AS "usuários_sobrenome", "usuários".apelido AS "usuários_apelido"
FROM "usuários"
WHERE "usuários".nome NOT IN (?, ?, ?)
2021-06-01 23:01:54,008 INFO sqlalchemy.engine.Engine [generated in 0.00210s] ('Gabriel', 'Rafael', 'Samuel')
<Usuário(nome='Maria', apelido='Mari')>

#### ColumnOperators.is_():

In [43]:
for usuário in session.query(Usuário).filter(Usuário.nome == None):
    print(usuário)

2021-06-01 23:01:54,108 INFO sqlalchemy.engine.Engine SELECT "usuários".id AS "usuários_id", "usuários".nome AS "usuários_nome", "usuários".sobrenome AS "usuários_sobrenome", "usuários".apelido AS "usuários_apelido"
FROM "usuários"
WHERE "usuários".nome IS NULL
2021-06-01 23:01:54,109 INFO sqlalchemy.engine.Engine [generated in 0.00146s] ()

In [44]:
for usuário in session.query(Usuário).filter(Usuário.nome.is_('Gabriel')):
    print(usuário)

2021-06-01 23:01:54,235 INFO sqlalchemy.engine.Engine SELECT "usuários".id AS "usuários_id", "usuários".nome AS "usuários_nome", "usuários".sobrenome AS "usuários_sobrenome", "usuários".apelido AS "usuários_apelido"
FROM "usuários"
WHERE "usuários".nome IS ?
2021-06-01 23:01:54,255 INFO sqlalchemy.engine.Engine [generated in 0.02078s] ('Gabriel',)
<Usuário(nome='Gabriel', apelido='Biel')>

#### ColumnOperators.is_not():

In [45]:
for usuário in session.query(Usuário).filter(Usuário.nome != None):
    print(usuário)

2021-06-01 23:01:54,380 INFO sqlalchemy.engine.Engine SELECT "usuários".id AS "usuários_id", "usuários".nome AS "usuários_nome", "usuários".sobrenome AS "usuários_sobrenome", "usuários".apelido AS "usuários_apelido"
FROM "usuários"
WHERE "usuários".nome IS NOT NULL
2021-06-01 23:01:54,382 INFO sqlalchemy.engine.Engine [generated in 0.00229s] ()
<Usuário(nome='Gabriel', apelido='Biel')>
<Usuário(nome='Rafael', apelido='Rafa')>
<Usuário(nome='Samuel', apelido='Samu')>
<Usuário(nome='Maria', apelido='Mari')>

In [46]:
for usuário in session.query(Usuário).filter(Usuário.nome.is_not('Gabriel')):
    print(usuário)

2021-06-01 23:01:54,504 INFO sqlalchemy.engine.Engine SELECT "usuários".id AS "usuários_id", "usuários".nome AS "usuários_nome", "usuários".sobrenome AS "usuários_sobrenome", "usuários".apelido AS "usuários_apelido"
FROM "usuários"
WHERE "usuários".nome IS NOT ?
2021-06-01 23:01:54,505 INFO sqlalchemy.engine.Engine [generated in 0.00141s] ('Gabriel',)
<Usuário(nome='Rafael', apelido='Rafa')>
<Usuário(nome='Samuel', apelido='Samu')>
<Usuário(nome='Maria', apelido='Mari')>

#### AND

Usando **and_()**:

In [47]:
from sqlalchemy import and_

for usuário in session.query(Usuário).filter(and_(Usuário.nome == 'Gabriel', Usuário.sobrenome == 'Felippe')):
    print(usuário)

2021-06-01 23:01:54,627 INFO sqlalchemy.engine.Engine SELECT "usuários".id AS "usuários_id", "usuários".nome AS "usuários_nome", "usuários".sobrenome AS "usuários_sobrenome", "usuários".apelido AS "usuários_apelido"
FROM "usuários"
WHERE "usuários".nome = ? AND "usuários".sobrenome = ?
2021-06-01 23:01:54,628 INFO sqlalchemy.engine.Engine [generated in 0.00123s] ('Gabriel', 'Felippe')
<Usuário(nome='Gabriel', apelido='Biel')>

Ou enviando várias expressões para **.filter()**:

In [48]:
for usuário in session.query(Usuário).filter(Usuário.nome == 'Gabriel', Usuário.sobrenome == 'Felippe'):
    print(usuário)

2021-06-01 23:01:54,749 INFO sqlalchemy.engine.Engine SELECT "usuários".id AS "usuários_id", "usuários".nome AS "usuários_nome", "usuários".sobrenome AS "usuários_sobrenome", "usuários".apelido AS "usuários_apelido"
FROM "usuários"
WHERE "usuários".nome = ? AND "usuários".sobrenome = ?
2021-06-01 23:01:54,755 INFO sqlalchemy.engine.Engine [cached since 1.881s ago] ('Gabriel', 'Felippe')
<Usuário(nome='Gabriel', apelido='Biel')>

Ou encadear várias chamadas de **filter()** / **filter_by()**:

In [49]:
for usuário in session.query(Usuário).filter(Usuário.nome == 'Gabriel').filter(Usuário.sobrenome == 'Felippe'):
    print(usuário)

2021-06-01 23:01:54,901 INFO sqlalchemy.engine.Engine SELECT "usuários".id AS "usuários_id", "usuários".nome AS "usuários_nome", "usuários".sobrenome AS "usuários_sobrenome", "usuários".apelido AS "usuários_apelido"
FROM "usuários"
WHERE "usuários".nome = ? AND "usuários".sobrenome = ?
2021-06-01 23:01:54,902 INFO sqlalchemy.engine.Engine [cached since 2.028s ago] ('Gabriel', 'Felippe')
<Usuário(nome='Gabriel', apelido='Biel')>

**Observação**: Certifique-se de usar **and_()** e não o operador Python **and**!

#### OR

Usando **or_()**:

In [50]:
from sqlalchemy import or_

for usuário in session.query(Usuário).filter(or_(Usuário.nome == 'Gabriel', Usuário.nome == 'Maria')):
    print(usuário)

2021-06-01 23:01:55,025 INFO sqlalchemy.engine.Engine SELECT "usuários".id AS "usuários_id", "usuários".nome AS "usuários_nome", "usuários".sobrenome AS "usuários_sobrenome", "usuários".apelido AS "usuários_apelido"
FROM "usuários"
WHERE "usuários".nome = ? OR "usuários".nome = ?
2021-06-01 23:01:55,028 INFO sqlalchemy.engine.Engine [generated in 0.00337s] ('Gabriel', 'Maria')
<Usuário(nome='Gabriel', apelido='Biel')>
<Usuário(nome='Maria', apelido='Mari')>

**Observação**: Certifique-se de usar **or_()** e não o operador Python **or**!

## Retornando Listas e Scalars

Vários métodos no **Query** emitem SQL imediatamente e retornam um valor contendo os resultados do banco de dados carregado. 

Vejamos alguns exemplos a seguir.

**Query.all()** retorna uma lista:

In [51]:
query = session.query(Usuário).filter(Usuário.sobrenome.like('%eira')).order_by(Usuário.id)
query.all()

2021-06-01 23:01:55,146 INFO sqlalchemy.engine.Engine SELECT "usuários".id AS "usuários_id", "usuários".nome AS "usuários_nome", "usuários".sobrenome AS "usuários_sobrenome", "usuários".apelido AS "usuários_apelido"
FROM "usuários"
WHERE "usuários".sobrenome LIKE ? ORDER BY "usuários".id
2021-06-01 23:01:55,155 INFO sqlalchemy.engine.Engine [generated in 0.00643s] ('%eira',)

[<Usuário(nome='Samuel', apelido='Samu')>,
 <Usuário(nome='Maria', apelido='Mari')>]

**Query.first()** aplica um limite de um e retorna o primeiro resultado como um scalar:

In [52]:
query.first()

2021-06-01 23:01:55,273 INFO sqlalchemy.engine.Engine SELECT "usuários".id AS "usuários_id", "usuários".nome AS "usuários_nome", "usuários".sobrenome AS "usuários_sobrenome", "usuários".apelido AS "usuários_apelido"
FROM "usuários"
WHERE "usuários".sobrenome LIKE ? ORDER BY "usuários".id
 LIMIT ? OFFSET ?
2021-06-01 23:01:55,276 INFO sqlalchemy.engine.Engine [generated in 0.00278s] ('%eira', 1, 0)

## Contando

**Query** inclui um método de conveniência para contagem chamado **Query.count()**:

In [53]:
session.query(Usuário).filter(Usuário.sobrenome.like('%eira')).count()

2021-06-01 23:01:55,422 INFO sqlalchemy.engine.Engine SELECT count(*) AS count_1
FROM (SELECT "usuários".id AS "usuários_id", "usuários".nome AS "usuários_nome", "usuários".sobrenome AS "usuários_sobrenome", "usuários".apelido AS "usuários_apelido"
FROM "usuários"
WHERE "usuários".sobrenome LIKE ?) AS anon_1
2021-06-01 23:01:55,425 INFO sqlalchemy.engine.Engine [generated in 0.00223s] ('%eira',)

2

O método **Query.count()** é usado para determinar quantas linhas a instrução SQL retornaria.

Para situações em que a “coisa a ser contada” precisa ser indicada especificamente, podemos especificar a função **count** diretamente usando a expressão **func.count()**, disponível na construção **expression.func**.

Abaixo, nós o usamos para retornar a contagem de cada nome de usuário distinto:

In [54]:
from sqlalchemy import func

session.query(func.count(Usuário.nome), Usuário.nome).group_by(Usuário.nome).all()

2021-06-01 23:01:55,522 INFO sqlalchemy.engine.Engine SELECT count("usuários".nome) AS count_1, "usuários".nome AS "usuários_nome"
FROM "usuários" GROUP BY "usuários".nome
2021-06-01 23:01:55,523 INFO sqlalchemy.engine.Engine [generated in 0.00118s] ()

[(1, 'Gabriel'), (1, 'Maria'), (1, 'Rafael'), (1, 'Samuel')]

Para alcançar nossa contagem `SELECT count(*) FROM tabela`, podemos aplicá-la como:

In [55]:
session.query(func.count('*')).select_from(Usuário).scalar()

2021-06-01 23:01:55,634 INFO sqlalchemy.engine.Engine SELECT count(?) AS count_1
FROM "usuários"
2021-06-01 23:01:55,635 INFO sqlalchemy.engine.Engine [generated in 0.00161s] ('*',)

4

O uso de **Query.select_from()** pode ser removido se expressarmos a contagem em termos da chave primária do usuário diretamente:

In [56]:
session.query(func.count(Usuário.id)).scalar()

2021-06-01 23:01:55,754 INFO sqlalchemy.engine.Engine SELECT count("usuários".id) AS count_1
FROM "usuários"
2021-06-01 23:01:55,755 INFO sqlalchemy.engine.Engine [generated in 0.00122s] ()

4

## Construindo um Relacionamento

Vamos considerar como uma segunda tabela, relacionada ao usuário, que pode ser mapeada e consultada. 

Os usuários em nosso sistema podem armazenar qualquer número de endereços de e-mail associados ao seu nome de usuário. 

Isso implica uma associação básica de um para muitos (**one to many**) dos usuários a uma nova tabela que armazena endereços de e-mail, que chamaremos de **endereços**. 

Usando declarative, definimos esta tabela junto com sua classe mapeada, **Endereço**:

In [57]:
from sqlalchemy import ForeignKey
from sqlalchemy.orm import relationship

class Endereço(Base):
    __tablename__ = 'endereços'
    
    id = Column(Integer, primary_key=True)
    email = Column(String, nullable=False)
    usuário_id = Column(Integer, ForeignKey('usuários.id'))
    usuário = relationship("Usuário", back_populates="endereços")
    
    def __repr__(self):
        return f"<Endereço(email='{self.email}')>"

Usuário.endereços = relationship("Endereço", order_by=Endereço.id, back_populates="usuário")

A classe acima apresenta a construção **[ForeignKey](https://docs.sqlalchemy.org/en/14/core/constraints.html#sqlalchemy.schema.ForeignKey)**, que é uma diretiva aplicada a [Column](https://docs.sqlalchemy.org/en/14/core/metadata.html#sqlalchemy.schema.Column) que indica que os valores nesta coluna devem ser restritos a valores presentes na coluna remota nomeada. 

Este é um recurso central dos bancos de dados relacionais e é a “cola” que transforma uma coleção de tabelas, de outra forma não conectada, para ter relacionamentos de sobreposição ricos. A **ForeignKey** acima expressa que os valores na coluna **endereço.usuário_id** devem ser restritos aos valores na coluna **usuário.id**, ou seja, sua chave primária.

Uma segunda diretiva, conhecida como **relationship()**, informa ao ORM que a própria classe **Endereço** deve ser vinculada à classe **Usuário**, usando o atributo **Endereço.usuário.relationship()** usa os relacionamentos de chave estrangeira entre as duas tabelas para determinar a natureza dessa ligação, determinando que **Endereço.usuário** será de muitos para um (**many to one**). 

Uma diretiva **relationship()** adicional é colocada na classe mapeada do Usuário sob o atributo **Usuário.endereços**. Em ambas as diretivas **relationship()**, o parâmetro **relationship.back_populates** é atribuído para se referir aos nomes de atributos complementares; ao fazer isso, cada **relationship()** pode tomar uma decisão inteligente sobre o mesmo relacionamento expresso ao contrário; de um lado, **Endereço.usuário** se refere a uma instância de **Usuário** e, do outro lado, **Usuário.endereços** se refere a uma lista de instâncias de **Endereço**.

**Observação**: O parâmetro **relationship.back_populates** é uma versão mais recente de um recurso SQLAlchemy muito comum chamado **relationship.backref**. O parâmetro **relationship.backref** não foi a lugar nenhum e sempre permanecerá disponível! O **relationship.back_populates** é a mesma coisa, exceto um pouco mais detalhado e mais fácil de manipular.

Agora precisamos criar a tabela de **endereços** no banco de dados, portanto, emitiremos outro **CREATE** a partir de nossos metadados, que pulará as tabelas que já foram criadas:

In [58]:
Base.metadata.create_all(engine)

2021-06-01 23:01:55,989 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-06-01 23:01:55,994 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("usuários")
2021-06-01 23:01:55,996 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-06-01 23:01:55,999 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("endereços")
2021-06-01 23:01:56,002 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-06-01 23:01:56,006 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("endereços")
2021-06-01 23:01:56,010 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-06-01 23:01:56,013 INFO sqlalchemy.engine.Engine
CREATE TABLE "endereços" (
	id INTEGER NOT NULL,
	email VARCHAR NOT NULL,
	"usuário_id" INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY("usuário_id") REFERENCES "usuários" (id)
)


2021-06-01 23:01:56,015 INFO sqlalchemy.engine.Engine [no key 0.00161s] ()
2021-06-01 23:01:56,224 INFO sqlalchemy.engine.Engine COMMIT

## Trabalhando com Objetos Relacionados

Agora, quando criamos um usuário, uma coleção de endereços em branco estará presente. Vários tipos de coleção, como sets e dicionários, são possíveis aqui, mas por padrão, a coleção é uma lista Python.

In [59]:
luiz = Usuário(nome='Luiz', sobrenome='Mario', apelido='Luma')
luiz.endereços

[]

Somos livres para adicionar objetos **Endereço** em nosso objeto **Usuário**. 

Nesse caso, apenas atribuímos uma lista completa diretamente:

In [60]:
luiz.endereços = [
    Endereço(email='luiz@google.com'),
    Endereço(email='luiz_mario@google.com')
]

Ao usar uma relação bidirecional, os elementos adicionados em uma direção tornam-se automaticamente visíveis na outra direção. Esse comportamento ocorre com base em eventos de mudança de atributo e é avaliado em Python, sem usar nenhum SQL:

In [61]:
luiz.endereços[1]

In [62]:
luiz.endereços[1].usuário

Vamos adicionar e enviar **Luiz Mario** para o banco de dados. 

Luiz, bem como os dois membros Endereço na coleção de endereços correspondente, são adicionados à sessão de uma vez, usando um processo conhecido como **cascading**:

In [63]:
session.add(luiz)
session.commit()

2021-06-01 23:01:56,717 INFO sqlalchemy.engine.Engine INSERT INTO "usuários" (nome, sobrenome, apelido) VALUES (?, ?, ?)
2021-06-01 23:01:56,719 INFO sqlalchemy.engine.Engine [generated in 0.00192s] ('Luiz', 'Mario', 'Luma')
2021-06-01 23:01:56,723 INFO sqlalchemy.engine.Engine INSERT INTO "endereços" (email, "usuário_id") VALUES (?, ?)
2021-06-01 23:01:56,724 INFO sqlalchemy.engine.Engine [generated in 0.00116s] ('luiz@google.com', 5)
2021-06-01 23:01:56,726 INFO sqlalchemy.engine.Engine INSERT INTO "endereços" (email, "usuário_id") VALUES (?, ?)
2021-06-01 23:01:56,728 INFO sqlalchemy.engine.Engine [cached since 0.004844s ago] ('luiz_mario@google.com', 5)
2021-06-01 23:01:56,730 INFO sqlalchemy.engine.Engine COMMIT

Consultando por Luiz, recebemos apenas Luiz de volta. Nenhum SQL ainda foi emitido para os endereços de Luiz:

In [64]:
luiz = session.query(Usuário).filter_by(nome='Luiz').one()
luiz

2021-06-01 23:01:56,924 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-06-01 23:01:56,927 INFO sqlalchemy.engine.Engine SELECT "usuários".id AS "usuários_id", "usuários".nome AS "usuários_nome", "usuários".sobrenome AS "usuários_sobrenome", "usuários".apelido AS "usuários_apelido"
FROM "usuários"
WHERE "usuários".nome = ?
2021-06-01 23:01:56,928 INFO sqlalchemy.engine.Engine [cached since 3.827s ago] ('Luiz',)

Vejamos a coleção de endereços. Observe o SQL:

In [65]:
luiz.endereços

2021-06-01 23:01:57,048 INFO sqlalchemy.engine.Engine SELECT "endereços".id AS "endereços_id", "endereços".email AS "endereços_email", "endereços"."usuário_id" AS "endereços_usuário_id"
FROM "endereços"
WHERE ? = "endereços"."usuário_id" ORDER BY "endereços".id
2021-06-01 23:01:57,049 INFO sqlalchemy.engine.Engine [generated in 0.00155s] (5,)

[<Endereço(email='luiz@google.com')>,
 <Endereço(email='luiz_mario@google.com')>]

Quando acessamos a coleção de **endereços**, o SQL foi emitido repentinamente. Este é um exemplo de relacionamento de [lazy loading](https://docs.sqlalchemy.org/en/14/glossary.html#term-lazy-loading). A coleção de endereços agora está carregada e se comporta como uma lista comum.

## Consultando com Associações

Agora que temos duas tabelas, podemos mostrar mais alguns recursos do **Query**, especificamente como criar consultas que lidam com as duas tabelas ao mesmo tempo. A página da Wikipedia em [SQL JOIN](https://en.wikipedia.org/wiki/Join_%28SQL%29) oferece uma boa introdução às técnicas de **join**.

Para construir uma **join** implícita simples entre **Usuário** e **Endereço**, podemos usar **Query.filter()** para igualar suas colunas relacionadas. 

Abaixo carregamos as entidades de usuário e endereço de uma vez usando este método:

In [66]:
for u, a in session.query(Usuário, Endereço).filter(Usuário.id==Endereço.usuário_id).filter(Endereço.email=='luiz@google.com').all():
    print(u)
    print(a)

2021-06-01 23:01:57,162 INFO sqlalchemy.engine.Engine SELECT "usuários".id AS "usuários_id", "usuários".nome AS "usuários_nome", "usuários".sobrenome AS "usuários_sobrenome", "usuários".apelido AS "usuários_apelido", "endereços".id AS "endereços_id", "endereços".email AS "endereços_email", "endereços"."usuário_id" AS "endereços_usuário_id"
FROM "usuários", "endereços"
WHERE "usuários".id = "endereços"."usuário_id" AND "endereços".email = ?
2021-06-01 23:01:57,164 INFO sqlalchemy.engine.Engine [generated in 0.00222s] ('luiz@google.com',)
<Usuário(nome='Luiz', apelido='Luma')>
<Endereço(email='luiz@google.com')>

A sintaxe SQL JOIN real, por outro lado, é mais facilmente obtida usando o método **Query.join()**:

In [67]:
session.query(Usuário).join(Endereço).filter(Endereço.email=='luiz_mario@google.com').all()

2021-06-01 23:01:57,282 INFO sqlalchemy.engine.Engine SELECT "usuários".id AS "usuários_id", "usuários".nome AS "usuários_nome", "usuários".sobrenome AS "usuários_sobrenome", "usuários".apelido AS "usuários_apelido"
FROM "usuários" JOIN "endereços" ON "usuários".id = "endereços"."usuário_id"
WHERE "endereços".email = ?
2021-06-01 23:01:57,283 INFO sqlalchemy.engine.Engine [generated in 0.00112s] ('luiz_mario@google.com',)

**Query.join()** sabe como fazer a junção entre o usuário e o endereço porque há apenas uma chave estrangeira entre eles.

## Deletando

Vamos tentar deletar **Luiz** e ver como fica. Marcaremos o objeto como excluído na session e, em seguida, emitiremos uma consulta de **count** para ver se nenhuma linha permanece:

In [68]:
session.delete(luiz)

In [69]:
session.query(Usuário).filter_by(nome='Luiz').count()

2021-06-01 23:01:57,533 INFO sqlalchemy.engine.Engine UPDATE "endereços" SET "usuário_id"=? WHERE "endereços".id = ?
2021-06-01 23:01:57,534 INFO sqlalchemy.engine.Engine [generated in 0.00157s] ((None, 1), (None, 2))
2021-06-01 23:01:57,557 INFO sqlalchemy.engine.Engine DELETE FROM "usuários" WHERE "usuários".id = ?
2021-06-01 23:01:57,564 INFO sqlalchemy.engine.Engine [generated in 0.00813s] (5,)
2021-06-01 23:01:57,578 INFO sqlalchemy.engine.Engine SELECT count(*) AS count_1
FROM (SELECT "usuários".id AS "usuários_id", "usuários".nome AS "usuários_nome", "usuários".sobrenome AS "usuários_sobrenome", "usuários".apelido AS "usuários_apelido"
FROM "usuários"
WHERE "usuários".nome = ?) AS anon_1
2021-06-01 23:01:57,584 INFO sqlalchemy.engine.Engine [generated in 0.00602s] ('Luiz',)

0

Até agora tudo bem. E os objetos de endereço de Luiz?

In [70]:
session.query(Endereço).filter(Endereço.email.in_(['luiz@google.com', 'luiz_mario@google.com'])).count()

2021-06-01 23:01:57,675 INFO sqlalchemy.engine.Engine SELECT count(*) AS count_1
FROM (SELECT "endereços".id AS "endereços_id", "endereços".email AS "endereços_email", "endereços"."usuário_id" AS "endereços_usuário_id"
FROM "endereços"
WHERE "endereços".email IN (?, ?)) AS anon_1
2021-06-01 23:01:57,676 INFO sqlalchemy.engine.Engine [generated in 0.00133s] ('luiz@google.com', 'luiz_mario@google.com')

2

Veja que eles ainda estão lá! Analisando o flush SQL, podemos ver que a coluna **usuário_id** de cada endereço foi definida como **NULL**, mas as linhas não foram excluídas. SQLAlchemy não assume que exclui em cascata, você tem que dizer a ele para fazer isso.

### Configurando delete/delete-orphan Cascade

Configuraremos opções em cascata no relacionamento **Usuário.endereços** para alterar o comportamento. 

Embora SQLAlchemy permita adicionar novos atributos e relacionamentos aos mapeamentos a qualquer momento, neste caso, o relacionamento existente precisa ser removido, então precisamos destruir os mapeamentos completamente e começar novamente - vamos então fechar a **Session**:

In [71]:
session.close()

2021-06-01 23:01:57,759 INFO sqlalchemy.engine.Engine ROLLBACK

E usar uma nova **declarative_base()**:

In [72]:
Base = declarative_base()

Em seguida, declararemos a classe **Usuário**, adicionando a relação de endereços, incluindo a configuração em cascata (deixaremos o construtor de fora também):

In [73]:
class Usuário(Base):
    __tablename__ = 'usuários'

    id = Column(Integer, primary_key=True)
    nome = Column(String)
    sobrenome = Column(String)
    apelido = Column(String)
    
    endereços = relationship("Endereço", back_populates='usuário', cascade="all, delete, delete-orphan")

    def __repr__(self):
        return f"<Usuário(nome='{self.nome}', apelido='{self.apelido}')>"

Em seguida, recriamos **Endereço**, observando que, neste caso, já criamos o relacionamento **Endereço.usuário** por meio da classe **Usuário**:

In [74]:
class Endereço(Base):
    __tablename__ = 'endereços'
    
    id = Column(Integer, primary_key=True)
    email = Column(String, nullable=False)
    usuário_id = Column(Integer, ForeignKey('usuários.id'))
    usuário = relationship("Usuário", back_populates="endereços")
    
    def __repr__(self):
        return f"<Endereço(email='{self.email}')>"

Agora, quando carregamos o usuário **Luiz** (abaixo usando **Query.get()**, que carrega por chave primária), remover um endereço da coleção de endereços correspondente resultará na exclusão desse endereço.

Carregamos Luiz por sua chave primária:

In [75]:
luiz = session.query(Usuário).get(5)
luiz

2021-06-01 23:01:58,286 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-06-01 23:01:58,293 INFO sqlalchemy.engine.Engine SELECT "usuários".id AS "usuários_id", "usuários".nome AS "usuários_nome", "usuários".sobrenome AS "usuários_sobrenome", "usuários".apelido AS "usuários_apelido"
FROM "usuários"
WHERE "usuários".id = ?
2021-06-01 23:01:58,295 INFO sqlalchemy.engine.Engine [generated in 0.00210s] (5,)

Removemos um endereço (lazy load é disparado):

In [76]:
del luiz.endereços[1]

2021-06-01 23:01:58,385 INFO sqlalchemy.engine.Engine SELECT "endereços".id AS "endereços_id", "endereços".email AS "endereços_email", "endereços"."usuário_id" AS "endereços_usuário_id"
FROM "endereços"
WHERE ? = "endereços"."usuário_id"
2021-06-01 23:01:58,386 INFO sqlalchemy.engine.Engine [generated in 0.00134s] (5,)

Apenas um endereço permanece:

In [77]:
session.query(Endereço).filter(Endereço.email.in_(['luiz@google.com', 'luiz_mario@google.com'])).count()

2021-06-01 23:01:58,486 INFO sqlalchemy.engine.Engine DELETE FROM "endereços" WHERE "endereços".id = ?
2021-06-01 23:01:58,492 INFO sqlalchemy.engine.Engine [generated in 0.00592s] (2,)
2021-06-01 23:01:58,513 INFO sqlalchemy.engine.Engine SELECT count(*) AS count_1
FROM (SELECT "endereços".id AS "endereços_id", "endereços".email AS "endereços_email", "endereços"."usuário_id" AS "endereços_usuário_id"
FROM "endereços"
WHERE "endereços".email IN (?, ?)) AS anon_1
2021-06-01 23:01:58,517 INFO sqlalchemy.engine.Engine [generated in 0.00422s] ('luiz@google.com', 'luiz_mario@google.com')

1

A exclusão de Luiz excluirá Luiz e o endereço restante associado a ele:

In [78]:
session.delete(luiz)

In [79]:
session.query(Usuário).filter_by(nome='Luiz').count()

2021-06-01 23:01:58,717 INFO sqlalchemy.engine.Engine DELETE FROM "endereços" WHERE "endereços".id = ?
2021-06-01 23:01:58,721 INFO sqlalchemy.engine.Engine [cached since 0.2338s ago] (1,)
2021-06-01 23:01:58,727 INFO sqlalchemy.engine.Engine DELETE FROM "usuários" WHERE "usuários".id = ?
2021-06-01 23:01:58,729 INFO sqlalchemy.engine.Engine [generated in 0.00223s] (5,)
2021-06-01 23:01:58,742 INFO sqlalchemy.engine.Engine SELECT count(*) AS count_1
FROM (SELECT "usuários".id AS "usuários_id", "usuários".nome AS "usuários_nome", "usuários".sobrenome AS "usuários_sobrenome", "usuários".apelido AS "usuários_apelido"
FROM "usuários"
WHERE "usuários".nome = ?) AS anon_1
2021-06-01 23:01:58,744 INFO sqlalchemy.engine.Engine [generated in 0.00244s] ('Luiz',)

0

In [80]:
session.query(Endereço).filter(Endereço.email.in_(['luiz@google.com', 'luiz_mario@google.com'])).count()

2021-06-01 23:01:58,832 INFO sqlalchemy.engine.Engine SELECT count(*) AS count_1
FROM (SELECT "endereços".id AS "endereços_id", "endereços".email AS "endereços_email", "endereços"."usuário_id" AS "endereços_usuário_id"
FROM "endereços"
WHERE "endereços".email IN (?, ?)) AS anon_1
2021-06-01 23:01:58,834 INFO sqlalchemy.engine.Engine [cached since 0.3216s ago] ('luiz@google.com', 'luiz_mario@google.com')

0

Observe que agora o último email que restava também foi embora, junto com o usuário.

Novamente fechamos a **session**:

In [81]:
session.close()

2021-06-01 23:01:58,963 INFO sqlalchemy.engine.Engine ROLLBACK

## Construindo Relacionamentos Many To Many

Faremos nosso sistema um aplicativo de blog, onde os usuários podem escrever itens **BlogPost**, que têm itens de **Keyword** (palavra-chave) associados a eles.

Para um simples relacionamento muitos-para-muitos (**Many To Many**), precisamos criar uma construção de [Table](https://docs.sqlalchemy.org/en/14/core/metadata.html#sqlalchemy.schema.Table) não mapeada para servir como a tabela de associação. 

Isso se parece com o seguinte:

In [82]:
from sqlalchemy import Table, Text

post_keywords = Table('post_keywords', Base.metadata,
    Column('post_id', ForeignKey('posts.id'), primary_key=True),
    Column('keyword_id', ForeignKey('keywords.id'), primary_key=True)
)

Acima, podemos ver que declarar uma Table diretamente é um pouco diferente de declarar uma classe mapeada. 

Table é uma função construtora, portanto, cada argumento de **Column** individual é separado por uma vírgula. O objeto Column também recebe seu nome explicitamente, em vez de ser obtido de um nome de atributo atribuído.

Em seguida, definimos **BlogPost** e **Keyword**, usando construções de **relationship()** complementar, cada uma referindo-se à tabela **post_keywords** como uma tabela de associação:

In [83]:
class BlogPost(Base):
    __tablename__ = 'posts'
    
    id = Column(Integer, primary_key=True)
    usuário_id = Column(Integer, ForeignKey('usuários.id'))
    título = Column(String(255), nullable=False)
    corpo = Column(Text)
    
    # many to many BlogPost <-> Keyword
    keywords = relationship('Keyword', secondary=post_keywords, back_populates='posts')
    
    def __init__(self, título, corpo, autor):
        self.autor = autor
        self.título = título
        self.corpo = corpo
    
    def __repr__(self):
        return f"BlogPost({self.título}, {self.corpo}, {self.autor})"

In [84]:
class Keyword(Base):
    __tablename__ = 'keywords'
    
    id = Column(Integer, primary_key=True)
    keyword = Column(String(50), nullable=False, unique=True)
    posts = relationship('BlogPost', secondary=post_keywords, back_populates='keywords')
    
    def __init__(self, keyword):
        self.keyword = keyword

**Observação**: As declarações de classe acima ilustram métodos **__init __()** explícitos. Lembre-se, ao usar Declarative, é opcional!

Acima, o relacionamento muitos para muitos é **BlogPost.keywords**. O recurso que define um relacionamento muitos-para-muitos é o argumento da palavra-chave **secondary** que faz referência a um objeto Table que representa a tabela de associação. Esta tabela contém apenas colunas que fazem referência aos dois lados do relacionamento; se tiver quaisquer outras colunas, como sua própria chave primária ou chaves estrangeiras para outras tabelas, SQLAlchemy requer um padrão de uso diferente denominado “objeto de associação”, descrito em [Association Object](https://docs.sqlalchemy.org/en/14/orm/basic_relationships.html#association-pattern).

Também gostaríamos que nossa classe BlogPost tivesse um campo de **autor**. Adicionaremos isso como outra relação bidirecional, exceto que um problema que teremos é que um único usuário pode ter muitas postagens de blog. Quando acessamos **Usuário.posts**, gostaríamos de poder filtrar ainda mais os resultados para não carregar a coleção inteira. Para isso, usamos uma configuração aceita por **relationship()** chamada `lazy='dynamic'`, que configura uma **loader strategy** alternativa no atributo:

In [85]:
BlogPost.autor = relationship(Usuário, back_populates="posts")

In [86]:
Usuário.posts = relationship(BlogPost, back_populates="autor", lazy="dynamic")

Criamos as novas tabelas:

In [87]:
Base.metadata.create_all(engine)

2021-06-01 23:01:59,730 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-06-01 23:01:59,733 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("usuários")
2021-06-01 23:01:59,736 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-06-01 23:01:59,741 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("endereços")
2021-06-01 23:01:59,742 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-06-01 23:01:59,744 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("post_keywords")
2021-06-01 23:01:59,746 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-06-01 23:01:59,748 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("post_keywords")
2021-06-01 23:01:59,749 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-06-01 23:01:59,754 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("posts")
2021-06-01 23:01:59,760 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-06-01 23:01:59,766 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("posts")
2021-06-01 23:01:59,773 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-06-01 23:01:59,777 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("keywords")
2021-06-01 23:01:59,779 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-06-01 23:01:59,785 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("keywords")
2021-06-01 23:01:59,788 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-06-01 23:01:59,792 INFO sqlalchemy.engine.Engine
CREATE TABLE posts (
	id INTEGER NOT NULL,
	"usuário_id" INTEGER,
	"título" VARCHAR(255) NOT NULL,
	corpo TEXT,
	PRIMARY KEY (id),
	FOREIGN KEY("usuário_id") REFERENCES "usuários" (id)
)


2021-06-01 23:01:59,793 INFO sqlalchemy.engine.Engine [no key 0.00155s] ()
2021-06-01 23:01:59,945 INFO sqlalchemy.engine.Engine
CREATE TABLE keywords (
	id INTEGER NOT NULL,
	keyword VARCHAR(50) NOT NULL,
	PRIMARY KEY (id),
	UNIQUE (keyword)
)


2021-06-01 23:01:59,947 INFO sqlalchemy.engine.Engine [no key 0.00166s] ()
2021-06-01 23:02:00,045 INFO sqlalchemy.engine.Engine
CREATE TABLE post_keywords (
	post_id INTEGER NOT NULL,
	keyword_id INTEGER NOT NULL,
	PRIMARY KEY (post_id, keyword_id),
	FOREIGN KEY(post_id) REFERENCES posts (id),
	FOREIGN KEY(keyword_id) REFERENCES keywords (id)
)


2021-06-01 23:02:00,046 INFO sqlalchemy.engine.Engine [no key 0.00095s] ()
2021-06-01 23:02:00,156 INFO sqlalchemy.engine.Engine COMMIT

O uso não é muito diferente do que temos feito. Vamos dar a **Gabriel** algumas postagens no blog:

In [88]:
gabriel = session.query(Usuário).filter_by(nome='Gabriel').one()
gabriel

2021-06-01 23:02:00,164 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-06-01 23:02:00,168 INFO sqlalchemy.engine.Engine SELECT "usuários".id AS "usuários_id", "usuários".nome AS "usuários_nome", "usuários".sobrenome AS "usuários_sobrenome", "usuários".apelido AS "usuários_apelido"
FROM "usuários"
WHERE "usuários".nome = ?
2021-06-01 23:02:00,170 INFO sqlalchemy.engine.Engine [generated in 0.00168s] ('Gabriel',)

In [89]:
post = BlogPost("Post do Gabriel", "Meu primeiro post no blog", gabriel)
session.add(post)

Estamos armazenando **keywords** (palavras-chave) exclusivamente no banco de dados, mas sabemos que ainda não temos nenhuma, então podemos apenas criá-las:

In [90]:
post.keywords.append(Keyword('gabriel'))
post.keywords.append(Keyword('primeiro_post'))

Agora podemos pesquisar todas as postagens de blog com a palavra-chave ‘primeiro_post’. 

Usaremos o operador **any** para localizar “postagens de blog em que qualquer uma de suas palavras-chave tenha a string de palavra-chave ‘primeiro_post’”:

In [91]:
session.query(BlogPost).filter(BlogPost.keywords.any(keyword='primeiro_post')).all()

2021-06-01 23:02:00,542 INFO sqlalchemy.engine.Engine INSERT INTO keywords (keyword) VALUES (?)
2021-06-01 23:02:00,544 INFO sqlalchemy.engine.Engine [generated in 0.00236s] ('gabriel',)
2021-06-01 23:02:00,550 INFO sqlalchemy.engine.Engine INSERT INTO keywords (keyword) VALUES (?)
2021-06-01 23:02:00,553 INFO sqlalchemy.engine.Engine [cached since 0.01126s ago] ('primeiro_post',)
2021-06-01 23:02:00,566 INFO sqlalchemy.engine.Engine INSERT INTO posts ("usuário_id", "título", corpo) VALUES (?, ?, ?)
2021-06-01 23:02:00,571 INFO sqlalchemy.engine.Engine [generated in 0.00513s] (1, 'Post do Gabriel', 'Meu primeiro post no blog')
2021-06-01 23:02:00,579 INFO sqlalchemy.engine.Engine INSERT INTO post_keywords (post_id, keyword_id) VALUES (?, ?)
2021-06-01 23:02:00,587 INFO sqlalchemy.engine.Engine [generated in 0.00833s] ((1, 1), (1, 2))
2021-06-01 23:02:00,609 INFO sqlalchemy.engine.Engine SELECT posts.id AS posts_id, posts."usuário_id" AS "posts_usuário_id", posts."título" AS "posts_título", posts.corpo AS posts_corpo
FROM posts
WHERE EXISTS (SELECT 1
FROM post_keywords, keywords
WHERE posts.id = post_keywords.post_id AND keywords.id = post_keywords.keyword_id AND keywords.keyword = ?)
2021-06-01 23:02:00,612 INFO sqlalchemy.engine.Engine [generated in 0.00314s] ('primeiro_post',)

[BlogPost(Post do Gabriel, Meu primeiro post no blog, <Usuário(nome='Gabriel', apelido='Biel')>)]

Se quisermos pesquisar as postagens pertencentes ao usuário **Gabriel**, podemos dizer à consulta para se restringir a esse objeto **Usuário** como pai:

In [92]:
session.query(BlogPost).filter(BlogPost.autor==gabriel).filter(BlogPost.keywords.any(keyword='primeiro_post')).all()

2021-06-01 23:02:00,680 INFO sqlalchemy.engine.Engine SELECT posts.id AS posts_id, posts."usuário_id" AS "posts_usuário_id", posts."título" AS "posts_título", posts.corpo AS posts_corpo
FROM posts
WHERE ? = posts."usuário_id" AND (EXISTS (SELECT 1
FROM post_keywords, keywords
WHERE posts.id = post_keywords.post_id AND keywords.id = post_keywords.keyword_id AND keywords.keyword = ?))
2021-06-01 23:02:00,681 INFO sqlalchemy.engine.Engine [generated in 0.00214s] (1, 'primeiro_post')

[BlogPost(Post do Gabriel, Meu primeiro post no blog, <Usuário(nome='Gabriel', apelido='Biel')>)]

Ou podemos usar o relacionamento de postagens do próprio Gabriel, que é um relacionamento "dinâmico", para consultar diretamente a partir daí:

In [93]:
gabriel.posts.filter(BlogPost.keywords.any(keyword='primeiro_post')).all()

2021-06-01 23:02:00,816 INFO sqlalchemy.engine.Engine SELECT posts.id AS posts_id, posts."usuário_id" AS "posts_usuário_id", posts."título" AS "posts_título", posts.corpo AS posts_corpo
FROM posts
WHERE ? = posts."usuário_id" AND (EXISTS (SELECT 1
FROM post_keywords, keywords
WHERE posts.id = post_keywords.post_id AND keywords.id = post_keywords.keyword_id AND keywords.keyword = ?))
2021-06-01 23:02:00,818 INFO sqlalchemy.engine.Engine [generated in 0.00259s] (1, 'primeiro_post')

[BlogPost(Post do Gabriel, Meu primeiro post no blog, <Usuário(nome='Gabriel', apelido='Biel')>)]

Com tudo concluído, encerramos a **session**.

In [94]:
session.close()

2021-06-01 23:10:31,542 INFO sqlalchemy.engine.Engine ROLLBACK

## Referências

- [SQLAlchemy Tutorial](https://docs.sqlalchemy.org/en/14/orm/tutorial.html)
- [SQLAlchemy ORM Tutorial](https://auth0.com/blog/sqlalchemy-orm-tutorial-for-python-developers/)