# Tutorial SQLite com Python

Este tutorial abordará o uso do **[SQLite](https://www.sqlite.org/index.html)** em combinação com a interface **[sqlite3](https://docs.python.org/3/library/sqlite3.html)** do Python. 

**SQLite** é um banco de dados relacional de arquivo único, empacotado com a maioria das instalações Python padrão. SQLite é frequentemente a tecnologia preferida para pequenos aplicativos, particularmente aqueles de sistemas e dispositivos incorporados como telefones e tablets. No entanto, não é incomum ouví-lo sendo usado para aplicações Web e de Desktop de pequeno e médio porte.

O esquema a seguir ilustra como o módulo **sqlite3** Python opera:

![img](https://i.ibb.co/1KfTx6W/python-sqlite3-module-working.png)

## Conectando com o Banco de Dados

A seguir temos as etapas de como se conectar ao banco de dados SQLite em Python:

1. Importar módulo **sqlite3**: A instrução `import sqlite3` importa o módulo sqlite3 em nosso programa. Usando os objetos e métodos definidos no módulo sqlite3, podemos nos comunicar com o banco de dados SQLite.

2. Método **connect()**: Use o método `connect()` do objeto `connector` com o nome do banco de dados. Para estabelecer uma conexão com o SQLite, você precisa passar o nome do banco de dados que deseja conectar. Se você especificar o nome do arquivo de banco de dados que já está presente no disco, ele se conectará a ele. Mas se o arquivo de banco de dados SQLite especificado não existir, o SQLite criará um novo banco de dados para você. Este método retorna o objeto de conexão SQLite (se a conexão for bem-sucedida).

3. Método **cursor()**: Use o método `cursor()` de um objeto de conexão para criar um objeto cursor para executar comandos/consultas SQLite no Python.

4. Método **execute()** e **executemany()**: Os métodos `execute()` e `executemany()` executam consultas SQL e retornam o resultado.

5. Extraia o resultado: Use `cursor.fetchall()`, `fetchone()` ou `fetchmany()` para ler o resultado da consulta.

6. Fechar o **cursor** e os objetos de conexão: Use os métodos `cursor.close()` e `connection.close()` para fechar o cursor e as conexões SQLite após a conclusão do seu trabalho.

7. Capture a exceção do banco de dados, se houver alguma que possa ocorrer durante o processo de conexão.

O programa Python a seguir cria e se conecta ao novo arquivo de banco de dados `database.db` e imprime os detalhes da versão do SQLite.

In [1]:
import sqlite3

try:
    sqlite_connection = sqlite3.connect('database.db')
    cursor = sqlite_connection.cursor()
    print("Banco de dados criado e conectado com sucesso ao SQLite")

    sqlite_select_query = "select sqlite_version();"
    cursor.execute(sqlite_select_query)
    record = cursor.fetchall()
    print(f"A versão do banco de dados SQLite é: {record}")
    cursor.close()

except sqlite3.Error as error:
    print(f"Erro ao conectar ao SQLite: {error}")
    
finally:
    if sqlite_connection:
        sqlite_connection.close()
        print("A conexão SQLite está fechada")

Banco de dados criado e conectado com sucesso ao SQLite
A versão do banco de dados SQLite é: [('3.35.4',)]
A conexão SQLite está fechada

Pontos importantes ao se conectar ao SQLite:

- O objeto de conexão não é seguro para thread. O módulo sqlite3 não permite o compartilhamento de conexões entre threads. Se você ainda tentar fazer isso, obterá uma exceção no tempo de execução.
- O método **connect()** aceita vários argumentos. Em nosso exemplo, passamos o argumento do nome do banco de dados para conectar.
- Usando um objeto de conexão, podemos criar um objeto **cursor** que nos permite executar comandos/consultas SQLite através do Python.
- Podemos criar quantos cursores quisermos de um único objeto de conexão. Assim como um objeto de conexão, este objeto cursor também não é seguro para threads. O módulo sqlite3 não permite o compartilhamento de cursores entre threads. Se você ainda tentar fazer isso, obterá uma exceção no tempo de execução.
- Bloco **try-except-finally**: Colocamos todo o nosso código neste bloco para capturar as exceções e erros do banco de dados SQLite durante este processo.
- Usando o objeto **Error**, podemos lidar com qualquer erro de banco de dados e exceção que pode ocorrer ao trabalhar com SQLite do Python.
- O objeto **Error** nos ajuda a entender o erro em detalhes. Ele retorna uma mensagem de erro e um código de erro.
- É sempre uma boa prática fechar o cursor e o objeto de conexão assim que seu trabalho for concluído para evitar problemas de banco de dados.

## Criando uma Tabela SQLite a partir do Python

Nesta seção veremos como criar uma tabela no banco de dados SQLite do Python. Criar uma instrução de tabela é uma consulta [DDL](https://en.wikipedia.org/wiki/Data_definition_language). Vamos ver como executá-lo em Python.

Neste exemplo, estamos criando uma tabela de nome **Pessoas** dentro do banco de dados `database.db`.

A ideia é eventualmente termos uma tabela com uma estrutura semelhante a esta:

| id | nome | email | nascimento |
|---|---|---|---|
| 1  | Gabriel  | `gabriel@gmail.com`  | 1992-03-17  |
| 2  | Rafael  | `rafael@gmail.com`  | 1991-08-16  |
| 3  | Miguel  | `miguel@yahoo.com`  | 1985-04-21  |
| 4  | Uriel  | `uriel@yahoo.com`  | 1970-06-03  |
| 5  | Maria  | `maria@gmail.com`  | 1950-07-11  |
| 6  | Paula  | `paula@gmail.com`  | 1996-06-13  |
| 7  | Joana  | `joana@gmail.com`  | 2001-11-21  |

Observe que a tabela **Pessoas** tem 4 colunas (**id**, **nome**, **email** e **nascimento**).

Etapas para criar uma tabela em SQLite a partir de Python:

- Conecte-se ao SQLite usando **sqlite3.connect()**
- Prepare uma consulta de criação de tabela
- Execute a consulta usando um **cursor.execute()**

In [2]:
try:
    sqlite_connection = sqlite3.connect('database.db')
    sqlite_create_table_query = '''CREATE TABLE Pessoas (
                                id INTEGER PRIMARY KEY,
                                nome TEXT NOT NULL,
                                email text NOT NULL UNIQUE,
                                nascimento datetime);'''
    cursor = sqlite_connection.cursor()
    print("Conectado com sucesso ao SQLite")
    cursor.execute(sqlite_create_table_query)
    sqlite_connection.commit()
    print("Tabela SQLite criada")
    cursor.close()

except sqlite3.Error as error:
    print(f"Erro ao conectar ao SQLite: {error}")
    
finally:
    if sqlite_connection:
        sqlite_connection.close()
        print("A conexão SQLite está fechada")

Conectado com sucesso ao SQLite
Tabela SQLite criada
A conexão SQLite está fechada

## Tipos de dados SQLite e seus Tipos Python Correspondentes

Antes de executar as operações SQLite [CRUD](https://en.wikipedia.org/wiki/Create,_read,_update_and_delete) no Python, primeiro devemos entender os tipos de dados SQLite e seus tipos Python correspondentes, o que nos ajudará a armazenar e ler os dados da tabela SQLite.

O mecanismo de banco de dados SQLite possui várias classes de armazenamento para armazenar valores. Cada valor armazenado em um banco de dados SQLite possui uma das seguintes classes de armazenamento ou tipos de dados.

Tipos de dados SQLite:

- **NULL**: O valor é um valor NULL.
- **INTEGER**: Para armazenar o valor numérico. O inteiro armazenado em 1, 2, 3, 4, 6 ou 8 bytes dependendo da magnitude do número.
- **REAL**: O valor é um valor de ponto flutuante, por exemplo, 3.14 valor de PI.
- **TEXT**: O valor é uma string de texto, valor TEXT é armazenado usando a codificação UTF-8, UTF-16BE ou UTF-16LE.
- **BLOB**: O valor é um blob de dados, ou seja, dados binários. Ele é usado para armazenar imagens e arquivos.

Os seguintes tipos de dados Python são convertidos em SQLite sem nenhum problema. Portanto, quando você estiver modificando ou lendo a tabela SQLite (executando operações CRUD), lembre-se desta tabela: 	

| Tipos Python | Tipos SQLite |
|---|---|
| None  | NULL  |
| int  | INTEGER  |
| float  | REAL  |
| str  | TEXT  |
| bytes  | BLOB  |

## Inserindo Dados em uma Tabela SQLite com Python

Vamos agora executar a consulta SQLite **INSERT** no Python para adicionar novas linhas à tabela **Pessoas** SQLite usando um módulo Python **sqlite3**.

A seguir temos as etapas de como inserir dados na tabela SQLite através do Python:

1. Conecte-se ao SQLite no Python: Referenciar a conexão do banco de dados Python SQLite para se conectar ao banco de dados SQLite do Python usando o módulo sqlite3.

2. Definir uma SQL Query INSERT: Em seguida, prepare uma SQL Query INSERT para inserir uma linha em uma tabela. Nesta consulta de inserção, mencionamos os nomes das colunas e seus valores para inserir em uma tabela. Por exemplo: `INSERT INTO mysql_table (coluna1, coluna2,…) VALUES (valor1, valor2,…);`

3. Obter objeto Cursor de conexão: Em seguida, use um método **connection.cursor()** para criar um objeto cursor. usando o objeto cursor, podemos executar consultas (queries) SQL.

4. Execute a query de inserção usando o método **execute()**: O método **cursor.execute()** executa a operação armazenada na Query INSERT.

5. Fazer **commit** das mudanças: Depois de executar com sucesso uma operação de inserção, faça alterações persistentes em um banco de dados usando o método **commit()** de um objeto de conexão.

6. Obtenha o número de linhas afetadas: Após uma operação de inserção bem-sucedida, use um método **cursor.rowcount** para obter o número de linhas afetadas. A contagem depende de quantas linhas você está inserindo.

7. Verifique o resultado usando a consulta SQL **SELECT**: Se necessário, execute a consulta de seleção do SQLite em Python para ver as novas alterações.

8. Fechar o objeto cursor e o objeto de conexão com o banco de dados: Use os métodos **cursor.close()** e **connection.close()** para fechar o cursor e as conexões SQLite após a conclusão do trabalho.

Até então, a tabela **Pessoas** está vazia, então vamos inserir dados nela!

In [3]:
try:
    sqlite_connection = sqlite3.connect('database.db')
    cursor = sqlite_connection.cursor()
    print("Conectado com sucesso ao SQLite")

    sqlite_insert_query = """INSERT INTO Pessoas
                          (id, nome, email, nascimento) 
                           VALUES 
                          (1,'Gabriel','gabriel@gmail.com','1992-03-17')"""

    count = cursor.execute(sqlite_insert_query)
    sqlite_connection.commit()
    print(f"Registro inserido com sucesso na tabela Pessoas: {cursor.rowcount}")
    cursor.close()

except sqlite3.Error as error:
    print(f"Erro ao conectar ao SQLite: {error}")
    
finally:
    if sqlite_connection:
        sqlite_connection.close()
        print("A conexão SQLite está fechada")

Conectado com sucesso ao SQLite
Registro inserido com sucesso na tabela Pessoas: 1
A conexão SQLite está fechada

### Usando Variáveis Python na Consulta SQLite INSERT

Às vezes, precisamos inserir um valor de variável Python na coluna de uma tabela. Este valor pode ser qualquer coisa, incluindo **int**, **string**, **float** e **DateTime**. 

Por exemplo: em um formulário de inscrição a pessoa insere seus dados. Você pode capturar esses valores em variáveis Python e inseri-los na tabela SQLite através do Python.

Usamos uma **consulta parametrizada** para inserir variáveis Python na tabela. Usando uma consulta parametrizada, podemos passar variáveis Python como um parâmetro de consulta em placeholders (`?`).

Vamos então definir uma função para facilitar este procedimento de inserção:

In [4]:
def insert_variable_into_table(id, nome, email, nascimento):
    try:
        sqlite_connection = sqlite3.connect('database.db')
        cursor = sqlite_connection.cursor()
        print("Conectado com sucesso ao SQLite")

        sqlite_insert_with_param = """INSERT INTO Pessoas
                          (id, nome, email, nascimento) 
                          VALUES (?, ?, ?, ?);"""

        data_tuple = (id, nome, email, nascimento)
        cursor.execute(sqlite_insert_with_param, data_tuple)
        sqlite_connection.commit()
        print("Variáveis Python inseridas com sucesso na tabela Pessoas")

        cursor.close()

    except sqlite3.Error as error:
        print(f"Erro ao conectar ao SQLite: {error}")

    finally:
        if sqlite_connection:
            sqlite_connection.close()
            print("A conexão SQLite está fechada")

Uma vez que a função está definida, agora podemos facilmente inserir valores em nossa tabela **Pessoas**.

In [5]:
insert_variable_into_table(2, 'Rafael', 'rafael@gmail.com', '1991-08-16')
insert_variable_into_table(3, 'Miguel', 'miguel@yahoo.com', '1985-04-21')
insert_variable_into_table(4, 'Uriel', 'uriel@yahoo.com', '1970-06-03')

Conectado com sucesso ao SQLite
Variáveis Python inseridas com sucesso na tabela Pessoas
A conexão SQLite está fechada
Conectado com sucesso ao SQLite
Variáveis Python inseridas com sucesso na tabela Pessoas
A conexão SQLite está fechada
Conectado com sucesso ao SQLite
Variáveis Python inseridas com sucesso na tabela Pessoas
A conexão SQLite está fechada

### Inserindo várias linhas na Tabela SQLite

No exemplo acima, usamos o método **execute()** do objeto **cursor** para inserir um único registro em nossa tabela. Ainda assim, às vezes precisamos inserir várias linhas na tabela em uma única consulta de inserção.

Por exemplo, você deseja adicionar todos os registros de um arquivo CSV à tabela SQLite. Em vez de executar a consulta **INSERT** todas as vezes para adicionar cada registro, você pode realizar uma operação de inserção em massa em uma única consulta usando a função **executemany()** de um cursor.

O método **executemany()** leva dois argumentos: consulta SQL e registros para atualizar.

Novamente, vamos definir uma função para este trabalho:

In [6]:
def insert_multiple_records(record_list):
    try:
        sqlite_connection = sqlite3.connect('database.db')
        cursor = sqlite_connection.cursor()
        print("Conectado com sucesso ao SQLite")

        sqlite_insert_query = """INSERT INTO Pessoas
                          (id, nome, email, nascimento) 
                          VALUES (?, ?, ?, ?);"""

        cursor.executemany(sqlite_insert_query, record_list)
        sqlite_connection.commit()
        print(f"Total de {cursor.rowcount} Registros inseridos com sucesso na tabela Pessoas")
        sqlite_connection.commit()
        cursor.close()

    except sqlite3.Error as error:
        print(f"Erro ao conectar ao SQLite: {error}")

    finally:
        if sqlite_connection:
            sqlite_connection.close()
            print("A conexão SQLite está fechada")

Podemos agora definir uma lista de registros e em seguida inserí-los através da função **insert_multiple_records()** que definimos.

In [7]:
registros = [(5, 'Maria', 'maria@gmail.com', '1950-07-11'),
             (6, 'Paula', 'paula@gmail.com', '1996-06-13'),
             (7, 'Joana', 'joana@gmail.com', '2001-11-21')]

insert_multiple_records(registros)

Conectado com sucesso ao SQLite
Total de 3 Registros inseridos com sucesso na tabela Pessoas
A conexão SQLite está fechada

Compreendendo o exemplo acima:

- Primeiramente nos conectamos ao banco de dados `database.db` através do método **connect()**
- Novamente instanciamos um objeto **cursor** para realizarmos nossa consulta.
- A instrução SQL INSERT contém a consulta parametrizada, que usa o marcador (`?`) Para cada valor de coluna.
- Em seguida, usando **cursor.executemany()**, inserimos várias linhas na tabela.
- Para saber a quantidade de registros inseridos, utilizamos o atributo **cursor.rowcount**.
- Finalmente, preparamos uma lista de registros para inserir na tabela Pessoas. Cada entrada na lista **registros** nada mais é do que uma tupla que representa uma linha a ser inserida em nossa tabela Pessoas.
- Por fim, chamamos a função **insert_multiple_records()** passando a nossa lista como argumento.

## Selecionando Dados em uma Tabela SQLite com Python

Vamos agora executar uma SQLite **SELECT** Query no Python para recuperar linhas da tabela **Pessoas** SQLite usando o módulo interno **sqlite3**.

A seguir temos as etapas de como selecionar dados em uma tabela SQLite usando Python:

1. Conecte-se ao SQLite no Python: Referenciar a conexão do banco de dados Python SQLite para se conectar ao banco de dados SQLite do Python usando o módulo sqlite3.

2. Definir uma consulta SQLite **SELECT**: Em seguida, prepare uma consulta SQLite SELECT para buscar linhas de uma tabela. Você pode selecionar todas as linhas ou limitadas com base em seus requisitos. Por exemplo: `SELECT coluna1, coluna2, colunaN FROM nome_tabela;`

3. Obter objeto Cursor de conexão: Em seguida, use um método **connection.cursor()** para criar um objeto cursor. Este método retorna um objeto cursor. O objeto Cursor é necessário para executar a consulta.

4. Execute a consulta **SELECT**: Execute a consulta de seleção usando o método **cursor.execute()**.

5. Extraia todas as linhas de um resultado: Depois de executar com sucesso uma operação de seleção, use o método **fetchall()** de um objeto cursor para obter todas as linhas de um resultado de consulta. ele retorna uma lista de linhas.

6. Iterar sob cada linha: Itere sob uma lista de linhas usando um **for** loop e acesse cada linha individualmente (acesse os dados da coluna de cada linha usando um nome de coluna ou número de índice).

7. Fechar o objeto cursor e o objeto de conexão com o banco de dados: Use os métodos **cursor.close()** e **connection.close()** para fechar a conexão SQLite após a conclusão de seu trabalho.

Vamos então definir uma função para ler todas as linhas da tabela SQLite **Pessoas**:

In [8]:
def select_pessoas():
    try:
        sqlite_connection = sqlite3.connect('database.db')
        cursor = sqlite_connection.cursor()
        print("Conectado com sucesso ao SQLite")

        sqlite_select_query = """SELECT * from Pessoas"""
        cursor.execute(sqlite_select_query)
        records = cursor.fetchall()
        print(f"Total de linhas na tabela Pessoas = {len(records)}")
        print("Imprimindo cada linha:")
        for row in records:
            print(f"Id: {row[0]}")
            print(f"Nome: {row[1]}")
            print(f"Email: {row[2]}")
            print(f"Nascimento: {row[3]}")
        cursor.close()

    except sqlite3.Error as error:
        print(f"Erro ao conectar ao SQLite: {error}")

    finally:
        if sqlite_connection:
            sqlite_connection.close()
            print("A conexão SQLite está fechada")

Agora podemos invocar a função **select_pessoas()** para selecionar todos os registros da tabela **Pessoas**.

In [9]:
select_pessoas()

Conectado com sucesso ao SQLite
Total de linhas na tabela Pessoas = 7
Imprimindo cada linha:
Id: 1
Nome: Gabriel
Email: gabriel@gmail.com
Nascimento: 1992-03-17
Id: 2
Nome: Rafael
Email: rafael@gmail.com
Nascimento: 1991-08-16
Id: 3
Nome: Miguel
Email: miguel@yahoo.com
Nascimento: 1985-04-21
Id: 4
Nome: Uriel
Email: uriel@yahoo.com
Nascimento: 1970-06-03
Id: 5
Nome: Maria
Email: maria@gmail.com
Nascimento: 1950-07-11
Id: 6
Nome: Paula
Email: paula@gmail.com
Nascimento: 1996-06-13
Id: 7
Nome: Joana
Email: joana@gmail.com
Nascimento: 2001-11-21
A conexão SQLite está fechada

### Usando Variáveis Python como Parâmetros no SQLite SELECT Query

Freqüentemente, precisamos passar uma variável para a consulta **SELECT** do SQLite na cláusula **where** para verificar alguma condição.

Digamos que o aplicativo deseja obter os detalhes de uma pessoa, fornecendo qualquer id no tempo de execução. Para lidar com esse requisito, precisamos usar uma consulta parametrizada.

Uma consulta parametrizada é uma consulta na qual marcadores de posição (`?`) são usados para parâmetros e os valores dos parâmetros fornecidos em tempo de execução.

Por exemplo, vamos definir uma função para selecionar uma pessoa específica por **id**:

In [10]:
def get_pessoa_info(id):
    try:
        sqlite_connection = sqlite3.connect('database.db')
        cursor = sqlite_connection.cursor()
        print("Conectado com sucesso ao SQLite")

        sql_select_query = """SELECT * from Pessoas where id = ?"""
        cursor.execute(sql_select_query, (id,))
        records = cursor.fetchall()
        print(f"Imprimindo ID: {id}")
        for row in records:
            print(f"Id: {row[0]}")
            print(f"Nome: {row[1]}")
            print(f"Email: {row[2]}")
        cursor.close()

    except sqlite3.Error as error:
        print(f"Erro ao conectar ao SQLite: {error}")

    finally:
        if sqlite_connection:
            sqlite_connection.close()
            print("A conexão SQLite está fechada")

Agora podemos usar a função **get_pessoa_info()** para obter informações sobre uma pessoa com um determinado **id**.

In [11]:
get_pessoa_info(1)

Conectado com sucesso ao SQLite
Imprimindo ID: 1
Id: 1
Nome: Gabriel
Email: gabriel@gmail.com
A conexão SQLite está fechada

In [12]:
get_pessoa_info(7)

Conectado com sucesso ao SQLite
Imprimindo ID: 7
Id: 7
Nome: Joana
Email: joana@gmail.com
A conexão SQLite está fechada

### Selecionando Linhas Limitadas da Tabela SQLite

Em algumas circunstâncias, buscar todas as linhas de dados de uma tabela é uma tarefa demorada se a tabela contiver milhares de linhas.

Para buscar todas as linhas, precisamos usar mais recursos, portanto, precisamos de mais espaço e tempo de processamento. Para melhorar o desempenho, use o método **fetchmany()** de um objeto cursor para buscar menos linhas.

Vamos então definir uma função em que possamos especificar o número de linhas que desejamos buscar via argumento:

In [13]:
def read_limited_rows(row_size):
    try:
        sqlite_connection = sqlite3.connect('database.db')
        cursor = sqlite_connection.cursor()
        print("Conectado com sucesso ao SQLite")

        sqlite_select_query = """SELECT * from Pessoas"""
        cursor.execute(sqlite_select_query)
        print(f"Lendo {row_size} linhas")
        records = cursor.fetchmany(row_size)
        print("Imprimindo cada linha:")
        for row in records:
            print(f"Id: {row[0]}")
            print(f"Nome: {row[1]}")
            print(f"Email: {row[2]}")
            print(f"Nascimento: {row[3]}")
        cursor.close()

    except sqlite3.Error as error:
        print(f"Erro ao conectar ao SQLite: {error}")

    finally:
        if sqlite_connection:
            sqlite_connection.close()
            print("A conexão SQLite está fechada")

Agora podemos usar a função **read_limited_rows()** para ler o número de linhas que desejamos.

In [14]:
read_limited_rows(1)

Conectado com sucesso ao SQLite
Lendo 1 linhas
Imprimindo cada linha:
Id: 1
Nome: Gabriel
Email: gabriel@gmail.com
Nascimento: 1992-03-17
A conexão SQLite está fechada

In [15]:
read_limited_rows(3)

Conectado com sucesso ao SQLite
Lendo 3 linhas
Imprimindo cada linha:
Id: 1
Nome: Gabriel
Email: gabriel@gmail.com
Nascimento: 1992-03-17
Id: 2
Nome: Rafael
Email: rafael@gmail.com
Nascimento: 1991-08-16
Id: 3
Nome: Miguel
Email: miguel@yahoo.com
Nascimento: 1985-04-21
A conexão SQLite está fechada

### Selecionando uma Única Linha da Tabela SQLite

Quando você deseja ler apenas uma linha da tabela SQLite, você deve usar o método **fetchone()** de um objeto cursor. Você também pode usar esse método em situações em que sabe que a consulta retornará apenas uma linha.

O método **cursor.fetchone()** recupera a próxima linha do conjunto de resultados, vamos então definir uma função que buscará apenas uma única linha com um **id** especificado por nós via argumento.

In [16]:
def read_single_row(pessoa_id):
    try:
        sqlite_connection = sqlite3.connect('database.db')
        cursor = sqlite_connection.cursor()
        print("Conectado com sucesso ao SQLite")

        sqlite_select_query = """SELECT * from Pessoas where id = ?"""
        cursor.execute(sqlite_select_query, (pessoa_id,))
        print("Lendo uma única linha:")
        record = cursor.fetchone()
        print(f"Id: {record[0]}")
        print(f"Nome: {record[1]}")
        print(f"Email: {record[2]}")
        print(f"Nascimento: {record[3]}")
        cursor.close()

    except sqlite3.Error as error:
        print(f"Erro ao conectar ao SQLite: {error}")

    finally:
        if sqlite_connection:
            sqlite_connection.close()
            print("A conexão SQLite está fechada")

Uma vez definida, podemos usar a função **read_single_row()**:

In [17]:
read_single_row(5)

Conectado com sucesso ao SQLite
Lendo uma única linha:
Id: 5
Nome: Maria
Email: maria@gmail.com
Nascimento: 1950-07-11
A conexão SQLite está fechada

### Acessando Dados Armazenados em SQLite usando a Biblioteca Pandas

Usando o **[pandas](https://pandas.pydata.org/)**, podemos importar os resultados de uma consulta SQLite para um **DataFrame**. 

Observe que você pode usar os mesmos comandos/sintaxe SQL que usamos na lição SQLite. 

A seguir temos um exemplo de uso de pandas junto com SQLite, primeiramente devemos importar a biblioteca pandas:

In [18]:
import pandas as pd

Leia os resultados da consulta SQLite em um DataFrame do pandas:

In [19]:
con = sqlite3.connect("database.db")
df = pd.read_sql_query("SELECT * from Pessoas", con)
con.close()

Verifique se o resultado da consulta SQL está armazenado no DataFrame:

In [20]:
df.head()

   id     nome              email  nascimento
0   1  Gabriel  gabriel@gmail.com  1992-03-17
1   2   Rafael   rafael@gmail.com  1991-08-16
2   3   Miguel   miguel@yahoo.com  1985-04-21
3   4    Uriel    uriel@yahoo.com  1970-06-03
4   5    Maria    maria@gmail.com  1950-07-11

## Atualizando Dados em uma Tabela SQLite com Python

Aprenderemos a executar uma consulta **UPDATE** através de um aplicativo Python para atualizar os dados da tabela SQLite. 

Usaremos o módulo **sqlite3** do Python para atualizar a tabela **Pessoas** SQLite.

Atualmente, a tabela **Pessoas** contém 7 linhas, então vamos atualizar o email de uma pessoa cujo id é 4. 

Para realizar a consulta SQLite **UPDATE** do Python, você precisa seguir estas etapas simples:

1. Conecte-se ao SQLite no Python: Referenciar a conexão do banco de dados Python SQLite para se conectar ao banco de dados SQLite do Python usando o módulo sqlite3.

2. Prepare uma consulta SQL **UPDATE**: Prepare uma consulta de atualização com dados a serem atualizados. Mencione o nome da coluna que queremos atualizar e seu novo valor. Por exemplo:`UPDATE nome_tabela SET coluna1 = valor1, coluna2 = valor2 ...., colunaN = valorN WHERE [condição];`

3. Execute a consulta **UPDATE**, usando **cursor.execute()**: Este método executa a operação armazenada na consulta UPDATE.

4. Fazer commit das mudanças: Após a execução bem-sucedida da consulta de atualização do SQLite, não se esqueça de confirmar suas alterações no banco de dados usando **connection.comit()**.

5. Extraia o número de linhas afetadas: Após uma operação de atualização bem-sucedida, use um atributo **cursor.rowcount** para obter o número de linhas afetadas. A contagem depende de quantas linhas você está atualizando.

6. Verifique o resultado usando a consulta SQL **SELECT**: Execute uma consulta SQLite **SELECT** no Python para ver as novas mudanças.

7. Fechar o objeto cursor e o objeto de conexão com o banco de dados: Use os métodos **cursor.close()** e **connection.close()** para fechar a conexão SQLite após a conclusão de seu trabalho.

Vamos então fazer atualizações, começaremos definindo uma função responsável por atualizar o email da Pessoa com id = 4.

In [21]:
def updated_sqlite_table():
    try:
        sqlite_connection = sqlite3.connect('database.db')
        cursor = sqlite_connection.cursor()
        print("Conectado com sucesso ao SQLite")

        sql_update_query = """UPDATE Pessoas set email = 'uriel@gmail.com' where id = 4"""
        cursor.execute(sql_update_query)
        sqlite_connection.commit()
        print("Registro atualizado com sucesso!")
        cursor.close()

    except sqlite3.Error as error:
        print(f"Erro ao conectar ao SQLite: {error}")

    finally:
        if sqlite_connection:
            sqlite_connection.close()
            print("A conexão SQLite está fechada")

Uma vez que temos a função criada, podemos agora atualizar o email do Uriel, cujo id é 4.

In [22]:
updated_sqlite_table()

Conectado com sucesso ao SQLite
Registro atualizado com sucesso!
A conexão SQLite está fechada

Selecionamos agora apenas o id 4 para ver se conseguimos efetivamente atualizar o seu email.

In [23]:
get_pessoa_info(4)

Conectado com sucesso ao SQLite
Imprimindo ID: 4
Id: 4
Nome: Uriel
Email: uriel@gmail.com
A conexão SQLite está fechada

**Observação**: Se você estiver fazendo várias operações de atualização e quiser reverter sua alteração em caso de falha de qualquer operação, use o método **rollback()** de um objeto de conexão para reverter as alterações. Use o método **rollback()** no bloco **except**.

### Usando Variáveis Python na Consulta SQLite UPDATE

Na maioria das vezes, precisamos atualizar uma tabela com alguns valores de tempo de execução. 

Por exemplo: quando os usuários atualizam seu perfil ou quaisquer outros detalhes por meio de uma interface de usuário, precisamos atualizar uma tabela com esses novos valores. Nesses casos, é sempre uma prática recomendada usar uma consulta parametrizada.

A consulta parametrizada usa placeholders (`?`) dentro de instruções SQL que contêm entradas de usuários. Isso nos ajuda a atualizar os valores de tempo de execução e evitar problemas de injeção de SQL.

Novamente definiremos uma função para esta tarefa, que receberá como argumento: o id da pessoa que desejamos alterar e o novo email a ser atualizado.

In [24]:
def update_table(id, email):
    try:
        sqlite_connection = sqlite3.connect('database.db')
        cursor = sqlite_connection.cursor()
        print("Conectado com sucesso ao SQLite")

        sql_update_query = """UPDATE Pessoas set email = ? where id = ?"""
        data = (email, id)
        cursor.execute(sql_update_query, data)
        sqlite_connection.commit()
        print("Registro atualizado com sucesso!")
        cursor.close()

    except sqlite3.Error as error:
        print(f"Erro ao conectar ao SQLite: {error}")

    finally:
        if sqlite_connection:
            sqlite_connection.close()
            print("A conexão SQLite está fechada")

Com esta função, podemos facilmente alterar os emails das pessoas.

In [25]:
update_table(5,'maria@yahoo.com')

Conectado com sucesso ao SQLite
Registro atualizado com sucesso!
A conexão SQLite está fechada

In [26]:
update_table(1,'gabriel@yahoo.com')

Conectado com sucesso ao SQLite
Registro atualizado com sucesso!
A conexão SQLite está fechada

E então confirmamos se as alterações estão corretas.

In [27]:
select_pessoas()

Conectado com sucesso ao SQLite
Total de linhas na tabela Pessoas = 7
Imprimindo cada linha:
Id: 1
Nome: Gabriel
Email: gabriel@yahoo.com
Nascimento: 1992-03-17
Id: 2
Nome: Rafael
Email: rafael@gmail.com
Nascimento: 1991-08-16
Id: 3
Nome: Miguel
Email: miguel@yahoo.com
Nascimento: 1985-04-21
Id: 4
Nome: Uriel
Email: uriel@gmail.com
Nascimento: 1970-06-03
Id: 5
Nome: Maria
Email: maria@yahoo.com
Nascimento: 1950-07-11
Id: 6
Nome: Paula
Email: paula@gmail.com
Nascimento: 1996-06-13
Id: 7
Nome: Joana
Email: joana@gmail.com
Nascimento: 2001-11-21
A conexão SQLite está fechada

Vamos compreender a função **update_table()**:

- Usamos dois placeholders na consulta de atualização, um para a coluna de **email** e o outro para a coluna de **id**.
- A seguir, preparamos uma tupla de dados chamada **data**, especificando duas variáveis Python em ordem sequencial.
- Em seguida, passamos a consulta de atualização SQL e a tupla de dados para o método **cursor.execute()**. Lembre-se de que a ordem das variáveis na tupla é sequencial de acordo com a ordem dos placeholders de coluna.

### Atualizando Várias Linhas da Tabela SQLite

No exemplo anterior, usamos o método **execute()** do objeto cursor para atualizar um único registro. Mas às vezes, precisamos atualizar várias linhas da tabela SQLite. 

Por exemplo: você deseja alterar a data de nascimento de várias pessoas.

Em vez de executar a consulta **UPDATE** todas as vezes para atualizar cada registro, você pode realizar operações de atualização em massa em uma única consulta usando o método **cursor.executemany()**.

In [28]:
def update_multiple_records(record_list):
    try:
        sqlite_connection = sqlite3.connect('database.db')
        cursor = sqlite_connection.cursor()
        print("Conectado com sucesso ao SQLite")

        sqlite_update_query = """Update Pessoas set nascimento = ? where id = ?"""
        cursor.executemany(sqlite_update_query, record_list)
        sqlite_connection.commit()
        print(f"Total de {cursor.rowcount} registros atualizados com sucesso")
        sqlite_connection.commit()
        cursor.close()

    except sqlite3.Error as error:
        print(f"Erro ao conectar ao SQLite: {error}")

    finally:
        if sqlite_connection:
            sqlite_connection.close()
            print("A conexão SQLite está fechada")

Com a função **update_multiple_records()** podemos agora atualizar múltiplos registros de uma só vez.

In [29]:
registros_para_atualizar = [('1990-05-15', 1), ('1990-04-14', 2), ('1990-03-13', 3)]
update_multiple_records(registros_para_atualizar)

Conectado com sucesso ao SQLite
Total de 3 registros atualizados com sucesso
A conexão SQLite está fechada

E novamente confirmamos se as mudanças tiveram o efeito correto.

In [30]:
read_limited_rows(3)

Conectado com sucesso ao SQLite
Lendo 3 linhas
Imprimindo cada linha:
Id: 1
Nome: Gabriel
Email: gabriel@yahoo.com
Nascimento: 1990-05-15
Id: 2
Nome: Rafael
Email: rafael@gmail.com
Nascimento: 1990-04-14
Id: 3
Nome: Miguel
Email: miguel@yahoo.com
Nascimento: 1990-03-13
A conexão SQLite está fechada

Vamos entender a função **update_multiple_records()**:

- Preparamos a consulta de atualização do SQLite com dois placeholders (coluna **nascimento** e **id**) e uma lista de registros para atualizar em formato de tupla.
- Cada elemento de uma lista nada mais é do que uma tupla para cada linha. Cada tupla contém dois valores, ou seja, **nascimento** e **id** de uma pesssoa.
- Passamos a consulta de atualização do SQLite e a lista de registros para **executemany()** como argumentos.
- Acessamos o atributo **cursor.rowcount** para saber a quantidade de registros atualizados.

### Atualizando Várias Colunas da Tabela SQLite

Também podemos atualizar várias colunas de uma tabela SQLite em uma única consulta. 

Basta preparar uma consulta parametrizada usando um placeholder para atualizar várias colunas. 

Vamos definir uma nova função de exemplo para entendermos essa ideia.

In [31]:
def update_multiple_columns(id, nascimento, email):
    try:
        sqlite_connection = sqlite3.connect('database.db')
        cursor = sqlite_connection.cursor()
        print("Conectado com sucesso ao SQLite")

        sqlite_update_query = """Update Pessoas set nascimento = ?, email = ? where id = ?"""
        column_values = (nascimento, email, id)
        cursor.execute(sqlite_update_query, column_values)
        sqlite_connection.commit()
        print("Múltiplas colunas atualizadas com sucesso")
        sqlite_connection.commit()
        cursor.close()

    except sqlite3.Error as error:
        print(f"Erro ao conectar ao SQLite: {error}")

    finally:
        if sqlite_connection:
            sqlite_connection.close()
            print("A conexão SQLite está fechada")

Com a função **update_multiple_columns()** podemos agora atualizar múltiplas colunas (nascimento e email) de uma só vez, por exemplo:

In [32]:
update_multiple_columns(1,'1915-01-10','gabriel@hotmail.com')

Conectado com sucesso ao SQLite
Múltiplas colunas atualizadas com sucesso
A conexão SQLite está fechada

E então verificamos se a nossa alteração está correta.

In [33]:
read_limited_rows(1)

Conectado com sucesso ao SQLite
Lendo 1 linhas
Imprimindo cada linha:
Id: 1
Nome: Gabriel
Email: gabriel@hotmail.com
Nascimento: 1915-01-10
A conexão SQLite está fechada

Como podemos observar, atualizar múltiplas colunas é simples, basta definirmos as colunas que desejamos atualizar em nossa SQL Query.

## Deletando Dados em uma Tabela SQLite com Python

Finalmente vamos aprender a excluir dados de uma tabela SQLite usando Python. Usaremos o módulo interno **sqlite3** do Python para excluir dados da tabela SQLite.

Para excluir dados da tabela SQLite usando Python devemos seguir etapas semelhantes a estas:

1. Conecte-se ao SQLite no Python: Referenciar a conexão do banco de dados Python SQLite para se conectar ao banco de dados SQLite do Python usando o módulo sqlite3.

2. Definir uma consulta SQL **DELETE**: Em seguida, prepare uma consulta de exclusão SQL para excluir uma linha de uma tabela. A consulta excluir contém a linha a ser excluída com base em uma condição colocada na cláusula where de uma consulta. Por exemplo: `DELETE FROM MySQL_table WHERE id = 10;`

3. Obter objeto Cursor de conexão: Em seguida, use um método **connection.cursor()** para criar um objeto cursor. Este método retorna um objeto cursor. O objeto Cursor é necessário para executar a consulta.

4. Execute a consulta de exclusão usando o método **execute()**: O método **cursor.execute()** executa a operação armazenada na consulta de exclusão. Após uma operação de exclusão bem-sucedida, o método **execute()** retorna o número de linhas afetadas.

5. Fazer commit das mudanças: Após a execução bem-sucedida da consulta de exclusão do SQLite, não se esqueça de confirmar suas alterações no banco de dados usando **connection.comit()** para que estas alterações persistam.

6. Obtenha o número de linhas afetadas: Acesse o atributo **cursor.rowcount** para obter o número de linhas afetadas. A contagem depende de quantas linhas você está excluindo. Você também pode executar a consulta de seleção do SQLite em Python para verificar o resultado.

7. Fechar o objeto cursor e o objeto de conexão com o banco de dados: Use os métodos **cursor.close()** e **connection.close()** para fechar a conexão SQLite após a conclusão de seu trabalho.

Atualmente, a tabela **Pessoas** contém 7 linhas, então vamos remover a pessoa cujo id é 5.

In [34]:
def delete_record():
    try:
        sqlite_connection = sqlite3.connect('database.db')
        cursor = sqlite_connection.cursor()
        print("Conectado com sucesso ao SQLite")
        
        sql_delete_query = """DELETE from Pessoas where id = 5"""
        cursor.execute(sql_delete_query)
        sqlite_connection.commit()
        print("Registro removido com sucesso")
        cursor.close()

    except sqlite3.Error as error:
        print(f"Erro ao conectar ao SQLite: {error}")

    finally:
        if sqlite_connection:
            sqlite_connection.close()
            print("A conexão SQLite está fechada")

In [35]:
delete_record()

Conectado com sucesso ao SQLite
Registro removido com sucesso
A conexão SQLite está fechada

Vejamos se o registro foi removido de fato:

In [36]:
select_pessoas()

Conectado com sucesso ao SQLite
Total de linhas na tabela Pessoas = 6
Imprimindo cada linha:
Id: 1
Nome: Gabriel
Email: gabriel@hotmail.com
Nascimento: 1915-01-10
Id: 2
Nome: Rafael
Email: rafael@gmail.com
Nascimento: 1990-04-14
Id: 3
Nome: Miguel
Email: miguel@yahoo.com
Nascimento: 1990-03-13
Id: 4
Nome: Uriel
Email: uriel@gmail.com
Nascimento: 1970-06-03
Id: 6
Nome: Paula
Email: paula@gmail.com
Nascimento: 1996-06-13
Id: 7
Nome: Joana
Email: joana@gmail.com
Nascimento: 2001-11-21
A conexão SQLite está fechada

**Observação**: Se você estiver executando várias operações de exclusão e quiser reverter sua alteração em caso de falha de qualquer operação, use a função **rollback()** do objeto de conexão para reverter as alterações. Use a função **rollback()** no bloco **except**.

### Usando uma Variável Python em uma Consulta SQLite DELETE

Na maioria das vezes, precisamos deletar uma linha de uma tabela SQLite onde o id foi passado em tempo de execução. 

Por exemplo: quando um usuário cancela sua assinatura, precisamos excluir a entrada de uma tabela de acordo com o ID do usuário. Nesses casos, é sempre uma prática recomendada usar uma consulta parametrizada.

A consulta parametrizada usa placeholders (`?`) dentro de instruções SQL que contêm entradas de usuários. Isso nos ajuda a excluir valores de tempo de execução e evitar problemas de injeção de SQL.

Vamos definir uma função que receberá o **id** do usuário como argumento e então removerá este usuário respectivo.

In [37]:
def delete_sqlite_record(id):
    try:
        sqlite_connection = sqlite3.connect('database.db')
        cursor = sqlite_connection.cursor()
        print("Conectado com sucesso ao SQLite")

        sql_update_query = """DELETE from Pessoas where id = ?"""
        cursor.execute(sql_update_query, (id,))
        sqlite_connection.commit()
        print("Registro removido com sucesso")
        cursor.close()

    except sqlite3.Error as error:
        print(f"Erro ao conectar ao SQLite: {error}")

    finally:
        if sqlite_connection:
            sqlite_connection.close()
            print("A conexão SQLite está fechada")

E agora podemos usar a função **delete_sqlite_record()** para excluir o registro que desejarmos, por exemplo:

In [38]:
delete_sqlite_record(2)

Conectado com sucesso ao SQLite
Registro removido com sucesso
A conexão SQLite está fechada

In [39]:
delete_sqlite_record(1)

Conectado com sucesso ao SQLite
Registro removido com sucesso
A conexão SQLite está fechada

E então confirmamos se os registros realmente foram removidos de nossa tabela:

In [40]:
select_pessoas()

Conectado com sucesso ao SQLite
Total de linhas na tabela Pessoas = 4
Imprimindo cada linha:
Id: 3
Nome: Miguel
Email: miguel@yahoo.com
Nascimento: 1990-03-13
Id: 4
Nome: Uriel
Email: uriel@gmail.com
Nascimento: 1970-06-03
Id: 6
Nome: Paula
Email: paula@gmail.com
Nascimento: 1996-06-13
Id: 7
Nome: Joana
Email: joana@gmail.com
Nascimento: 2001-11-21
A conexão SQLite está fechada

### Excluindo Várias Linhas da Tabela SQLite

No exemplo anterior, usamos o método **execute()** do objeto cursor para atualizar um único registro, mas às vezes precisamos excluir um número **N** de linhas. 

Por exemplo: você deseja excluir os dados do múltiplas pessoas da tabela **Pessoas**.

Em vez de executar uma consulta de exclusão repetidamente para excluir cada registro, você pode executar a operação de exclusão em massa em uma única consulta usando o método **cursor.executemany()**.

O método **executemany()** aceita dois parâmetros, uma consulta SQL e uma lista de registros a serem excluídos.

Vamos então definir uma função que recebe como argumento uma lista de ID's e exclui as pessoas com estes ID's respectivos.

In [41]:
def delete_multiple_records(id_list):
    try:
        sqlite_connection = sqlite3.connect('database.db')
        cursor = sqlite_connection.cursor()
        print("Conectado com sucesso ao SQLite")
        
        sqlite_update_query = """DELETE from Pessoas where id = ?"""
        cursor.executemany(sqlite_update_query, id_list)
        sqlite_connection.commit()
        print(f"Total de {cursor.rowcount} registros removidos com sucesso.")
        cursor.close()

    except sqlite3.Error as error:
        print(f"Erro ao conectar ao SQLite: {error}")

    finally:
        if sqlite_connection:
            sqlite_connection.close()
            print("A conexão SQLite está fechada")

Usaremos a função **delete_multiple_records()** para remover as pessoas com ID's 3, 4 e 6.

In [42]:
ids_para_remover = [(3,), (4,), (6,)]
delete_multiple_records(ids_para_remover)

Conectado com sucesso ao SQLite
Total de 3 registros removidos com sucesso.
A conexão SQLite está fechada

E então confirmamos se todos foram removidos com sucesso:

In [43]:
select_pessoas()

Conectado com sucesso ao SQLite
Total de linhas na tabela Pessoas = 1
Imprimindo cada linha:
Id: 7
Nome: Joana
Email: joana@gmail.com
Nascimento: 2001-11-21
A conexão SQLite está fechada

Vamos entender a função **delete_multiple_records()**:

- Preparamos a consulta de exclusão parametrizada do SQLite com um único placeholder e, em seguida, criamos uma lista de ID's para remover no formato de tupla.
- Cada elemento de uma lista nada mais é do que uma tupla para cada linha. Cada tupla contém o id de uma pessoa. Neste exemplo específico, criamos três tuplas, portanto, estamos excluindo três linhas.
- Em seguida, chamamos um método **executemany()** para excluir várias linhas da tabela SQLite **Pessoas**.
- Para saber a quantidade de registros atualizados, acessamos o atributo **cursor.rowcount**.

E assim concluímos os exemplos das operações fundamentais **CRUD** (**C**reate - **R**ead - **U**pdate - **D**elete).

## Fazendo um Backup do Banco de Dados SQLite com Python

Usando um método **connection.backup()**, você pode fazer o backup do banco de dados SQLite.

```python
connection.backup(target, pages=0, progress=None, name="main", sleep=0.250)
```

Esta função faz um backup do banco de dados SQLite e uma cópia será gravada no argumento **target**, que deve ser outra instância do **connection**. Por padrão, ou quando **pages** é 0 ou um número inteiro negativo, todo o banco de dados é copiado em uma única etapa; caso contrário, o método executa uma cópia em loop de até **n** páginas por vez.

O argumento **name** especifica o banco de dados que você deseja copiar. O argumento **sleep** define o número de segundos para dormir entre tentativas sucessivas de backup das páginas restantes de um banco de dados. O argumento **sleep** pode ser especificado como um número inteiro ou um valor de ponto flutuante.

Vamos ver o exemplo para copiar um banco de dados existente para outro.

In [44]:
def progress(status, remaining, total):
    print(f'Copiado {total - remaining} de {total} páginas...')

try:
    # Banco Existente
    sqlite_con = sqlite3.connect('database.db')
    # Banco Backup
    backup_con = sqlite3.connect('database_backup.db')
    with backup_con:
        sqlite_con.backup(backup_con, pages=3, progress=progress)
    print("Backup feito com sucesso")
    
except sqlite3.Error as error:
    print(f"Erro ao fazer o backup: {error}")
    
finally:
    if backup_con:
        backup_con.close()
        sqlite_con.close()

Copiado 3 de 3 páginas...
Backup feito com sucesso

**Observação**:

- Após conectar ao SQLite, abrimos os dois bancos de dados usando duas conexões diferentes.
- Em seguida, executamos o método **connection.backup()** usando uma primeira instância de conexão. Além disso, especificamos o número de pages (páginas) do banco de dados a serem copiadas em cada iteração.

## Foreign Key

Uma **Chave Estrangeira** (Foreign Key) é um conjunto de atributos em uma tabela que se refere à chave primária de outra tabela (identificador único dela, por exemplo: um **ID**). 

A chave estrangeira liga essas duas tabelas. Em palavras simples, uma chave estrangeira é um conjunto de atributos que faz referência a uma chave candidata. Por exemplo, uma tabela chamada **TIME** pode ter um atributo, **NOME_MEMBRO**, que é uma chave estrangeira que faz referência a uma chave candidata, **NOME_PESSOA**, na tabela **PESSOA**. Visto que **NOME_MEMBRO** é uma chave estrangeira, qualquer valor existente como o nome de um membro em **TIME** também deve existir como o nome de uma pessoa na tabela **PESSOA**; em outras palavras, cada membro de uma **EQUIPE** também é uma **PESSOA**.

A tabela que contém a chave estrangeira é chamada de tabela filha, e a tabela que contém a chave candidata é chamada de tabela referenciada ou pai.

Na modelagem e implementação relacional de banco de dados, uma chave candidata é um conjunto de zero ou mais atributos, considerados valores são garantidos como únicos para cada tupla (linha) em uma relação. O valor ou combinação de valores de atributos-chave candidatos para qualquer tupla não pode ser duplicado para qualquer outra tupla nessa relação.

Como o objetivo da chave estrangeira é identificar uma linha específica da tabela referenciada, geralmente é necessário que a chave estrangeira seja igual à chave candidata em alguma linha da tabela primária, ou então não tenha valor (o valor **NULL**). Essa regra é chamada de **referential integrity constraint** entre as duas tabelas. Como as violações dessas restrições podem ser a fonte de muitos problemas de banco de dados, a maioria dos sistemas de gerenciamento de banco de dados fornece mecanismos para garantir que cada chave estrangeira não nula corresponda a uma linha da tabela referenciada. 

Por exemplo, considere um banco de dados com duas tabelas: uma tabela **CLIENTE** que inclui todos os dados do cliente e uma tabela **PEDIDO** que inclui todos os pedidos do cliente. Suponha que a empresa exija que cada pedido se refira a um único cliente. Para refletir isso no banco de dados, uma coluna de chave estrangeira é adicionada à tabela **PEDIDO** (por exemplo, **CLIENTE_ID**), que faz referência à chave primária de **CLIENTE** (por exemplo, **ID**). Como a chave primária de uma tabela deve ser única e porque **CLIENTE_ID** contém apenas valores desse campo de chave primária, podemos supor que, quando tiver um valor, **CLIENTE_ID** identificará o cliente específico que fez o pedido. No entanto, isso não pode mais ser assumido se a tabela **PEDIDO** não for mantida atualizada quando as linhas da tabela **CLIENTE** forem excluídas ou a coluna **ID** alterada, e trabalhar com essas tabelas pode se tornar mais difícil. Muitos bancos de dados do mundo real contornam esse problema 'inativando' em vez de excluindo fisicamente as chaves estrangeiras da tabela mestre ou por programas de atualização complexos que modificam todas as referências a uma chave estrangeira quando uma mudança é necessária.

As chaves estrangeiras desempenham um papel essencial no design do banco de dados. Uma parte importante do design do banco de dados é garantir que os relacionamentos entre entidades do mundo real sejam refletidos no banco de dados por referências, usando chaves estrangeiras para se referir de uma tabela a outra.

A seguir veremos como podemos construir tabelas relacionadas usando **SQLite**.

### Criando um Banco de Dados e Fazendo uma Conexão

Vamos criar função generalizada reutilizável para conectar ao banco de dados, dessa vez definiremos uma função simples, sem tratamento de exceção, uma vez que o nosso objetivo é entender o conceito de chaves estrangeiras.

In [45]:
def db_connect(db_path):
    con = sqlite3.connect(db_path)
    return con

### Criando Tabelas

Neste exemplo vamos criar duas tabelas:

![img](https://i.ibb.co/K5vqb8y/tabelas.png)

- **Artistas**: Representando um artista musical, com as colunas **id**, **nome**, **origem**.
- **Albuns**: Representando os albuns de um artista, com as colunas **id**, **nome**, **ano_lancamento** e **artista_id**.

Vamos então criá-las:

In [46]:
con = db_connect('dados.db')
cur = con.cursor()

artistas_sql = """
CREATE TABLE Artistas (
id integer PRIMARY KEY,
nome text NOT NULL,
origem text NOT NULL)"""
cur.execute(artistas_sql)

albuns_sql = """
CREATE TABLE Albuns (
id integer PRIMARY KEY,
nome text NOT NULL,
ano_lancamento integer,
artista_id integer,
FOREIGN KEY (artista_id) REFERENCES Artistas (id))"""

cur.execute(albuns_sql);

O código acima cria um objeto de conexão e o usa para instanciar um objeto cursor. O objeto cursor é usado para executar instruções SQL no banco de dados SQLite.

Com o cursor criado, escrevi o SQL para criar a tabela de **Artistas**, dando a ela uma chave primária junto com um campo de texto de nome e origem e atribuí ela uma variável chamada **artistas_sql**. Em seguida, chamo o método **execute()** do objeto cursor, passando a variável **artistas_sql**. Em seguida, crio uma tabela de **Albuns** de maneira semelhante, com ela tendo uma referência a tabela **Artistas**, em que o ID do artista é uma chave estrangeira na tabela **Albuns**.

Você pode consultar a tabela **sqlite_master**, uma tabela de metadados SQLite embutida, para verificar se os comandos acima foram bem-sucedidos.

Para ver todas as tabelas no banco de dados conectado atualmente, consulte a coluna de nome da tabela **sqlite_master** onde o tipo é igual a "table".

In [47]:
cur.execute("SELECT name FROM sqlite_master WHERE type='table'")
print(cur.fetchall())

[('Artistas',), ('Albuns',)]

Para dar uma olhada no esquema das tabelas, consulte a coluna sql da mesma tabela onde o tipo ainda é "table" e o nome é igual a "Artistas" e / ou "Albuns".

In [48]:
cur.execute("""SELECT sql FROM sqlite_master WHERE type='table' AND name='Artistas'""")
print(cur.fetchone()[0])

CREATE TABLE Artistas (
id integer PRIMARY KEY,
nome text NOT NULL,
origem text NOT NULL)

### Carregando os Dados

Seguiremos este simples fluxo de trabalho para executar instruções INSERT:

- Conecte-se ao banco de dados
- Crie um objeto de cursor
- Escreva uma instrução SQL de inserção parametrizada e armazene como uma variável
- Chame o método **execute()** no objeto cursor passando a variável sql e os valores, como uma tupla, a serem inseridos na tabela
- Chame o método **executemany()** no objeto cursor passando a variável sql e os valores, como uma lista de tuplas, a serem inseridos na tabela

Dado este ideia geral, vejamos como podemos fazer estes procedimentos.

In [49]:
con = db_connect('dados.db')
cur = con.cursor()

artista_sql = "INSERT INTO Artistas (nome, origem) VALUES (?, ?)"
cur.execute(artista_sql, ('Pink Floyd', 'Reino Unido'))
cur.execute(artista_sql, ('Iron Maiden', 'Reino Unido'))
cur.execute(artista_sql, ('Angra', 'Brasil'))
cur.execute(artista_sql, ('Dream Theater', 'Estados Unidos'));

E agora usamos o método **commit()** para efetivar as alterações no banco de dados.

In [50]:
con.commit()

Vamos selecionar a tabela **Artistas** para ver se os dados foram realmente inseridos.

In [51]:
con = db_connect('dados.db')
artistas = pd.read_sql_query("SELECT * from Artistas", con)
con.close()

In [52]:
artistas

   id           nome          origem
0   1     Pink Floyd     Reino Unido
1   2    Iron Maiden     Reino Unido
2   3          Angra          Brasil
3   4  Dream Theater  Estados Unidos

Como podemos observar, os dados foram inseridos com sucesso em nossa tabela **Artistas**.

Agora vamos inserir dados em nossa tabela **Albuns**, que está relacionada com a tabela **Artistas** através da chave estrangeira **artista_id**.

In [53]:
con = db_connect('dados.db')
cur = con.cursor()

album_sql = "INSERT INTO Albuns (nome, ano_lancamento, artista_id) VALUES (?, ?, ?)"
lista_albuns = [
    ('The Wall', 1979, 1),
    ('The Dark Side of the Moon', 1973, 1),
    ('Powerslave', 1984, 2),
    ('Brave New World', 2000, 2),
    ('Angels Cry', 1993, 3),
    ('Rebirth', 2001, 3),
    ('Awake', 1994, 4),
    ('Octavarium', 2005, 4)
]
cur.executemany(album_sql, lista_albuns)
con.commit()

Vamos selecionar a tabela **Albuns** para ver se os dados foram realmente inseridos.

In [54]:
con = db_connect('dados.db')
albuns = pd.read_sql_query("SELECT * from Albuns", con)
con.close()

In [55]:
albuns

   id                       nome  ano_lancamento  artista_id
0   1                   The Wall            1979           1
1   2  The Dark Side of the Moon            1973           1
2   3                 Powerslave            1984           2
3   4            Brave New World            2000           2
4   5                 Angels Cry            1993           3
5   6                    Rebirth            2001           3
6   7                      Awake            1994           4
7   8                 Octavarium            2005           4

Uma vez que temos as duas tabelas com dados inseridos, podemos usar a função **merge()** da biblioteca pandas, unindo assim as duas tabelas para que possamos ver todos os artistas e seus respectivos albuns.

In [56]:
pd.merge(artistas, albuns, left_on='id', right_on='artista_id', how='left').drop('id_y',axis=1)

,id_x,nome_x,origem,nome_y,ano_lancamento,artista_id
0,1,Pink Floyd,Reino Unido,The Wall,1979,1
1,1,Pink Floyd,Reino Unido,The Dark Side of the Moon,1973,1
2,2,Iron Maiden,Reino Unido,Powerslave,1984,2
3,2,Iron Maiden,Reino Unido,Brave New World,2000,2
4,3,Angra,Brasil,Angels Cry,1993,3
5,3,Angra,Brasil,Rebirth,2001,3
6,4,Dream Theater,Estados Unidos,Awake,1994,4
7,4,Dream Theater,Estados Unidos,Octavarium,2005,4

Neste notebook, fiz uma breve demonstração dos recursos e funcionalidades mais importantes da interface **sqlite3 Python** para o banco de dados SQLite de arquivo único e leve que vem pré-empacotado com a maioria das instalações do Python.

Para mais detalhes técnicos você pode checar a [documentação oficial](https://docs.python.org/3/library/sqlite3.html).

## Referências

- [Guru99](https://www.guru99.com/sqlite-primary-foreign-key-tutorial.html)
- [Foreign Key](https://en.wikipedia.org/wiki/Foreign_key)
- [PyNative](https://pynative.com/python-sqlite/)
- [Stackabuse](https://stackabuse.com/a-sqlite-tutorial-with-python/)