# Fundamentos Python

![img](https://i.ibb.co/F6TLzYT/pythonn.png)

**[Python](https://www.python.org/)** é uma linguagem de programação que nos permite trabalhar rapidamente e integrar sistemas de forma mais eficaz.

Quer você seja novo em programação ou um desenvolvedor experiente, é fácil aprender e usar Python.

## O Zen do Python

O pioneiro Python de longo tempo [Tim Peters](https://en.wikipedia.org/wiki/Tim_Peters_(software_engineer)) criou uma série de princípios que guiam a linguagem Python. 

Para conhecermos eles, podemos executar o seguinte comando:

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## Python Básico

A seguir vamos aprender os fundamentos básicos da linguagem Python, nosso estudo será orientado a exemplos.

### Operadores Matemáticos

De precedência **mais alta** para a **mais baixa**:

| Operadores | Operação         | Exemplo         |
| --------- | ----------------- | --------------- |
| \*\*      | Expoente          | `2 ** 3 = 8`    |
| %         | Módulo/Restante | `22 % 8 = 6`    |
| //        | Divisão Inteira  | `22 // 8 = 2`   |
| /         | Divisão          | `22 / 8 = 2.75` |
| \*        | Multiplicação    | `3 * 3 = 9`     |
| -         | Subtração       | `5 - 2 = 3`     |
| +         | Adição          | `2 + 2 = 4`     |

Exemplos de expressões no shell interativo:

In [7]:
2 + 3 * 6

20

In [8]:
(2 + 3) * 6

30

In [10]:
2 ** 8

256

In [11]:
23 // 7

3

In [14]:
23 / 7

3.2857142857142856

In [15]:
23 % 7

2

In [16]:
(5 - 1) * ((7 + 1) / (3 - 1))

16.0

### Tipos de Dados

| Tipos de Dados              | Exemplos                                  |
| ---------------------- | ----------------------------------------- |
| Inteiros               | `-2, -1, 0, 1, 2, 3, 4, 5`                |
| Números Floating-point | `-1.25, -1.0, -0.5, 0.0, 0.5, 1.0, 1.25` |
| Strings                | `'a', 'aa', 'aaa', 'Olá!', '11 gatos'`   |

In [17]:
print(type(-1))
print(type(0))
print(type(5))

<class 'int'>
<class 'int'>
<class 'int'>

In [18]:
print(type(-1.3))
print(type(0.0))
print(type(7.6633))

<class 'float'>
<class 'float'>
<class 'float'>

In [19]:
print(type('Olá'))
print(type('aaa'))
print(type('111'))

<class 'str'>
<class 'str'>
<class 'str'>

### Concatenação e Replicação de Strings

Concatenando uma String:

In [20]:
'Python' 'Programação'

'PythonProgramação'

In [21]:
'Python' + 'Programação'

'PythonProgramação'

**Observação**: Evite o operador `+` para concatenação de string. Prefira a formatação da string.

Replicação de String:

In [22]:
"Python" * 10

'PythonPythonPythonPythonPythonPythonPythonPythonPythonPython'

### Variáveis

Podemos nomear qualquer variável, desde que obedeçamos às seguintes regras:

1. Pode ser apenas uma palavra.
2. Ele pode usar apenas letras, números e o caractere sublinhado (`_`).
3. Não pode começar com um número.
4. Os nomes das variáveis que começam com um sublinhado (`_`) são considerados "inúteis".

Por exemplo:

In [23]:
nome = 'Gabriel'
nome

'Gabriel'

In [25]:
_nome = 'Gabriel'

`_nome` não deve ser usado novamente no código.

### Comentários

Em programação de computador, um comentário é uma explicação legível ou anotação no código-fonte de um programa de computador. 

Eles são adicionados com o propósito de tornar o código-fonte mais fácil de ser entendido por humanos e geralmente são ignorados por compiladores e interpretadores.

Comentários Inline:

In [28]:
# Este é um comentário Inline

Comentários Multiline:

In [29]:
# Este é um comentário
# Com múltiplas linhas

Código com um comentário:

In [30]:
x = 13 # inicializando a variável x

Docstrings:

In [31]:
"""
Docstrings normalmente são usados
Para documentar funções e blocos de código
"""

'\nDocstrings normalmente são usados\nPara documentar funções e blocos de código\n'

Observe os dois espaços antes do comentário:

In [32]:
def func():
    """
    Essa é uma docstring de função
    Também podemos usar:
    ''' Docstring de Função '''
    """

### A Função print()

A função **print()** imprime a mensagem especificada na tela ou outro dispositivo de saída (**output**) padrão.

A mensagem pode ser uma string, ou qualquer outro objeto, o objeto será convertido em uma string antes de ser escrito na tela.

In [33]:
print('Hello World')

Hello World

In [35]:
a = 1
print('a =',a)

a = 1

### A Função input()

O método **input()** lê uma linha da entrada (geralmente do usuário), converte a linha em uma string removendo a nova linha final e a retorna.

In [36]:
print('Qual o seu nome?')
meu_nome = input()
print('É uma honra conhecê-lo, {}'.format(meu_nome))

Qual o seu nome?

 Gabriel

É uma honra conhecê-lo, Gabriel

### A Função len()

A função **len()** avalia como um valor inteiro o número de caracteres em uma string:

In [37]:
len('python')

6

**len()** também pode ser usado para sabermos quantos objetos estão contidos em uma lista, tupla, etc.

In [39]:
langs = ['python','javascript','c++']
len(langs)

3

**Observação**: Teste de vazio de strings, listas, dicionário, etc, não é recomendado usar **len()**, mas sim avaliação booleana direta.

In [40]:
lista = [1,2,3]
if lista:
    print('A lista NÃO está vazia!')

A lista NÃO está vazia!

### As Funções str(), int() e float()

São funções que nos auxiliam na conversão de dados, também conhecido como *casting*.

Inteiro ou Float para String

In [41]:
str(27)

'27'

In [42]:
print(f'Eu tenho {str(27)} anos de idade')

Eu tenho 27 anos de idade

In [43]:
str(3.14)

'3.14'

Float para Inteiro:

In [44]:
int(7.55)

7

In [45]:
int(6.333) + 4

10

Inteiro para Float:

In [46]:
float(15)

15.0

### Controle de Fluxo

| Operador | Significado              |
| -------- | ------------------------ |
| `==`     | Igual a                  |
| `!=`     | Diferente de             |
| `<`      | Menor que                |
| `>`      | Maior que                |
| `<=`     | Menor ou igual a         |
| `>=`     | Maior ou igual a         |

Esses operadores são avaliados como `True` ou `False`, dependendo dos valores fornecidos a eles.

Exemplos:

In [47]:
77 == 77

True

In [48]:
100 == 90

False

In [49]:
'python' == 'python'

True

In [50]:
"Python" == "python"

False

In [51]:
'cachorro' != 'gato'

True

In [52]:
33 == 33.00

True

In [53]:
33 == '33'

False

In [54]:
100 > 50

True

In [55]:
50 <= 50

True

In [56]:
20 >= 30

False

### Avaliação Booleana

Não é recomendado usar o operador `==` ou `!=` para avaliar uma operação booleana. 

Use os operadores `is` ou `is not`, ou use a avaliação booleana implícita.

In [57]:
True == True

True

In [58]:
True != False

True

In [59]:
True is True

True

In [60]:
True is not False

True

Essas declarações são equivalentes:

In [2]:
A = [10,20,30]

if A is not False:
    print('A é True')
if A:
    print('A é True')

A é True
A é True

Confirmando que **A** é **True** com o método **bool()**:

In [4]:
bool(A)

True

E estes também:

In [3]:
B = []

if B is not True:
    print('B é False')
if not B:
    print('B é False')

B é False
B é False

Confirmando que **B** é **False** com o método **bool()**:

In [5]:
bool(B)

False

### Operadores Booleanos

Existem três operadores booleanos: **and**, **or** e **not**.

A Tabela Verdade do Operador **and**:

| Expressão         | Resultado    |
| ----------------- | ------------ |
| `True and True`   | `True`       |
| `True and False`  | `False`      |
| `False and True`  | `False`      |
| `False and False` | `False`      |

A Tabela Verdade do Operador **or**:

| Expressão        | Resultado    |
| ---------------- | ------------ |
| `True or True`   | `True`       |
| `True or False`  | `True`       |
| `False or True`  | `True`       |
| `False or False` | `False`      |

A Tabela Verdade do Operador **not**:

| Expressão   | Resultado    |
| ----------- | ------------ |
| `not True`  | `False`      |
| `not False` | `True`       |

### Combinando Operadores Booleanos e de Comparação

In [103]:
(4 < 5) and (5 < 6)

True

In [104]:
(4 < 5) and (9 < 6)

False

In [105]:
(1 == 2) or (2 == 2)

True

Podemos também usar vários **operadores booleanos** em uma expressão, junto com os **operadores de comparação**:

In [106]:
2 + 2 == 4 and not 2 + 2 == 5 and 2 * 2 == 2 + 2

True

### Declarações if

In [108]:
nome = 'Bob'

if nome == 'Bob':
    print('Olá Bob!')

Olá Bob!

### Declarações else

In [110]:
nome = 'João'

if nome == 'Bob':
    print('Olá Bob!')
else:
    print('Olá, amigo.')

Olá, amigo.

### Declarações elif

In [111]:
nome = 'Bob'
idade = 5

if nome == 'Alice':
    print('Olá, Alice.')
elif idade < 12:
    print('Criança, você não é a Alice!')

Criança, você não é a Alice!

In [6]:
nome = 'Bob'
idade = 30

if nome == 'Alice':
    print('Olá, Alice.')
elif idade < 12:
    print('Criança, você não é a Alice!')
else:
    print('Você não é a Alice e nem uma criança.')

Você não é a Alice e nem uma criança.

### Declarações while (Loop)

In [113]:
spam = 0

while spam < 5:
    print('Hello, world!')
    spam = spam + 1

Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!

### Declarações **break**

Se a execução atinge uma instrução **break**, ela sai imediatamente da cláusula do loop **while**:

In [114]:
while True:
    print('Por favor, informe o seu nome: ')
    nome = input()
    if nome == 'Gabriel':
        break
print('Obrigado!')

Por favor, informe o seu nome:

 Rafael

Por favor, informe o seu nome:

 Miguel

Por favor, informe o seu nome:

 Gabriel

Obrigado!

### Declarações **continue**

Quando a execução do programa atinge uma instrução **continue**, a execução do programa salta imediatamente para o início do loop.

In [115]:
while True:
    print('Quem é você?')
    name = input()
    if name != 'Luiz':
        continue
    print('Olá, Luiz. Qual é a senha de acesso? (É um animal)')
    password = input()
    if password == 'vaca':
        break
print('Acesso autorizado.')

Quem é você?

 José

Quem é você?

 Luiz

Olá, Luiz. Qual é a senha de acesso? (É um animal)

 cachorro

Quem é você?

 Luiz

Olá, Luiz. Qual é a senha de acesso? (É um animal)

 vaca

Acesso autorizado.

### Loops **for** e a Função **range()**

In [119]:
for i in range(1999,2022):
    print('Ano: {}'.format(str(i)))

Ano: 1999
Ano: 2000
Ano: 2001
Ano: 2002
Ano: 2003
Ano: 2004
Ano: 2005
Ano: 2006
Ano: 2007
Ano: 2008
Ano: 2009
Ano: 2010
Ano: 2011
Ano: 2012
Ano: 2013
Ano: 2014
Ano: 2015
Ano: 2016
Ano: 2017
Ano: 2018
Ano: 2019
Ano: 2020
Ano: 2021

A função **range()** também pode ser chamada com três argumentos. 

Os primeiros dois argumentos serão os valores **inicial** e **final**, e o terceiro será o argumento da **etapa**. 

A etapa é o valor pelo qual a variável é aumentada após cada iteração.

In [121]:
for i in range(0,12,2):
    print(i)

0
2
4
6
8
10

Podemos até usar um número negativo para o argumento **etapa**, para fazer o loop **for** fazer a contagem regressiva em vez de aumentar.

In [122]:
for i in range(7,-1,-1):
    print(i)

7
6
5
4
3
2
1
0

### Declaração for else

Isso permite especificar uma instrução a ser executada no caso de o loop completo ter sido executado. 

Útil apenas quando uma condição de interrupção pode ocorrer no loop:

In [126]:
for i in [1, 2, 3, 4, 5]:
    if i == 3:
        break
else:
    print('Só executado quando nenhum item da lista for igual a 3')

### Importando Módulos

In [129]:
import random

for _ in range(5):
    print(random.randint(1, 10))

9
7
10
10
6

In [136]:
from random import *

for _ in range(3):
    print(choice(['pedra','papel','tesoura']))

tesoura
pedra
papel

In [138]:
import sys, os, math

print(f'Estou usando o Sistema: {sys.platform}')
print(f'Estou trabalhando no diretório: {os.getcwd()}')
print(f'Valor de PI = {math.pi}')

Estou usando o Sistema: linux
Estou trabalhando no diretório: /home/akira/Documentos/Cursos/Fundamentos de Programação
Valor de PI = 3.141592653589793

### Encerrando um Programa Antecipadamente com **sys.exit()**

In [ ]:
while True:
    print('Digite exit para sair do programa.')
    resposta = input()
    if resposta == 'exit':
        sys.exit()
    print('Você digitou: {}.'.format(resposta))

### Funções

In [143]:
def olá(nome):
    print('Olá {}'.format(nome))

olá('Gabriel')
olá('Rafael')

Olá Gabriel
Olá Rafael

### Valores de Retorno e Declarações de retorno

Ao criar uma função usando a instrução **def**, podemos especificar qual deve ser o valor de retorno com uma instrução **return**. 

Uma declaração de retorno consiste no seguinte:

- A palavra-chave **return**
- O valor ou expressão que a função deve retornar

In [154]:
def gerador_frases(num):
    if num == 1:
        return 'It is not enough to have a good mind; the main thing is to use it well. René Descartes'
    if num == 2:
        return 'Except our own thoughts, there is nothing absolutely in our power. René Descartes'
    if num == 3:
        return 'Love does not dominate; it cultivates. Johann Wolfgang von Goethe'
    if num == 4:
        return 'The soul that sees beauty may sometimes walk alone. Johann Wolfgang von Goethe'
    if num == 5:
        return 'That which does not kill us makes us stronger. Friedrich Nietzsche'
    if num == 6:
        return 'Man is the cruelest animal. Friedrich Nietzsche'
    if num == 7:
        return 'You have power over your mind - not outside events. Realize this, and you will find strength. Marcus Aurelius'
    if num == 8:
        return 'Death smiles at us all, but all a man can do is smile back. Marcus Aurelius'
    if num == 9:
        return 'Science is organized knowledge. Wisdom is organized life. Immanuel Kant'

n = randint(1, 9)
frase_aleatoria = gerador_frases(n)
print(frase_aleatoria)

It is not enough to have a good mind; the main thing is to use it well. René Descartes

### O Valor **None**

In [157]:
hello = print('Hello')
hello

Hello

In [158]:
hello is None

True

In [159]:
type(hello)

NoneType

**Observação**: Evite comparar **None** com o operador `==`. Procure usar `is`.

### Argumentos de Palavra-chave e **print()**

In [162]:
print('Olá',end='')
print('Python')

OláPython

In [163]:
print('leão','elefante','tigre')

leão elefante tigre

In [164]:
print('China','Rússia','Índia', sep=',')

China,Rússia,Índia

### A Declaração **global**

Se você precisar modificar uma variável global de dentro de uma função, use a instrução **global**:

In [165]:
def func():
    global var
    var = 'variável da função'

var = 'variável global'
func()
print(var)

variável da função

Existem quatro regras para dizer se uma variável está em um escopo **local** ou **global**:

1. Se uma variável está sendo usada no escopo global (ou seja, fora de todas as funções), então é sempre uma variável global.

2. Se houver uma declaração global para essa variável em uma função, é uma variável global.

3. Caso contrário, se a variável for usada em uma instrução de atribuição na função, é uma variável local.

4. Mas se a variável não for usada em uma instrução de atribuição, é uma variável global.

### Lidando com Exceções

Tratamento básico de exceções:

In [167]:
def divisão(x, y):
    try:
        return x / y
    except ZeroDivisionError as e:
        print('Erro: Argumento Inválido: {}'.format(e))

print(divisão(2,2))
print(divisão(100,3))
print(divisão(1,2))
print(divisão(5,0))

1.0
33.333333333333336
0.5
Erro: Argumento Inválido: division by zero
None

O código dentro da seção **finally** é sempre executado, não importa se uma exceção foi levantada ou não, e mesmo se uma exceção não for detectada.

In [168]:
def divisão(x, y):
    try:
        return x / y
    except ZeroDivisionError as e:
        print('Erro: Argumento Inválido: {}'.format(e))
    finally:
        print('-- Divisão Finalizada! --')

print(divisão(2,2))
print(divisão(100,3))
print(divisão(1,2))
print(divisão(5,0))

-- Divisão Finalizada! --
1.0
-- Divisão Finalizada! --
33.333333333333336
-- Divisão Finalizada! --
0.5
Erro: Argumento Inválido: division by zero
-- Divisão Finalizada! --
None

### Listas

In [172]:
animais = ['tartaruga','lobo','baleia','coruja']
animais

['tartaruga', 'lobo', 'baleia', 'coruja']

Obtendo valores individuais em uma lista com índices:

In [173]:
animais[0]

'tartaruga'

In [174]:
animais[1]

'lobo'

In [175]:
animais[2]

'baleia'

In [177]:
animais[3]

'coruja'

Índices Negativos:

In [178]:
animais[-1]

'coruja'

In [179]:
animais[-3]

'lobo'

In [180]:
print('A {} é um pássaro\nA {} é um animal marinho'.format(animais[-1],animais[-2]))

A coruja é um pássaro
A baleia é um animal marinho

Obtendo Sublistas com **Slices**:

In [181]:
animais[0:4]

['tartaruga', 'lobo', 'baleia', 'coruja']

In [182]:
animais[1:3]

['lobo', 'baleia']

In [183]:
animais[0:-1]

['tartaruga', 'lobo', 'baleia']

In [184]:
animais[:2]

['tartaruga', 'lobo']

In [185]:
animais[1:]

['lobo', 'baleia', 'coruja']

Fazer o **slicing** da lista completa resultará em uma cópia:

In [186]:
copia_animais = animais[:]

In [187]:
animais.append('jacaré')
animais

['tartaruga', 'lobo', 'baleia', 'coruja', 'jacaré']

In [188]:
copia_animais

['tartaruga', 'lobo', 'baleia', 'coruja']

Obtendo o comprimento de uma lista com **len()**:

In [189]:
len(animais)

5

Alteração os valores em uma lista com índices:

In [190]:
animais[1] = 'morcego'
animais

['tartaruga', 'morcego', 'baleia', 'coruja', 'jacaré']

In [191]:
animais[3] = animais[1]

In [192]:
animais

['tartaruga', 'morcego', 'baleia', 'morcego', 'jacaré']

In [193]:
animais[-1] = 999

In [194]:
animais

['tartaruga', 'morcego', 'baleia', 'morcego', 999]

**Concatenação** de Lista e **Replicação** de Lista:

In [195]:
[1,2,3] + ['X','Y','Z']

[1, 2, 3, 'X', 'Y', 'Z']

In [196]:
['X', 'Y', 'Z'] * 3

['X', 'Y', 'Z', 'X', 'Y', 'Z', 'X', 'Y', 'Z']

In [197]:
z = [3,6,9]
z = z + ['A','B','C']

In [198]:
z

[3, 6, 9, 'A', 'B', 'C']

Removendo Valores de Listas com declarações **del**

In [199]:
ciencias = ['física','química','matemática','cosmologia']
ciencias

['física', 'química', 'matemática', 'cosmologia']

In [200]:
del ciencias[2]

In [201]:
ciencias

['física', 'química', 'cosmologia']

Usando **for** Loops com Listas

In [202]:
alimentos = ['tomate','abacate','feijão','arroz']

for i, alimento in enumerate(alimentos):
    print(f'Índice {i} em alimentos é: {alimento}')

Índice 0 em alimentos é: tomate
Índice 1 em alimentos é: abacate
Índice 2 em alimentos é: feijão
Índice 3 em alimentos é: arroz

Percorrendo Múltiplas Listas com **zip()**

In [203]:
autor = ['Aldous Huxley','George Orwell','Jacques Ellul']
livro = ['Brave New World','1984','The Technological Society']

for a,l in zip(autor,livro):
    print('{} é autor do livro {}'.format(a,l))

Aldous Huxley é autor do livro Brave New World
George Orwell é autor do livro 1984
Jacques Ellul é autor do livro The Technological Society

Os Operadores **in** e **not**

In [206]:
periféricos = ['teclado','monitor','microfone']

'mouse' in periféricos

False

In [207]:
'teclado' in periféricos

True

In [208]:
'mouse' not in periféricos

True

In [209]:
'teclado' not in periféricos

False

### O Truque da Atribuição Múltipla

O truque de atribuição múltipla é um atalho que permite atribuir várias variáveis com os valores em uma lista em uma linha de código.

Então, em vez de fazer isso:

In [210]:
gato = ['Félix','Preto','Veloz']

nome = gato[0]
cor = gato[1]
agilidade = gato[2]

print('{} é um gato {} e {}'.format(nome,cor,agilidade))

Félix é um gato Preto e Veloz

Podemos usar este atalho, que torna muito mais simples e legível:

In [211]:
nome, cor, agilidade = gato

print('{} é um gato {} e {}'.format(nome,cor,agilidade))

Félix é um gato Preto e Veloz

O truque de atribuição múltipla também pode ser usado para trocar os valores de duas variáveis:

In [212]:
a, b = 20, 30
print(a,b)
a, b = b, a
print(a,b)

20 30
30 20

### Operadores de Atribuição Augmented

| Operador    | Equivalência      |
| ----------- | ----------------- |
| `spam += 1` | `spam = spam + 1` |
| `spam -= 1` | `spam = spam - 1` |
| `spam *= 1` | `spam = spam * 1` |
| `spam /= 1` | `spam = spam / 1` |
| `spam %= 1` | `spam = spam % 1` |

In [213]:
spam = 'Hello'
spam += ' World'
spam

'Hello World'

In [214]:
anime = ['Naruto']
anime *= 4
anime

['Naruto', 'Naruto', 'Naruto', 'Naruto']

In [215]:
n = 0
n += 1
n -= 1
print(n)

0

Encontrar um Valor em uma Lista com o método **index()**:

In [217]:
animes = ['Dragon Ball','Death Note','Hellsing']

animes.index('Hellsing')

2

Adicionando Valores a Listas com os métodos **append()** e **insert()**

**append()**:

In [218]:
animes.append('Shurato')

In [219]:
animes

['Dragon Ball', 'Death Note', 'Hellsing', 'Shurato']

**insert()**:

In [220]:
animes.insert(1,'Pokémon')

In [221]:
animes

['Dragon Ball', 'Pokémon', 'Death Note', 'Hellsing', 'Shurato']

Removendo Valores de Listas com o método **remove()**:

In [222]:
animes.remove('Death Note')

In [223]:
animes

['Dragon Ball', 'Pokémon', 'Hellsing', 'Shurato']

Se o valor aparecer várias vezes na lista, apenas a primeira instância do valor será removida.

Removendo valores de listas com **pop()**:

In [224]:
animes

['Dragon Ball', 'Pokémon', 'Hellsing', 'Shurato']

In [225]:
animes.pop()

'Shurato'

In [226]:
animes

['Dragon Ball', 'Pokémon', 'Hellsing']

In [227]:
animes.pop(0)

'Dragon Ball'

In [228]:
animes

['Pokémon', 'Hellsing']

Ordenando os Valores em uma Lista com o método **sort()**:

In [229]:
números = [1,13,27,4,3,6,19]
números.sort()
números

[1, 3, 4, 6, 13, 19, 27]

In [230]:
deuses = ['Zeus','Thor','Hades','Shiva','Krishna','Marte','Heimdall']
deuses.sort()
deuses

['Hades', 'Heimdall', 'Krishna', 'Marte', 'Shiva', 'Thor', 'Zeus']

Podemos também passar **True** para o argumento de palavra-chave `reverse` para que o método **sort()** ordene os valores na ordem inversa:

In [231]:
deuses.sort(reverse=True)
deuses

['Zeus', 'Thor', 'Shiva', 'Marte', 'Krishna', 'Heimdall', 'Hades']

Se você precisar ordenar os valores em ordem alfabética regular, passe `str.lower` para o argumento de palavra-chave **key** na chamada do método **sort()**:

In [232]:
letras = ['b','f','g','j','x','a']
letras.sort(key=str.lower)
letras

['a', 'b', 'f', 'g', 'j', 'x']

Podemos usar a função integrada **sorted()** para retornar uma nova lista:

In [233]:
sorted(deuses)

['Hades', 'Heimdall', 'Krishna', 'Marte', 'Shiva', 'Thor', 'Zeus']

### Tipo de Dados Tupla

In [239]:
pessoa = ('Machado de Assis', 40, 'Escritor')

In [240]:
pessoa

('Machado de Assis', 40, 'Escritor')

In [241]:
pessoa[0]

'Machado de Assis'

In [242]:
pessoa[1:3]

(40, 'Escritor')

In [243]:
len(pessoa)

3

A principal maneira pelo qual as tuplas são diferentes das listas é que as tuplas, como as strings, são **imutáveis**.

Convertendo tipos com as funções **list()** e **tupla()**

In [244]:
tuple(['cachorro','gato','coelho'])

('cachorro', 'gato', 'coelho')

In [245]:
list(('cachorro','gato','coelho'))

['cachorro', 'gato', 'coelho']

In [246]:
list('cachorro')

['c', 'a', 'c', 'h', 'o', 'r', 'r', 'o']

### Dicionários e Dados Estruturados

Exemplo de um dicionário:

In [247]:
pokémon = {'Nome':'Charizard','Tipo':'Fogo','Geração':1}

Acessando Dados:

In [248]:
pokémon['Nome']

'Charizard'

In [249]:
pokémon['Tipo']

'Fogo'

Os métodos **keys()**, **values()** e **items()**

**valeus()**:

In [252]:
for v in pokémon.values():
    print(v)

Charizard
Fogo
1

**keys()**:

In [253]:
for k in pokémon.keys():
    print(k)

Nome
Tipo
Geração

**items()**:

In [255]:
for i in pokémon.items():
    print(i)

('Nome', 'Charizard')
('Tipo', 'Fogo')
('Geração', 1)

Usando os métodos **keys()**, **values()** e **items()**, um loop **for** pode iterar sob as chaves, valores ou pares de valores-chave em um dicionário, respectivamente.

In [256]:
for k,v in pokémon.items():
    print('Chave: {} | Valor: {}'.format(k,str(v)))

Chave: Nome | Valor: Charizard
Chave: Tipo | Valor: Fogo
Chave: Geração | Valor: 1

Verificando se uma chave ou valor existem em um dicionário

In [257]:
'Nome' in pokémon.keys()

True

In [258]:
'Charizard' in pokémon.values()

True

Podemos omitir a chamada para **keys()** ao verificar se há uma chave:

In [259]:
'Geração' in pokémon

True

In [260]:
'Tipo' not in pokémon

False

O método **get()**

**get** tem dois parâmetros: chave e valor-padrão se a chave não existir

In [261]:
frutas = {'laranja': 6, 'limão': 8}

In [262]:
'Eu estou levando {} limãos'.format(frutas.get('limão'))

'Eu estou levando 8 limãos'

In [265]:
'Eu estou levando {} abacates'.format(frutas.get('abacate',0))

'Eu estou levando 0 abacates'

O método **setdefault()**

Vamos agora considerar este código:

In [266]:
pessoa = {'nome':'Miguel','idade':28}

if 'país' not in pessoa:
    pessoa['país'] = 'Brasil'
    
pessoa

{'nome': 'Miguel', 'idade': 28, 'país': 'Brasil'}

Ao usarmos **setdefault()** podemos escrever o mesmo código de forma mais legível:

In [267]:
pessoa = {'nome':'Miguel','idade':28}
pessoa.setdefault('páis','Brasil')
pessoa

{'nome': 'Miguel', 'idade': 28, 'páis': 'Brasil'}

### Pretty Printing

In [268]:
import pprint

mensagem = 'O Rato Roeu a Roupa do Rei de Roma'
contador = {}

for caracter in mensagem:
    contador.setdefault(caracter, 0)
    contador[caracter] += 1

pprint.pprint(contador)

{' ': 8,
 'O': 1,
 'R': 5,
 'a': 4,
 'd': 2,
 'e': 3,
 'i': 1,
 'm': 1,
 'o': 5,
 'p': 1,
 't': 1,
 'u': 2}

### Unindo dois Dicionários

Opção 1 (Python 3.5+):

In [269]:
x = {'a': 1, 'b': 2}
y = {'b': 3, 'c': 4}
z = {**x, **y}
z

{'a': 1, 'b': 3, 'c': 4}

Opção 2 (Python 2.7):

In [270]:
z = dict(x, **y)
z

{'a': 1, 'b': 3, 'c': 4}